<div @tijl class="box-right-car p-0 col-lg-3 col-md-4">
  <div>
    <div *ngIf="step>0" class="p-2 mt-3 ml-2 mr-2">
      <h6 class="font-weight-600">Resumen de compra</h6>
    </div>
    <div class="block-dashboard mr-3 ml-3 p-4">
      <h6 *ngIf="total && total['price_normal']" class="d-flex justify-content-between">
        <span>{{"shopping.car.total_items" |translate}}:</span>
        <span>{{total['price_normal'] | number:'1.2-2'}}
          <span>{{"currency" | translate}}</span></span>
      </h6>
      <h6 *ngIf="total && total['price_normal']" class="d-flex justify-content-between">
        <span>{{"shopping.car.total_shipping" | translate}}:</span>
        <span>{{shipping | number:'1.2-2'}} <span>{{"currency" | translate}}</span></span>
      </h6>
      <h6 *ngIf="total && total['price_normal']" class="d-flex justify-content-between">
        <span>{{"shopping.car.total" |translate}}:</span>
        <span>{{(total['price_normal'] + shipping) | number:'1.2-2'}}
          <span>{{"currency" | translate}}</span></span>
      </h6>

    </div>
  </div>
  <div *ngIf="step>1" class="m-3 block-dashboard pt-1">
    <app-shopping-cart [showMenu]="false"></app-shopping-cart>
  </div>
  <div *ngIf="step>2" class="m-3 block-dashboard pt-1">
    <app-address-shopping-cart></app-address-shopping-cart>
  </div>
</div>
