.box-right-car {
  position: fixed;
  right: 0;
  overflow-x: auto;
  top: 70px;
  height: 100vh;
  background: #efefef;
  padding-bottom: 70px !important;
}

.block-dashboard {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  display: block;
  padding: 0;
  background-color: white;
}

@media screen
and (max-width: 450px) {
    .box-right-car{
      display: none;
    }
 
}
