<div class="box-right-car col-lg-4 col-md-4">
  <div>
    <div *ngIf="step>0" class="p-2 mt-3 ml-2 mr-2">
      <h6 class="font-weight-600">Resumen de compra</h6>
    </div>
    <div class="block-dashboard mr-3 ml-3 p-4">
      <h6 class="font-weight-600">Total: 100</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, eveniet?</p>
      <div *ngIf="step<2" class="text-center mt-2">
        <button class="btn btn-outline-secondary btn-block">
          Hacer pedido
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="step>1" class="m-3 block-dashboard pt-1">
    <app-shopping-cart [showMenu]="false"></app-shopping-cart>
  </div>
</div>
