<form [formGroup]="form" (submit)="save()">
  <div *ngIf="loading">
    <div class="timeline-item">
      <div class="animated-background" style="height: 40px">
        <div class="background-masker header-top"></div>
        <div class="background-masker header-left"></div>
        <div class="background-masker header-right"></div>
        <div class="background-masker header-bottom"></div>
        <div class="background-masker subheader-left"></div>
        <div class="background-masker subheader-right"></div>
        <div class="background-masker subheader-bottom"></div>

      </div>
      <div class="animated-background mt-3" style="height: 40px">
        <div class="background-masker header-top"></div>
        <div class="background-masker header-left"></div>
        <div class="background-masker header-right"></div>
        <div class="background-masker header-bottom"></div>
        <div class="background-masker subheader-left"></div>
        <div class="background-masker subheader-right"></div>
        <div class="background-masker subheader-bottom"></div>

      </div>
    </div>
  </div>
  <div class="card block-dashboard border-0" *ngIf="!loading">
    <div class="card-header"><b>Datos de tienda</b></div>
    <div class="col p-3">
      <div class="form-group">
        <label>Nombre</label>
        <input type="text" formControlName="name" class="form-control" [(ngModel)]="editform.name"
               placeholder="¿Como es el nombre de tu tienda?">
        <small class="text-muted mt-2 ml-2 mr-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi,
          tenetur.
        </small>
      </div>

      <div class="form-group">
        <label>CIF</label>
        <input type="text" formControlName="legal_id" class="form-control" [(ngModel)]="editform.legal_id"
               placeholder="¿Cual tu CIF?">
        <small class="text-muted mt-2 ml-2 mr-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi,
          tenetur.
        </small>
      </div>

      <div class="form-group">
        <label>Email corporativo</label>
        <input type="email" formControlName="email_corporate" class="form-control"
               [(ngModel)]="editform.email_corporate"
               placeholder="Ingresa email corporativo">
        <small class="text-muted mt-2 ml-2 mr-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi,
          tenetur.
        </small>
      </div>

      <div class="form-group">
        <label>Telefono movil</label>
        <input type="text" formControlName="phone_mobil" class="form-control"
               [(ngModel)]="editform.phone_mobil"
               placeholder="Ingresa telefono movil">
        <small class="text-muted mt-2 ml-2 mr-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi,
          tenetur.
        </small>
      </div>

      <div class="form-group">
        <label>Telefono fijo</label>
        <input type="text" formControlName="phone_fixed" class="form-control"
               [(ngModel)]="editform.phone_fixed"
               placeholder="Ingresa telefono fijo">
        <small class="text-muted mt-2 ml-2 mr-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi,
          tenetur.
        </small>
      </div>

      <div class="form-group">
        <label>Dirección</label>
        <input type="text" formControlName="address" class="form-control"
               [(ngModel)]="editform.address"
               placeholder="Direccion de la tienda">
        <small class="text-muted mt-2 ml-2 mr-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi,
          tenetur.
        </small>
      </div>

      <div class="form-group">
        <label>Palabras clave</label>
        <input type="text" formControlName="meta_key" class="form-control"
               [(ngModel)]="editform.meta_key"
               placeholder="Palabras clave separada por comas">
        <small class="text-muted mt-2 ml-2 mr-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi,
          tenetur.
        </small>
      </div>
      <!--      <div class="form-group">-->
      <!--        <label>Contraseña</label>-->
      <!--        <input type="tel" formControlName="password" [(ngModel)]="editform.password" class="form-control"-->
      <!--               placeholder="Ingresa un numero de movil válido">-->
      <!--      </div>-->

    </div>
    <div class="card-footer text-right">

      <button  class="btn btn-primary btn-sm" tabindex="0">
        <fa name="save"></fa>
      </button>
    </div>
  </div>
</form>
