<div @tijl class="CollectionGrid-container category-box">
  <div class="best-pro slider-items-products container ">
    <div class="new_title mb-4">
      <h2>{{"box_shops.title" | translate}}</h2>
    </div>
    <div *ngIf="data && data.length" class="CollectionGrid container ">
      <owl-carousel
        #owlCategories
        [options]="optionsOws"
        [items]="data"
        [carouselClasses]="['owl-theme', 'sliding']">
        <div class="item cursor-pointer" *ngFor="let dat of data;let i = index">
          <a class="CollectionGrid-tile hover-overlay-light" *ngIf="dat && dat['name']"
             [routerLink]="['/','store',dat['id']+'-'+util.slug(dat['name'])]">
            <div class="CollectionGrid-tileImage align-center">
              <img class="item-img" [src]="dat['image_cover_medium']" [alt]="dat['name']">
            </div>
            <div class="CollectionGrid-tileName js-dotdotdot">
              {{dat['name']}}
            </div>
          </a>
        </div>
      </owl-carousel>

    </div>
    <div *ngIf="data && !data.length" class="product-flexslider hidden-buttons bg-white">
      <div class="not-results text-lg-center p-4">

        <div class="pt-4">
          <img class="mr-3" src="../../../../../../assets/images/loupe.svg" width="30" height="30px" alt="">
          <span class="title">{{"box_featured.product.not_found" |translate}}</span>
          <p class="text-muted">{{"box_featured.product.post" | translate}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
