<div class="CollectionGrid-container">
  <div class="best-pro slider-items-products container">
    <div class="new_title">
      <h2>Las mejores tiendas te esperan</h2>
    </div>
    <div class="CollectionGrid container">
      <a class="CollectionGrid-tile hover-overlay-light" href="index.html#">
        <div class="CollectionGrid-tileImage align-center">
          <img src="http://via.placeholder.com/640x640" alt="bags">
        </div>
        <div class="CollectionGrid-tileName js-dotdotdot">
          Handbags
        </div>
      </a>
      <a class="CollectionGrid-tile hover-overlay-light" href="index.html#">
        <div class="CollectionGrid-tileImage align-center">
          <img src="http://via.placeholder.com/640x640" alt="bags">
        </div>
        <div class="CollectionGrid-tileName js-dotdotdot">
          Lighting
        </div>
      </a><a class="CollectionGrid-tile hover-overlay-light" href="index.html#">
      <div class="CollectionGrid-tileImage align-center">
        <img src="http://via.placeholder.com/640x640" alt="bags">
      </div>
      <div class="CollectionGrid-tileName js-dotdotdot">
        Kids
      </div>
    </a><a class="CollectionGrid-tile hover-overlay-light" href="index.html#">
      <div class="CollectionGrid-tileImage align-center">
        <img src="http://via.placeholder.com/640x640" alt="bags">
      </div>
      <div class="CollectionGrid-tileName js-dotdotdot">
        Watches
      </div>
    </a><a class="CollectionGrid-tile hover-overlay-light" href="index.html#">
      <div class="CollectionGrid-tileImage align-center">
        <img src="http://via.placeholder.com/640x640" alt="bags">
      </div>
      <div class="CollectionGrid-tileName js-dotdotdot">
        kitchen
      </div>
    </a>
    </div>
  </div>
