.fondoface {
  background-color: #4267b2!important;
  color: #ffffff!important;
}
.fondogoole {
  background-color: #df4b37!important;
  color: #ffffff!important;
}
.page-heading{
  background-color: #2980b9 !important;
  height: 300px;
  /*6e3d50*/
}
.block-login{
  background: white;
    min-height: 300px;
    border-radius: 5px;
    margin-top: -130px;
}

.margin-block-login{
  margin-top: -130px;
}

.main-container{
  min-height: 100px;
}

.btn-facebook{
  background-color: #3b5998;
  color:white;
}
.btn-facebook:hover{
  border-color: #5873aa !important;
}
.btn-google{
  background-color: #D44638;
  color:white;
}
.btn-google:hover{
  border-color: #B23121 !important;
}

@media screen
and (max-width: 450px) {
  app-block-login{
      padding-left: 0px !important;
      padding-right: 0px !important;
  }
  .logo-container{
    display: none
  }
}
