<div class="page-heading">
  <div class="container logo-container">
    <div class="row">
      <div class="col-12 text-center">
        <a routerLink="/">
          <img src="../../../../../assets/images/logo-e-maravill.png" height="60" alt="">
        </a>
      </div>
      <!--col-xs-12-->
    </div>
    <!--row-->
  </div>
  <!--container-->
</div>
<div class="container">
  <app-block-login [title]="true" redirect="/" class="col-lg-6 offset-lg-3 d-block margin-block-login"></app-block-login>
</div>

<!-- BEGIN Main Container -->

<!--col1-layout-->
<!-- For version 1,2,3,4,6 -->
