<div class="page-heading">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <a routerLink="/">
          <img src="../../../../../assets/images/logo-cuadrado-blano.png" height="110" alt="">
        </a>
      </div>
      <!--col-xs-12-->
    </div>
    <!--row-->
  </div>
  <!--container-->
</div>
<div class="container">
  <div class="col-6 offset-md-3 block-login p-4">
    <h5 class="text-center font-weight-bold">¡Hola! Ingresa tu e‑mail o usuario</h5>
    <p class="text-center mb-4 text-muted">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, vitae.
    </p>
    <div class="pt-4">
      <form class="form-group ml-4 mr-4" [formGroup]="form" (ngSubmit)="login()">

        <div class="form-group" [hidden]="steps!==1" [ngClass]="{'has-danger': submitted && f.email.errors }">
          <input type="email" class="form-control" formControlName="email" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group" [hidden]="steps!==2" [ngClass]="{'has-danger': submitted && f.password.errors }">
          <input type="password" class="form-control" formControlName="password" placeholder="Enter password">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>

        <div class="form-group" [hidden]="steps!==3" [ngClass]="{'has-danger': submitted && f.name.errors }">
          <input type="text" class="form-control" formControlName="name" placeholder="Enter name">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>

        <div *ngIf="!loading">
          <div class="text-center" *ngIf="steps===1" (click)="steps = 2">
            <button class="btn btn-block btn-outline-primary mt-2" [disabled]="f.email.errors" type="button">
              Continuar
            </button>
          </div>
          <div class="text-center" *ngIf="steps===2">
            <button class="btn btn-block btn-outline-primary mt-2" [disabled]="f.password.errors" type="submit">
              Continuar
            </button>
          </div>
          <div class="text-center" *ngIf="steps===3">
              <button class="btn btn-block btn-outline-primary mt-2" [disabled]="f.name.errors" type="submit">
                Continuar
              </button>
            </div>
        </div>
        <div *ngIf="loading">
          <div class="btn btn-default btn-block disabled">
            <fa name="spinner" animation="spin"></fa>
          </div>
        </div>

      </form>

    </div>
    <hr>
    <div class="text-center">

      <p class="text-muted">Sign In with Your Google Account,
        We'll never post anything without your permission.
      </p>
      <button (click)="signInWithFB()" type="butotn" class="btn btn-lg btn-facebook" title="Login"
        name="send"><span>Facebook</span>
      </button>
      <button (click)="signInWithGoogle()" type="butotn" class="btn btn-lg ml-2 btn-google" title="Login"
        name="send"><span>Google</span>
      </button>
    </div>
  </div>
</div>

<!-- BEGIN Main Container -->

<div class="main-container col1-layout wow bounceInUp animated animated" style="visibility: visible;">

  <div class="main">
    <div class="account-login container">
      <!--page-title-->
      <fieldset class="col2-set" style="display: none">
        <div class="col-md-6 new-users">
          <strong>New Customers</strong>
          <div class="content">

            <p>By creating an account with our store, you will be able to move through the checkout process faster,
              store multiple shipping addresses, view and track your orders in your account and more.</p>
            <div class="buttons-set">
              <button type="button" title="Create an Account" class="button create-account"
                onClick=""><span><span>Create an Account</span></span>
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-6 registered-users">
          <strong>Registered Customers</strong>
          <div class="content">
            <form [formGroup]="form" (submit)="login()" id="login-form">
              <p>If you have an account with us, please log in.</p>
              <ul class="form-list">
                <li>
                  <label for="email">Email Address<em class="required">*</em></label>
                  <div class="input-box">
                    <input formControlName="email" type="text" name="login[username]" value="" id="email"
                      class="input-text required-entry validate-email" title="Email Address">
                  </div>
                </li>
                <li>
                  <label for="pass">Password<em class="required">*</em></label>
                  <div class="input-box">
                    <input formControlName="password" type="password" name="login[password]"
                      class="input-text required-entry validate-password" id="pass" title="Password">
                  </div>
                </li>
              </ul>
              <div class="remember-me-popup">
                <div class="remember-me-popup-head" style="display:none">
                  <h3 id="text2">What's this?</h3>
                  <a href="#" class="remember-me-popup-close" onClick="showDiv()" title="Close">Close</a>
                </div>
                <div class="remember-me-popup-body" style="display:none">
                  <p id="text1">Checking "Remember Me" will let you access your shopping cart on this computer when you
                    are logged out</p>
                  <div class="remember-me-popup-close-button a-right">
                    <a href="#" class="remember-me-popup-close button" title="Close" onClick="
            showDiv()"><span>Close</span></a>
                  </div>
                </div>
              </div>

              <p class="required">* Required Fields</p>


              <div class="buttons-set">

                <button type="submit" class="button login" title="Login" name="send" id="send2"><span>Login</span>
                </button>
                <button (click)="signInWithFB()" type="submit" class="button login fondoface" title="Login"
                  name="send"><span>Facebook</span>
                </button>
                <button (click)="signInWithGoogle()" type="submit" class="button login fondogoole" title="Login"
                  name="send"><span>Google</span>
                </button>
                <a href="#" class="forgot-word">Forgot Your Password?</a>
              </div>
              <!--buttons-set-->
            </form>
          </div>
          <!--content-->
        </div>
        <!--col-2 registered-users-->
      </fieldset>
      <!--col2-set-->
    </div>
    <!--account-login-->

  </div>
  <!--main-container-->


</div>
<!--col1-layout-->
<!-- For version 1,2,3,4,6 -->