<div class="card">
    <div class="card-header"><b>Últimos pagos registrados</b></div>

    <ul class="list-group border-0 ng-star-inserted">
        <!---->
        <li class="list-group-item border-0 rounded-0 p-2 mb-1 pointer ng-star-inserted" tabindex="0">
          <div class="d-flex align-items-center">
            <div class="col-1 text-center"><a class="avatar-sm" href="javascript:;"><img
                  class="rounded-circle object-fit-cover" height="35px" onerror="this.style.display='none'" width="35px"
                  src="https://www.notion.so/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F6dd2de0c-d9c1-4291-bf78-abf1bcb6acaa%2FWhatsApp_Image_2019-05-22_at_09.42.18s.jpeg"></a>
            </div>
            <div class="col-6 pointer">
              <div class="pl-3"><span class="d-block"><b class="font-weight-600">Karina J. flores Mendo</b></span><small
                  class="text-muted"> Jun 9, 2019 </small></div>
            </div>
            <div class="col-4 pointer">
              <div class="pl-3"><span class="d-block"><b class="text-muted font-weight-600">783.00</b><small
                    class="text-muted ml-1">usd</small></span><span class="badge badge-primary mr-3 text-white p-1"> stripe
                </span></div>
            </div>
            <div class="col-1 text-center">
              <!---->
              <h4 class="pointer" placement="bottom" aria-describedby="tooltip-6"><i
                  class="icon ion-lock-combination text-danger"></i></h4>
            </div>
          </div>
        </li>
        <li class="list-group-item border-0 rounded-0 p-2 mb-1 pointer ng-star-inserted" tabindex="0">
          <div class="d-flex align-items-center">
            <div class="col-1 text-center"><a class="avatar-sm" href="javascript:;"><img
                  class="rounded-circle object-fit-cover" height="35px" onerror="this.style.display='none'" width="35px"
                  src="https://www.notion.so/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F6dd2de0c-d9c1-4291-bf78-abf1bcb6acaa%2FWhatsApp_Image_2019-05-22_at_09.42.18s.jpeg"></a>
            </div>
            <div class="col-6 pointer">
              <div class="pl-3"><span class="d-block"><b class="font-weight-600">Delia Olivia García Gu</b></span><small
                  class="text-muted"> Jun 9, 2019 </small></div>
            </div>
            <div class="col-4 pointer">
              <div class="pl-3"><span class="d-block"><b class="text-muted font-weight-600">744.00</b><small
                    class="text-muted ml-1">usd</small></span><span class="badge badge-primary mr-3 text-white p-1"> stripe
                </span></div>
            </div>
            <div class="col-1 text-center">
              <!---->
              <h4 class="pointer" placement="bottom" aria-describedby="tooltip-7"><i
                  class="icon ion-lock-combination text-danger"></i></h4>
            </div>
          </div>
        </li>
        <li class="list-group-item border-0 rounded-0 p-2 mb-1 pointer ng-star-inserted" tabindex="0">
          <div class="d-flex align-items-center">
            <div class="col-1 text-center"><a class="avatar-sm" href="javascript:;"><img
                  class="rounded-circle object-fit-cover" height="35px" onerror="this.style.display='none'" width="35px"
                  src="https://media-mochileros.s3.us-east-2.amazonaws.com/upload/profile_ITzVeHR1VqEwlIHynK5JSSWRntFhu0N8c9XyIneE.png"></a>
            </div>
            <div class="col-6 pointer">
              <div class="pl-3"><span class="d-block"><b class="font-weight-600">James Mfc null</b></span><small
                  class="text-muted">
                  Jun
                  9, 2019 </small></div>
            </div>
            <div class="col-4 pointer">
              <div class="pl-3"><span class="d-block"><b class="text-muted font-weight-600">300.00</b><small
                    class="text-muted ml-1">usd</small></span><span class="badge badge-primary mr-3 text-white p-1"> stripe
                </span></div>
            </div>
            <div class="col-1 text-center">
              <!---->
              <h4 class="pointer" placement="bottom" aria-describedby="tooltip-8"><i
                  class="icon ion-lock-combination text-danger"></i></h4>
            </div>
          </div>
        </li>
        <li class="list-group-item border-0 rounded-0 p-2 mb-1 pointer ng-star-inserted" tabindex="0">
          <div class="d-flex align-items-center">
            <div class="col-1 text-center"><a class="avatar-sm" href="javascript:;"><img
                  class="rounded-circle object-fit-cover" height="35px" onerror="this.style.display='none'" width="35px"
                  src="https://media-mochileros.s3.us-east-2.amazonaws.com/upload/profile_BgNVRv0B0cFP7uRSHYJBDkPTqyL8PpnnYScCLrJR.png"></a>
            </div>
            <div class="col-6 pointer">
              <div class="pl-3"><span class="d-block"><b class="font-weight-600">Edgar David Peira Arai</b></span><small
                  class="text-muted"> Jun 8, 2019 </small></div>
            </div>
            <div class="col-4 pointer">
              <div class="pl-3"><span class="d-block"><b class="text-muted font-weight-600">825.00</b><small
                    class="text-muted ml-1">usd</small></span><span class="badge badge-primary mr-3 text-white p-1"> stripe
                </span></div>
            </div>
            <div class="col-1 text-center">
              <!---->
              <h4 class="pointer" placement="bottom" aria-describedby="tooltip-9"><i
                  class="icon ion-lock-combination text-danger"></i></h4>
            </div>
          </div>
        </li>
        <li class="list-group-item border-0 rounded-0 p-2 mb-1 pointer ng-star-inserted" tabindex="0">
          <div class="d-flex align-items-center">
            <div class="col-1 text-center"><a class="avatar-sm" href="javascript:;"><img
                  class="rounded-circle object-fit-cover" height="35px" onerror="this.style.display='none'" width="35px"
                  src="https://www.notion.so/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F6dd2de0c-d9c1-4291-bf78-abf1bcb6acaa%2FWhatsApp_Image_2019-05-22_at_09.42.18s.jpeg"></a>
            </div>
            <div class="col-6 pointer">
              <div class="pl-3"><span class="d-block"><b class="font-weight-600">Nestor Ivan Martinez J</b></span><small class="text-muted"> Jun 7,
                  2019 </small></div>
            </div>
            <div class="col-4 pointer">
              <div class="pl-3"><span class="d-block"><b class="text-muted font-weight-600">126.00</b><small
                    class="text-muted ml-1">USD</small></span><span class="badge badge-primary mr-3 text-white p-1"> paypal
                </span></div>
            </div>
            <div class="col-1 text-center">
              <!---->
              <h4 class="pointer" placement="bottom" aria-describedby="tooltip-10"><i
                  class="icon ion-lock-combination text-danger"></i></h4>
            </div>
          </div>
        </li>
        <li class="list-group-item border-0 rounded-0 p-2 mb-1 pointer ng-star-inserted" tabindex="0">
          <div class="d-flex align-items-center">
            <div class="col-1 text-center"><a class="avatar-sm" href="javascript:;"><img
                  class="rounded-circle object-fit-cover" height="35px" onerror="this.style.display='none'" width="35px"
                  src="https://www.notion.so/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F6dd2de0c-d9c1-4291-bf78-abf1bcb6acaa%2FWhatsApp_Image_2019-05-22_at_09.42.18s.jpeg"></a>
            </div>
            <div class="col-6 pointer">
              <div class="pl-3"><span class="d-block"><b class="font-weight-600">LEOANY TAMAYO AGUILAR </b></span><small class="text-muted"> Jun 6,
                  2019 </small></div>
            </div>
            <div class="col-4 pointer">
              <div class="pl-3"><span class="d-block"><b class="text-muted font-weight-600">1,890.50</b><small
                    class="text-muted ml-1">usd</small></span><span class="badge badge-primary mr-3 text-white p-1"> stripe
                </span></div>
            </div>
            <div class="col-1 text-center">
              <!---->
              <h4 class="pointer" placement="bottom" aria-describedby="tooltip-11"><i
                  class="icon ion-lock-combination text-danger"></i></h4>
            </div>
          </div>
        </li>
      </ul>
      <div class="card-footer"><button class="btn btn-default btn-sm" tabindex="0">Ver pagos</button>
      </div>
  </div>