.timeline-item{
    min-height: 250px;
    margin: 0;
    max-width: inherit
  }

  .card-header, .card-footer {
    background-color: transparent !important;
  }
  
  .card {
    border: 0px !important;
  }
  .card-footer {
    border-top: 0px solid rgba(0,0,0,.125);
  }
  
  .timeline-item{
    min-height: 405px;
    margin: 0;
  }

  h2{
    font-size: 25px;
    font-weight: 600;
  }