<div>
  <form>
      <div class="card block-dashboard border-0" *ngIf="!loading">
          <div class="card-header"><b>Total de ventas</b></div>
          <div class="col p-3">
            <div class="form-group">
              <h2 class="ml-3 mb-0">100 €</h2>
              <div [chart]="chart"></div>
              <small class="text-muted mt-2 ml-2 mr-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi,
                tenetur.
              </small>
            </div>    
          </div>
     
        </div>


    <div *ngIf="loading" class="p-2">
      <div class="timeline-item">
        <div class="animated-background" style="height: 40px">
          <div class="background-masker header-top"></div>
          <div class="background-masker header-left"></div>
          <div class="background-masker header-right"></div>
          <div class="background-masker header-bottom"></div>
          <div class="background-masker subheader-left"></div>
          <div class="background-masker subheader-right"></div>
          <div class="background-masker subheader-bottom"></div>

        </div>
        <div class="animated-background mt-3" style="height: 40px">
          <div class="background-masker header-top"></div>
          <div class="background-masker header-left"></div>
          <div class="background-masker header-right"></div>
          <div class="background-masker header-bottom"></div>
          <div class="background-masker subheader-left"></div>
          <div class="background-masker subheader-right"></div>
          <div class="background-masker subheader-bottom"></div>

        </div>
      </div>
    </div>

  </form>
</div>