<div class="footer-banner ">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 space">
        <div class="block2">
          <strong>New Arriavls</strong>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          <a href="index.html#">Learn More</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 space thumbnails">
        <div class="thumbnail_block">
          <img src="assets/images/chair.jpg" alt="">
          <div class="caption hovered">
            <div class="caption-wrapper">
              <div class="caption-inner">
                <h3>Top Collection</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p><a href="index.html#">View All</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 space">
        <div class="block2">
          <strong>Hot Deal</strong>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          <a href="index.html#">Learn More</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 space thumbnails">
        <div class="thumbnail_block">
          <img src="assets/images/app.jpg" alt="">
          <div class="caption hovered">
            <div class="caption-wrapper">
              <div class="caption-inner">
                <h3>Flipmart App</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p><a href="index.html#">Download</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
