<div class="main-container col1-layout wow bounceInUp animated animated">
  <app-side-bar-cart [step]="1"></app-side-bar-cart>
  <div class="main text-dark col-md-6 col-lg-9 col-xl-9">
    <div @tijl class="cart wow bounceInUp animated animated pl-4 pr-4">
      <div class="new_title">
        <h2>Carrito</h2>
      </div>
      <div class="table-responsive shopping-cart-tbl mt-4">
        <div *ngIf="loading">
          <ngx-content-loading [width]="1000" [height]="300">
            <svg:g ngx-rect width="800" height="10" y="10" x="0" rx="5" ry="5"></svg:g>
            <svg:g ngx-rect width="700" height="10" y="40" x="0" rx="5" ry="5"></svg:g>
            <svg:g ngx-rect width="600" height="10" y="70" x="0" rx="5" ry="5"></svg:g>
            <svg:g ngx-rect width="900" height="10" y="100" x="0" rx="5" ry="5"></svg:g>
          </ngx-content-loading>
        </div>
        <div *ngIf="!loading">
          <div *ngIf="data['list'] && !data['list'].length">
            <div class="text-center">
              <img src="../../../../../assets/images/shopping-cart-empty-side-view.svg" width="100" alt="Carrito Vacio">
              <h6 class="font-weight-600 mt-4">{{"shopping.car.first" |translate}}</h6>
              <p class="mt-3 text-muted">{{"shopping.car.second" |translate}}.</p>
            </div>
          </div>
          <div *ngIf="data['list'] && data['list'].length">
            <fieldset>
              <table id="shopping-cart-table" class="data-table cart-table table-striped">
                <thead>
                  <tr class="first last">
                    <th colspan="1"><span class="nobr">{{"shopping.car.product_name" |translate}}</span></th>
                    <th colspan="1"><span class="nobr"> {{"shopping.car.product_price" |translate}}</span></th>
                    <th colspan="1" class="a-center">&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let dat of data.list; let i = index">
                    <td class="image hidden-table d-flex">
                      <div class="d-flex">
                        <div class="mr-1">
                          <img class="img-product" [src]="dat['cover_image']['small']" alt="">
                        </div>
                        <div class="p-2">
                          <a [routerLink]="['/','single',dat['product_id'],util.slug(dat['name'])]">
                            <h6 class="mb-0 font-weight-600 text-dark">{{dat.name}}</h6>
                            <h6 class="mb-0 font-weight-600 text-dark">{{dat.label}}</h6>
                          </a>
                          <div>
                            <span class="text-muted">{{dat['shop_name']}}</span>
                          </div>
                        </div>
                      </div>

                    </td>
                    <td class="hidden-table">
                      <h5 class="font-weight-600 mb-0">{{dat['price_normal'] | number:'1.2-2'}}
                        <span>{{"currency" | translate}}</span>
                      </h5>
                      <del class="text-muted">{{dat['price_regular'] | number:'1.2-2'}}</del>
                      <!--                    <span class="text-muted" *ngIf="dat && dat['feed_amount']">-->
                      <!--                      <span tooltip="Comision de plataforma" tooltipPlacement="bottom">-->
                      <!--                        <fa name="question-circle"></fa>-->
                      <!--                      </span>-->
                      <!--                    </span>-->
                    </td>
                    <td class="text-right">
                      <button (click)="delete(dat.id, i)" type="button" [disabled]="loading_single === i"
                        class="btn btn-outline-secondary" title="Remove item">
                        <fa *ngIf="loading_single !== i" name="trash"></fa>
                        <fa *ngIf="loading_single === i" name="spinner" animation="spin"></fa>
                      </button>
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr class="first last">
                    <td colspan="7" class="last">
                      <div class="text-right pl-3 pr-3 mt-3">

                        <button [routerLink]="['/','checkout']" class="btn btn-primary">
                          Hacer pedido
                        </button>
                      </div>

                      <!--                  <button (click)="loadData()" type="submit" name="update_cart_action" value="update_qty"-->
                      <!--                          title="Update Cart"-->
                      <!--                          class="button btn-update">-->
                      <!--                    <span>-->
                      <!--                      <span>Update Cart</span>-->
                      <!--                    </span>-->
                      <!--                  </button>-->
                    </td>
                  </tr>
                </tfoot>
              </table>
            </fieldset>
          </div>
        </div>
      </div>
      <div>
        <div class="new_title_responsive mt-3 mb-3 ml-2 mr-2">
          <p>
            <b>{{"page.car.title" | translate}}</b>
          </p>
        </div>

        <div class="item-responsive" *ngFor="let dat of data?.list">
          <div class="d-flex justify-content-between">
            <div class="d-flex w-75">
              <div class="mr-2">
                <img width="60px" height="60px" [src]="dat['cover_image']['small']" alt="">
              </div>
              <div class="w-100 ml-2 pt-2 pr-2 pb-2">
                <div>{{dat.name  | words : 4 :  '...'}}</div>
                <span class="text-muted">{{dat.label}}</span>
              </div>
            </div>
            <div class="w-25 text-right pt-2">
              <div class="font-weight-600">{{dat['price_normal'] | number:'1.2-2'}} {{"currency" | translate}}</div>
              <small>
                <del>{{dat['price_regular'] | number:'1.2-2'}} {{"currency" | translate}}</del>
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- call to action responsive-->
  <div class="call-action-buy row m-0 d-flex container">
      <div class="col-12 p-0">
        <button   [routerLink]="['/','checkout']" type="button" class="btn btn-primary btn-block">
          {{"page.single.buy" |translate}}
        </button>
        <div class="pl-0 pr-0 pt-1">
            <small>
                {{"global.payment_sentence" | translate}}
            </small>
        </div>
      </div>
  </div>
  <!-- end call to action-->
</div>