.img-product {
  width: 75px;
  height: 75px;
  object-fit: contain;
}

.data-table tbody th, .data-table tbody td {
  min-height: 130px;
  border: 0;
}

.new_title h2 {
  color: #000;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0px;
  padding: 15px 0px 0px 0px;
  position: relative;
  display: inline-block;
  letter-spacing: 1px;
  margin-top: 0px;
  min-width: 250px;

}

.table-responsive {
  border: solid 1px #e8e8e8 !important;
  box-shadow: none;
}

.container-offset {
  margin-left: 12vw !important;
}

.call-action-buy {
  background: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  min-height: 3.5rem;
  z-index: 9;
  padding: .4rem;
  color: #2b2b2b;
  display: none;
  border-top: solid 1px #bfbfbf;
}

.block-item-responsive{
  display: none;
}

@media screen
and (max-width: 450px) {
  .cart, .main{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .new_title, .table-responsive{
    display: none;
  }
  .call-action-buy, .block-item-responsive {
    display:block;
  }
  
  .item-responsive{
    background-color: white;
    padding: .3rem .6rem .3rem .6rem;
    border-top: solid 1px #efeeee;
  }

  .main-container{
    margin-bottom: 100px;
  }
}
