.img-product {
  width: 75px;
  height: 75px;
  object-fit: contain;
}

.data-table tbody th, .data-table tbody td {
  min-height: 130px;
  border: 0;
}

.new_title h2 {
  color: #000;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0px;
  padding: 15px 0px 0px 0px;
  position: relative;
  display: inline-block;
  letter-spacing: 1px;
  margin-top: 0px;
  min-width: 250px;

}

.table-responsive {
  border: solid 1px #e8e8e8 !important;
  box-shadow: none;
}

.container-offset {
  margin-left: 12vw !important;
}

@media screen
and (max-width: 450px) {
  .cart, .main{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .new_title{
    display: none;
  }
  
  .item-responsive{
    background-color: white;
    padding: .3rem .6rem .3rem .6rem;
    border-top: solid 1px #e6e6e6;
  }
}
