<div *ngIf="loading" [style.opacity]="'.4'" class="best-pro slider-items-products container">
  <div class="CollectionGrid container min-height-300 mt-0">
    <div class="CollectionGrid-tile hover-overlay-light">
      <div class="timeline-item">
        <div class="animated-background" style="height: 150px">
        </div>
        <div class="animated-background mt-3" style="height: 40px">
          <div class="background-masker header-top"></div>
          <div class="background-masker header-left"></div>
          <div class="background-masker header-right"></div>
          <div class="background-masker header-bottom"></div>
          <div class="background-masker subheader-left"></div>
          <div class="background-masker subheader-right"></div>
          <div class="background-masker subheader-bottom"></div>

        </div>
      </div>
    </div>
    <div class="CollectionGrid-tile hover-overlay-light">
      <div class="timeline-item">
        <div class="animated-background" style="height: 150px">
        </div>
        <div class="animated-background mt-3" style="height: 40px">
          <div class="background-masker header-top"></div>
          <div class="background-masker header-left"></div>
          <div class="background-masker header-right"></div>
          <div class="background-masker header-bottom"></div>
          <div class="background-masker subheader-left"></div>
          <div class="background-masker subheader-right"></div>
          <div class="background-masker subheader-bottom"></div>

        </div>
      </div>
    </div>
    <div class="CollectionGrid-tile hover-overlay-light">
      <div class="timeline-item">
        <div class="animated-background" style="height: 150px">
        </div>
        <div class="animated-background mt-3" style="height: 40px">
          <div class="background-masker header-top"></div>
          <div class="background-masker header-left"></div>
          <div class="background-masker header-right"></div>
          <div class="background-masker header-bottom"></div>
          <div class="background-masker subheader-left"></div>
          <div class="background-masker subheader-right"></div>
          <div class="background-masker subheader-bottom"></div>

        </div>
      </div>
    </div>
    <div class="CollectionGrid-tile hover-overlay-light">
      <div class="timeline-item">
        <div class="animated-background" style="height: 150px">
        </div>
        <div class="animated-background mt-3" style="height: 40px">
          <div class="background-masker header-top"></div>
          <div class="background-masker header-left"></div>
          <div class="background-masker header-right"></div>
          <div class="background-masker header-bottom"></div>
          <div class="background-masker subheader-left"></div>
          <div class="background-masker subheader-right"></div>
          <div class="background-masker subheader-bottom"></div>

        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!loading && (data?.list?.data?.length)"
     class="best-pro slider-items-products container">
  <div id="best-seller" class="product-flexslider hidden-buttons">
    <div class="slider-items  products-grid">
      <div class="container p-0">
        <div class="row m-0">
          <div class="item col-lg-3 col-6 mb-2 pl-0" *ngFor="let dat of data?.list?.data; let i = index">
            <div
              *ngIf="dat &&  dat['is_available'] && dat['is_available']['isAvailable']"
              class="box-buttons-top-product">
              <button id="btn-car" [ngClass]="{'btn-default':!loading_save, 'btn-default':loading_save}"
                      class="btn btn-add-cart-shopping"
                      [disabled]="loading_save"
                      type="button" (click)="open(dat)">
                    <span *ngIf="!loading_save">
                        <img class="mega-menu-hover" alt=""
                             src="../../../../../../assets/images/shopping-cart.svg" [style.width]="'20px'">
                    </span>
                <fa *ngIf="loading_save" name="spinner" animation="spin" size="lg"></fa>
              </button>
<!--              <a id="btn-car"-->
<!--                 [style.left]="'2.7rem'"-->
<!--                 [ngClass]="{'btn-default':!loading_save, 'btn-default':loading_save}"-->
<!--                 [routerLink]="['/','single',util.slug(dat['name'])+'-'+dat['id']]"-->
<!--                 class="btn btn-add-cart-shopping"-->
<!--                 target="_blank"-->
<!--                 type="button">-->
<!--                    <span *ngIf="!loading_save">-->
<!--                        <img alt=""-->
<!--                             src="../../../../../../assets/images/visibility.svg" [style.width]="'20px'">-->
<!--                    </span>-->
<!--                <fa *ngIf="loading_save" name="spinner" animation="spin" size="lg"></fa>-->
<!--              </a>-->
            </div>
            <div class="item">
              <div class="item-inner">
                <div class="item-img">
                  <div class="item-img-info">
                    <ngx-gallery [options]="galleryOptions" [images]="dat['gallery']"></ngx-gallery>
                  </div>
                </div>
                <a *ngIf="dat && dat['name']" target="_blank"
                   [routerLink]="['/','single',util.slug(dat['name'])+'-'+dat['id']]">
                  <div class="item-info">
                    <div id="info-box" class="info-inner">
                      <div *ngIf="dat['is_available']['nextOpen']" class="bubble-shipping">
                      </div>
                      <div class="item-title mb-0">
                            <span class="btn-link">
                                {{dat['name'] | truncate : 25 :  '...' }}
                            </span>
                      </div>
                      <small>
                        <a class="text-muted"
                           [routerLink]="['/','store',dat['shop_id']+'-'+util.slug(dat['shop_name'])]">
                          {{dat['shop_name']|  words : 4 }}
                        </a>
                      </small>
                      <div class="item-content d-flex">
                        <ngx-stars [readonly]="true" initialStars="{{dat['score_shop']}}"
                                   customPadding="2px" color="#b42025"></ngx-stars>
                        <small [style.fontSize]="'.5rem'" class="text-muted">({{dat['score_count']}})</small>
                      </div>
                      <div *ngIf="dat['is_available'] && ( dat['is_available']['isAvailable']!==false)">
                        <div class="d-flex"
                             *ngIf="dat['variations'] && (dat?.variations?.length)">
                          <div class="price-normal">
                                      <span class="item-price-amount">Desde
                                        {{dat['variations'][0]['price_normal'] |number:'1.2-2'}}
                                        <span class="euro-sign">€</span></span>
                          </div>
                          <div class="price-regular">
                                      <span class="item-price-amount text-muted font-weight-light">
                                          {{dat['variations'][0]['price_regular'] |number:'1.2-2'}}
                                          </span>
                          </div>
                        </div>

<!--                        <div class="d-flex"-->
<!--                             *ngIf="dat['variations'] && (dat?.variations?.length===1)">-->
<!--                          <div class="price-normal">-->
<!--                                        <span class="item-price-amount">-->
<!--                                            {{dat['variations']['price_normal'] |number:'1.2-2'}}-->
<!--                                          <span class="euro-sign">€</span></span>-->
<!--                          </div>-->
<!--                          <div class="price-regular">-->
<!--                                        <span class="item-price-amount text-muted font-weight-light">-->
<!--                                            {{dat['variations']['price_regular'] |number:'1.2-2'}}-->
<!--                                            </span>-->
<!--                          </div>-->
<!--                        </div>-->

                        <div *ngIf="dat['variations'] && (dat?.variations?.length===0)">
                                  <span class="item-price-amount-unavailable text-muted">
                                      <fa name="history"></fa>
                                   No stock</span>
                        </div>
                      </div>

                      <div *ngIf="dat['is_available'] && ( dat['is_available']['isAvailable']===false)">
                        <div *ngIf="dat['is_available']['nextOpen']">

                          <div>
                                  <span
                                    tooltip="Disponible"
                                    class="item-price-avalible-on">
                                      <small class="time-ago-string badge badge-warning" timeago
                                             [date]="timeAgoNext(dat['is_available']['minutes'])"></small>

                                  </span>
                          </div>
                        </div>
                        <div *ngIf="!dat['is_available']['nextOpen']">
                                <span class="item-price-amount-unavailable text-muted">
                                    <fa name="history"></fa>
                                 No disponible</span>
                        </div>

                      </div>

                    </div>
                  </div>
                </a>

              </div>
            </div>
          </div>
        </div>
        <div class="row m-0">
          <pagination [totalItems]="data?.list?.total"
                      [(ngModel)]="currentPage"
                      [itemsPerPage]="data?.list?.per_page"
                      [maxSize]="10"
                      [style.marginTop]="'3rem'"
                      class="ml-auto mb-4"
                      previousText="{{'b.prev' | translate}}" nextText="{{'b.next' | translate}}"
                      (pageChanged)="pageChanged($event,data?.list?.first_page_url)"></pagination>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!loading && !(data?.list?.data?.length)" class="p-4 text-center">
  <div class="col-9 pr-0 pl-0 pt-4">
    <img src="../../../../../assets/images/loupe.svg" width="50px" alt="">
    <h5 class="mt-4">En esta categoría no hay publicaciones que coincidan con tu búsqueda.</h5>
    <p><a [routerLink]="['/','search']">Ver más</a></p>
  </div>
</div>
