<div>
  <div *ngIf="loading">
    <div class="timeline-item">
      <div class="animated-background" style="height: 40px">
        <div class="background-masker header-top"></div>
        <div class="background-masker header-left"></div>
        <div class="background-masker header-right"></div>
        <div class="background-masker header-bottom"></div>
        <div class="background-masker subheader-left"></div>
        <div class="background-masker subheader-right"></div>
        <div class="background-masker subheader-bottom"></div>

      </div>
      <div class="animated-background mt-3" style="height: 40px">
        <div class="background-masker header-top"></div>
        <div class="background-masker header-left"></div>
        <div class="background-masker header-right"></div>
        <div class="background-masker header-bottom"></div>
        <div class="background-masker subheader-left"></div>
        <div class="background-masker subheader-right"></div>
        <div class="background-masker subheader-bottom"></div>

      </div>
    </div>
  </div>
  <div class="card block-dashboard border-0" *ngIf="!loading">
    <div class="card-header"><b>Horario de tienda</b></div>
    <div class="col p-3">
      <div class="form-group">
        <label>Lunes</label>
        <app-tab-day day="monday" [hours]="days"></app-tab-day>
        <small class="text-muted mr-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi,
          tenetur.
        </small>
      </div>
      <div class="form-group">
        <label>Martes</label>
        <app-tab-day day="tuesday" [hours]="days"></app-tab-day>
        <small class="text-muted mr-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi,
          tenetur.
        </small>
      </div>
      <div class="form-group">
        <label>Miercoles</label>
        <app-tab-day day="wednesday" [hours]="days"></app-tab-day>
        <small class="text-muted mr-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi,
          tenetur.
        </small>
      </div>
      <div class="form-group">
        <label>Jueves</label>
        <app-tab-day day="thursday" [hours]="days"></app-tab-day>
        <small class="text-muted mr-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi,
          tenetur.
        </small>
      </div>
      <div class="form-group">
        <label>Viernes</label>
        <app-tab-day day="friday" [hours]="days"></app-tab-day>
        <small class="text-muted mr-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi,
          tenetur.
        </small>
      </div>
      <div class="form-group">
        <label>Sabado</label>
        <app-tab-day day="saturday" [hours]="days"></app-tab-day>
        <small class="text-muted mr-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi,
          tenetur.
        </small>
      </div>
      <div class="form-group">
        <label>Domingo</label>
        <app-tab-day day="sunday" [hours]="days"></app-tab-day>
        <small class="text-muted mr-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi,
          tenetur.
        </small>
      </div>
    </div>
    <div class="card-footer text-right">

      <button (click)="saveData()" type="button" class="btn btn-primary btn-sm" tabindex="0">
        <fa name="save"></fa>
      </button>
    </div>
  </div>
</div>
