.second-nav{
  display: none;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1400px;
  }
}


@media screen
and (max-width: 450px) {
  .breadcrumbs{
    display: none;
  }

  .second-nav{
    display: block;
  }

  .container{
    padding-right: 0;
    padding-left: .4rem;
    padding-top: .1rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px){
  .wrap {
    padding-right: 0px !important;
    padding-left: .5rem !important;
    margin-top: 3.3rem !important;
  }
}
