<div id='thm_slider_wrapper' class='thm_slider_wrapper border-color fullwidthbanner-container'>
  <div id='thm-rev-slider' class='rev_slider fullwidthabanner'>
    <div class="nav-buttons">
      <button class="btn btn-lg banner-prev" (click)="owlElement.previous([800])">
        <fa size="2x" name="angle-left"></fa>
      </button>
      <button class="btn btn-lg banner-next" (click)="owlElement.next([800])">
        <fa size="2x" name="angle-right"></fa>
      </button>
    </div>

    <owl-carousel
      #owlElement
      *ngIf="data && data.length"
      [options]="optionsGallery"
      [items]="data"
      [carouselClasses]="['owl-theme', 'sliding']">
      <div class="item cursor-pointer" [attr.data-media-type]="dat['media_type']"
      [attr.data-index]="i"
      *ngFor="let dat of data;let i = index">
          <div class="tap-play-video-banner" *ngIf="dat['media_type'] === 'video'">
              <div *ngIf="!modeOffset" class="in" (click)="modeVideo(true)">
                <span>
                  Vista 
                  <fa name="play" size="2x"></fa>
                </span>
              </div>
              <div *ngIf="modeOffset" class="in" (click)="modeVideo(false)">
                  <span>
                    NO 
                    <fa name="play" size="2x"></fa>
                  </span>
                </div>
            </div>
        <a [href]="dat['url']" target="_blank">
          <div class="thumbnail-image">
            <vg-player *ngIf="dat['media_type']==='video'" 
            data="video"
            [style.height]="modeOffset ? '70vh' : auto"
            class="video-banner" (onPlayerReady)="onPlayerReady($event, i)">
              <video controls [vgMedia]="media" muted #media id="singleVideo" class="video-box"
                     preload="auto">
                <source
                  src="https://storage.googleapis.com/ecommerce-apatxee-v2.appspot.com/public/upload/products/video_mQvpOQzdDOqdTb57IF7V3DWSoNVDqSd4mBl.mp4/Ff48WwMRoIQRE30k9WUz7birrxzmmqcOVDxhA0t4.mp4"
                  type="video/mp4">
              </video>
            </vg-player>
            <!--          https://storage.googleapis.com/ecommerce-apatxee-v2.appspot.com/public/upload/products/video_mQvpOQzdDOqdTb57IF7V3DWSoNVDqSd4mBl.mp4/Ff48WwMRoIQRE30k9WUz7birrxzmmqcOVDxhA0t4.mp4-->

            <!--https://storage.googleapis.com/ecommerce-apatxee-v2.appspot.com/public/upload/products/video_GH7foBbWt6ZJs6Hd2DA9AlSkAagTITKDXwT.mp4/xSksKvJ0PxzzIf1TbrrPO1Ep3DJrNLXOJWPTHFUR.mp4-->
            <!--<vp-ngx-epic-video-player class="video-banner" #evp [videoId]="'my-own-id'"
            [autoplay]="true" [muted] ="true"
              url="https://video-dev.github.io/streams/x36xhzz/x36xhzz.m3u8">
            </vp-ngx-epic-video-player> -->
            <img *ngIf="dat['media_type']==='image'" class="image-banner" [src]="dat['attached_large']" [alt]="dat['title']">
          </div>
        </a>

      </div>
    </owl-carousel>
  </div>
</div>
