<div class="card block-dashboard border-0">
  <div class="card-header"><b>Direcciones</b></div>
  <div class="col p-3 min-height-300">
    <form>
      <div class="form-group">
        <label>Nombre</label>
        <input type="text" class="form-control" placeholder="Nombre completo">
      </div>

      <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" placeholder="name@example.com">
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    </form>
  </div>
  <div class="card-footer">
    <button class="btn btn-default btn-sm" tabindex="0">Agregar</button>
  </div>
</div>
