<div class="col-12">
  <div *ngIf="loading" class="card block-dashboard border-0">
    <div class="timeline-item ">
      <div class="animated-background" style="height: 40px">
        <div class="background-masker header-top"></div>
        <div class="background-masker header-left"></div>
        <div class="background-masker header-right"></div>
        <div class="background-masker header-bottom"></div>
        <div class="background-masker subheader-left"></div>
        <div class="background-masker subheader-right"></div>
        <div class="background-masker subheader-bottom"></div>

      </div>
      <div class="animated-background mt-3" style="height: 40px">
        <div class="background-masker header-top"></div>
        <div class="background-masker header-left"></div>
        <div class="background-masker header-right"></div>
        <div class="background-masker header-bottom"></div>
        <div class="background-masker subheader-left"></div>
        <div class="background-masker subheader-right"></div>
        <div class="background-masker subheader-bottom"></div>

      </div>
      <div class="animated-background mt-3" style="height: 40px">
        <div class="background-masker header-top"></div>
        <div class="background-masker header-left"></div>
        <div class="background-masker header-right"></div>
        <div class="background-masker header-bottom"></div>
        <div class="background-masker subheader-left"></div>
        <div class="background-masker subheader-right"></div>
        <div class="background-masker subheader-bottom"></div>

      </div>
      <div class="animated-background mt-3" style="height: 40px">
        <div class="background-masker header-top"></div>
        <div class="background-masker header-left"></div>
        <div class="background-masker header-right"></div>
        <div class="background-masker header-bottom"></div>
        <div class="background-masker subheader-left"></div>
        <div class="background-masker subheader-right"></div>
        <div class="background-masker subheader-bottom"></div>

      </div>
    </div>
  </div>
  <div *ngIf="!loading" class="card block-dashboard border-0 mb-2">
    <div class="col p-3">
      <div class="form-group d-flex" *ngIf="data_product">
        <div class="col-2 pl-0">
          <img
            *ngIf="data_product && data_product['cover_image']"
            [src]="data_product['cover_image']['medium']"
            class="img-main"
            width="100px" height="100px"
            alt="">
        </div>
        <div class="col-10">
          <h2><b>{{data_product['name'] | slice:0:100}}</b></h2>
          <p>{{data_product['short_description'] | slice:0:112}}</p>
          <p class="text-muted">
            {{data_product['description'] | slice:0:200}}
          </p>
        </div>
      </div>
    </div>
  </div>
  <tabset #staticTabs>
    <tab heading="Variaciones" id="tab1">
      <div class="card block-dashboard">
        <div *ngIf="list_variations && !list_variations['item'].length" class="text-center pb-4">
          <img src="../../../../../../../assets/images/paper-bag.svg"
               class="mt-4"
               width="100px" alt="">
          <div class="mt-2">
            <p class="text-muted">Aun no tienes variaciones</p>
          </div>
        </div>
      </div>
      <table *ngIf="list_variations && list_variations['item'].length" class="table table-shipment">
        <tbody>
        <ng-container *ngFor="let dat of list_variations['item'];let i = index">
          <tr *ngIf="dat['status']!=='delete'"
            class="list-table-item cursor-pointer">
            <td class="table-width-limit">
              <img
                [src]="dat['attacheds_small']"
                width="100px"
                class="image-bran"
                height="100px"
                alt="">
            </td>
            <td>
              <div>
                <span>{{dat['label']}}</span>
              </div>
              <span class="text-muted form-text">
              {{dat['observation']}}
            </span>
            </td>
            <td [style.width]="'100px'">
          <span>
            <h6>
              <b>{{dat['price_normal'] |number:'1.2-2'}}</b>
            </h6>
          </span>
            </td>
            <td [style.width]="'100px'">
              <span>
              <h6>{{dat['price_regular'] |number:'1.2-2'}}</h6>
            </span>
            </td>
            <td [style.width]="'150px'" class="text-center">
              <button
                (click)="open(dat, i)"
                class="btn btn-link btn-sm mr-1">
                <fa name="edit"></fa>
              </button>
              <button class="btn btn-link btn-sm" (click)="deleteProduct(dat, i)">
                <fa name="trash"></fa>
              </button>
            </td>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </tab>
    <tab heading="Nueva">
      <div *ngIf="!loading" class="card block-dashboard border-0">
        <form [formGroup]="form" (submit)="save()">
          <div class="card-header"><b>Agregar variacion</b></div>
          <div class="col p-3">
            <div class="form-group">
              <label>Etiqueta</label>
              <input type="text" formControlName="label" class="form-control" [(ngModel)]="editform.label"
                     placeholder="Talla Media">
              <small class="text-muted mt-2 ml-2 mr-2">Lorem, ipsum dolor sit amet consectetur adipisicing
                elit.
                Sequi,
                tenetur.
              </small>
            </div>
            <div class="d-flex">
              <div class="form-group pl-0 col-6">
                <label>Precio</label>
                <input type="text" formControlName="price_normal" class="form-control"
                       [(ngModel)]="editform.price_normal"
                       placeholder="100">
                <small class="text-muted mt-2 ml-2 mr-2">Lorem, ipsum dolor sit amet consectetur adipisicing
                  elit.
                  Sequi,
                  tenetur.
                </small>
              </div>
              <div class="form-group pl-0 col-6">
                <label>Precio comparación</label>
                <input type="text" formControlName="price_regular" class="form-control"
                       [(ngModel)]="editform.price_regular"
                       placeholder="150">
                <small class="text-muted mt-2 ml-2 mr-2">Lorem, ipsum dolor sit amet consectetur adipisicing
                  elit.
                  Sequi,
                  tenetur.
                </small>
              </div>
            </div>
            <div class="d-flex">
              <div class="col-3 pl-0 form-group">
                <label>Peso (gr)</label>
                <input type="text" formControlName="weight" class="form-control" [(ngModel)]="editform.weight"
                       placeholder="Peso de tu producto en gramos">
              </div>
              <div class="col-3 pl-0 form-group">
                <label>Ancho (cm)</label>
                <input type="text" formControlName="weight" class="form-control" [(ngModel)]="editform.width"
                       placeholder="Ancho del producto en centimetros">
              </div>
              <div class="col-3 pl-0 form-group">
                <label>Altura (cm)</label>
                <input type="text" formControlName="height" class="form-control" [(ngModel)]="editform.height"
                       placeholder="Altura del prodcuto en centimetros">
              </div>
              <div class="col-3 pl-0 form-group">
                <label>Profundidad (cm)</label>
                <input type="text" formControlName="length" class="form-control" [(ngModel)]="editform.length"
                       placeholder="Profundidad del prodcuto en centimetros">
              </div>
            </div>
            <div class="form-group">
              <label>Observacion</label>
              <input type="text" formControlName="observation" class="form-control" [(ngModel)]="editform.observation"
                     placeholder="Edicion especial color rojo">
              <small class="text-muted mt-2 ml-2 mr-2">Lorem, ipsum dolor sit amet consectetur adipisicing
                elit.
                Sequi,
                tenetur.
              </small>
            </div>

          </div>
          <app-data-gallery-product-variation
            (api)="dropzoneApiCallback($event)"
            (callback)="addMedia($event)"
            [controls]="false">
          </app-data-gallery-product-variation>
          <div class="card-footer text-right">
            <button class="btn btn-primary btn-sm" [disabled]="loading_save" tabindex="0">
              <fa *ngIf="!loading_save" name="save"></fa>
              <fa *ngIf="loading_save" name="spinner" animation="spin"></fa>
            </button>
          </div>
        </form>
      </div>
    </tab>
  </tabset>
</div>
