<div class="col-12">
  <div *ngIf="loading" class="card block-dashboard border-0">
    <div class="timeline-item ">
      <div class="animated-background" style="height: 40px">
        <div class="background-masker header-top"></div>
        <div class="background-masker header-left"></div>
        <div class="background-masker header-right"></div>
        <div class="background-masker header-bottom"></div>
        <div class="background-masker subheader-left"></div>
        <div class="background-masker subheader-right"></div>
        <div class="background-masker subheader-bottom"></div>

      </div>
      <div class="animated-background mt-3" style="height: 40px">
        <div class="background-masker header-top"></div>
        <div class="background-masker header-left"></div>
        <div class="background-masker header-right"></div>
        <div class="background-masker header-bottom"></div>
        <div class="background-masker subheader-left"></div>
        <div class="background-masker subheader-right"></div>
        <div class="background-masker subheader-bottom"></div>

      </div>
      <div class="animated-background mt-3" style="height: 40px">
        <div class="background-masker header-top"></div>
        <div class="background-masker header-left"></div>
        <div class="background-masker header-right"></div>
        <div class="background-masker header-bottom"></div>
        <div class="background-masker subheader-left"></div>
        <div class="background-masker subheader-right"></div>
        <div class="background-masker subheader-bottom"></div>

      </div>
      <div class="animated-background mt-3" style="height: 40px">
        <div class="background-masker header-top"></div>
        <div class="background-masker header-left"></div>
        <div class="background-masker header-right"></div>
        <div class="background-masker header-bottom"></div>
        <div class="background-masker subheader-left"></div>
        <div class="background-masker subheader-right"></div>
        <div class="background-masker subheader-bottom"></div>

      </div>
    </div>
  </div>

  <div *ngIf="!loading" class="card block-dashboard">
    <div>
      <div *ngIf="list_variations && !list_variations['item'].length" class="text-center pb-4">
        <img src="../../../../../../../assets/images/price-tag.svg" class="mt-4" width="100px" alt="">
        <div class="mt-2">
          <p class="text-muted cursor-pointer">Aun no tienes variaciones <br>
            <b class="text-dark" (click)="open()">Agregar</b></p>
        </div>
      </div>
    </div>
    <table *ngIf="list_variations && list_variations['item'].length" class="table table-shipment">
      <tbody>
      <ng-container>
        <tr class="list-table-item active cursor-pointer">
          <td>
            <div>
              <b>Añadir variacion</b>
            </div>
            <span class="text-muted form-text">
                Establece un precio a tu variacion
              </span>
          </td>
          <td>

          </td>
          <td [style.width]="'150px'" class="text-right">
            <button (click)="open()" class="btn btn-primary btn-sm mr-1">
              <fa name="plus"></fa>
            </button>

          </td>
        </tr>
      </ng-container>
      <ng-container *ngFor="let dat of list_variations['item'];let i = index">
        <tr *ngIf="dat['status']!=='delete'" class="list-table-item cursor-pointer">

          <td>
            <div>
              <span>{{dat['label']}}</span>
            </div>
            <span class="text-muted form-text">
                {{dat['observation']}}
              </span>
          </td>

          <td class="text-right" [style.width]="'250px'">
            <h6>{{dat['price_normal'] |number:'1.2-2'}} {{"currency" | translate}}</h6>
            <del class="text-muted">{{dat['price_regular'] |number:'1.2-2'}} {{"currency" | translate}}</del>
          </td>
          <td [style.width]="'150px'" class="text-right">
            <button (click)="open(dat, i)" class="btn btn-link btn-sm mr-1">
              <fa name="edit"></fa>
            </button>
            <button class="btn btn-link btn-sm" (click)="deleteProduct(dat, i)">
              <fa name="trash"></fa>
            </button>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
</div>
