<div class="col-12">
  <div *ngIf="loading" class="card block-dashboard border-0">
    <div class="timeline-item ">
      <div class="animated-background" style="height: 40px">
        <div class="background-masker header-top"></div>
        <div class="background-masker header-left"></div>
        <div class="background-masker header-right"></div>
        <div class="background-masker header-bottom"></div>
        <div class="background-masker subheader-left"></div>
        <div class="background-masker subheader-right"></div>
        <div class="background-masker subheader-bottom"></div>

      </div>
      <div class="animated-background mt-3" style="height: 40px">
        <div class="background-masker header-top"></div>
        <div class="background-masker header-left"></div>
        <div class="background-masker header-right"></div>
        <div class="background-masker header-bottom"></div>
        <div class="background-masker subheader-left"></div>
        <div class="background-masker subheader-right"></div>
        <div class="background-masker subheader-bottom"></div>

      </div>
      <div class="animated-background mt-3" style="height: 40px">
        <div class="background-masker header-top"></div>
        <div class="background-masker header-left"></div>
        <div class="background-masker header-right"></div>
        <div class="background-masker header-bottom"></div>
        <div class="background-masker subheader-left"></div>
        <div class="background-masker subheader-right"></div>
        <div class="background-masker subheader-bottom"></div>

      </div>
      <div class="animated-background mt-3" style="height: 40px">
        <div class="background-masker header-top"></div>
        <div class="background-masker header-left"></div>
        <div class="background-masker header-right"></div>
        <div class="background-masker header-bottom"></div>
        <div class="background-masker subheader-left"></div>
        <div class="background-masker subheader-right"></div>
        <div class="background-masker subheader-bottom"></div>

      </div>
    </div>
  </div>
  <div *ngIf="!loading" class="card block-dashboard border-0 mb-2">
    <div class="col p-3">
      <div class="form-group d-flex">
        <div class="col-2 pl-0">
          <img
            src="https://rukminim1.flixcart.com/image/612/612/jjelq4w0/shoe/m/u/t/tp1023-7-foot-locker-blue-original-imaf6jsd5c8zzhvu.jpeg?q=70"
            class="img-main"
            width="100px" height="100px"
            alt="">
        </div>
        <div class="col-10">
          <h2><b>{{data_product['name']}}</b></h2>
          <p>{{data_product['short_description']}}</p>
          <p class="text-muted">
            {{data_product['description']}}
          </p>
        </div>
      </div>


    </div>

  </div>
  <div *ngIf="!loading" class="card block-dashboard border-0">
    <form (submit)="save_variation()">
      <div class="card-header"><b>Agregar variacion</b></div>
      <div class="col p-3">
        <div class="form-group">
          <label>Categoria</label>

          <small class="text-muted mt-2 ml-2 mr-2">Lorem, ipsum dolor sit amet consectetur adipisicing
            elit.
            Sequi,
            tenetur.
          </small>
        </div>


      </div>
      <div class="card-footer text-right">

        <button class="btn btn-primary btn-sm" tabindex="0">
          <fa name="save"></fa>
        </button>
      </div>
    </form>

  </div>
</div>
