<div class="row">
  <div class="col-10 offset-1 text-center pt-4">
    <h2>Bienvenido <b class="text-primary">{{data['name']}}</b></h2>
    <div class="block-dashboard mt-4">
      <tabset>
        <tab heading="SOY COMPRADOR" id="tab1">
          <div class="mt-4 mb-4">
            <img src="../../../../../assets/images/shopping.svg" width="150px" alt="">
            <p class="mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, quo!</p>
            <button class="btn btn-primary" (click)="switch('user')">Continuar como comprador</button>
          </div>

        </tab>
        <tab heading="SOY PEQUEÑO COMERCIO">
          <div class="mt-4 mb-4">
            <img src="../../../../../assets/images/store.svg" width="150px" alt="">
            <p class="mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, quo!</p>
            <button class="btn btn-primary" (click)="switch('shop')">Continuar como pequeño comercio</button>
          </div>
        </tab>
      </tabset>
    </div>
  </div>
  <div class="col-sm">
    <!--                <app-last-sell class="block-dashboard mb-2"></app-last-sell>-->
  </div>
  <div class="col-sm pl-0">
    <!--              <app-last-order class="block-dashboard mb-2"></app-last-order>-->
  </div>

</div>
