<div class="modal-content">
  <div class="modal-header" [style.padding]="'.5rem 1rem'">
    <div>
      <img src="../../../../../assets/images/ah_logo_header.png" height="40" alt="">
    </div>
    <!--    <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
       <!-- <h6 class="modal-title">{{"modal.location.title" |translate}}</h6> -->
    <!--      <span aria-hidden="true">&times;</span>-->
    <!--    </button>-->
  </div>
  <div class="modal-body">
    <div class="p-3 text-center">
      <p [innerHTML]="'modal.location.description' | translate"></p>
    </div>
    <div>
        <ng-select [items]="list_accommodation"
        bindLabel="name"
        class="select-create-category"
        placeholder="¿Cual es tu piso?"
        autofocus
        [clearable]="false"
        (ngModelChange)="emitPreview($event)"
        [(ngModel)]="selectedPersonId">
</ng-select>
    </div>
   <!--<div>
      <div *ngIf="loading" class="loading-zip">
        <fa name="spinner" animation="spin"></fa>
      </div>
      <label>Piso</label>
      <input ngx-google-places-autocomplete
             [disabled]="loading"
             class="form-control"
             [ngModel]="address" [options]='optionsPlaces' #placesRef="ngx-places"
             placeholder="Ingresa una dirección de envio"
             (onAddressChange)="handleAddressChange($event)"/>

    </div>  --> 
    <small *ngIf="msg" class="text-mute text-danger font-weight-bold">
      {{"modal.location.error1" | translate}}
    </small>

  </div>
  <div class="modal-footer">
    <div class="container-fluid d-flex">
      <div class="col-6 text-center">
        <a href="#" class="text-muted">
          <fa size="2x" name="map-marker"></fa>
          <div>¿Necesitas ayuda?</div>
        </a>
      </div>
      <div class="col-6 text-center">
        <a href="#" class=" text-muted">
          <fa size="2x" name="question-circle"></fa>
          <div>¿Como funciona?</div>
        </a>
      </div>
    </div>
  </div>
</div>
