<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Ubicación</h5>
    <!--    <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
    <!--      <span aria-hidden="true">&times;</span>-->
    <!--    </button>-->
  </div>
  <div class="image-block">
    <div class="container">
      <div class="row pt-2 pb-2">
        <div class="col-6 text-center">
          <img src="../../../../../assets/images/scooter.svg" height="70px" alt="">
        </div>
        <div class="col-6 text-center text-muted">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, veritatis!</p>
        </div>
      </div>

    </div>
  </div>
  <div class="modal-body">
    <div>
      <div *ngIf="loading" class="loading-zip">
        <fa name="spinner" animation="spin"></fa>
      </div>
      <input ngx-google-places-autocomplete
             [disabled]="loading"
             class="form-control"
             [ngModel]="address" [options]='optionsPlaces' #placesRef="ngx-places"
             placeholder="Ingresa una dirección de envio"
             (onAddressChange)="handleAddressChange($event)"/>

    </div>



    <p class="text-muted mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, pariatur!</p>
    <small *ngIf="msg" class="text-mute text-danger">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim,
      tempora?
    </small>
  </div>
  <div class="modal-footer">
    <div class="container-fluid d-flex">
      <div class="col-6 text-center">
        <a href="#" class="text-muted">
          <fa size="2x" name="map-marker"></fa>
          <div>¿Lorem, ipsum.?</div>
        </a>
      </div>
      <div class="col-6 text-center">
        <a href="#" class=" text-muted">
          <fa size="2x" name="question-circle"></fa>
          <div>¿Lorem, ipsum.?</div>
        </a>
      </div>
    </div>
  </div>
</div>
