<section class="main-container main-container-fixed col2-left-layout bounceInUp animated">
  <div  *ngIf="!loading" class="second-nav">
    <div class="d-flex justify-content-between">
      <div class="p-2 text-left w-75">
        <small>Enviar a <b>{{location?.name}}</b> {{location?.zip_code}}</small>
      </div>
      <div class="p-2 text-center w-25 border-right-solid" (click)="open()">
        <img src="../../../../../assets/images/controls.svg" class="mr-2 border-solid-circle" width="15px"
             alt="">
        <small>Filtrar</small>
      </div>
    </div>
    <!--    <small *ngIf="location">-->
    <!--      <span class="cursor-pointer" (click)="openZip()">-->
    <!--        <fa name="map-marker"></fa>-->
    <!--        Enviar a <b>{{location['name']}}</b> {{location['zip_code']}}-->
    <!--      </span>-->
    <!--    </small>-->
  </div>
  <div class="container mt-2">
    <div class="row m-0" [hidden]="true">
      <div class="col-12 text-center p-4">
        <h4>Si está hecho a mano o es vintage, personalizado o único, está en Etsy.</h4>
      </div>
      <div class="col-lg-8 pl-0">
          <app-banner class="box-shadow-banner"></app-banner>
      </div>
      <div class="col-lg-4 pl-0">
          <app-banner class="box-shadow-banner"></app-banner>
        </div>
    </div>
    <div class="breadcrumbs mb-2">
      <div class="container">
        <div class="row">
          <div>
            <ul>
              <small>Busquedas relacionadas:</small>
              <li class="home">
                <small *ngFor="let m of meta_key" class="ml-2 mr-2">{{m}}</small>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-0 mr-0 ml-0">
      <div class="col-sm-2 p-0 sidebar-attribute">
        <div class="mt-0">
          <div>
            <app-filter-attributes
              [loading]="loading"
              (callbackCategory)="setVariable($event)"
              (callbackAttr)="setAttribute($event)"
              [filters]="filters">
            </app-filter-attributes>
          </div>
        </div>
      </div>
      <div class="col-sm-10 p-0 ">
        <app-list-product-global [loading]="loading" [data]="data">
        </app-list-product-global>
      </div>
    </div>
  </div>
</section>
