.block-header {
  background-color: #fcfcfc;
  height: 200px;
  border-radius: 3px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: solid 0px #e6e6e6;
}
