<section class="main-container col2-right-layout mt-0">
  <div class="page-content">
    <div class="breadcrumbs mt-2 mb-4">
      <div class="container">
        <div class="row">
          <div>
            <ul>
              <li class="home"><a href="index.html" title="Go to Home Page">Home</a> <span>&rsaquo; </span></li>
              <li class="category1599"><a href="grid.html" title="">Women</a> <span>&rsaquo; </span></li>
              <li class="category1600"><a href="grid.html" title="">Handbags</a> <span>&rsaquo; </span></li>
              <li class="category1601"><strong>Retis lapen casen</strong></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container p-0">
      <div class="inside-body2 mb-4">
        <div class="">
          <div class="row m-0">
            <div
              class="col-8 no-paddin product-image inline-table border-booton-solid  background-solid border-left-solid border-top-solid">
              <div class="ribbon ribbon-top-left"><span>30%</span></div>
              <div class="w-100 p-4">
                <div class="h-100 min-height-500">
                  <ngx-content-loading
                    *ngIf="loading"
                    [width]="1000"
                    [height]="450">
                    <svg:g ngx-rect width="100%" height="100%" y="0" x="0" rx="5" ry="5"></svg:g>
                  </ngx-content-loading>
                  <ngx-image-zoom
                    class="w-100 cover cursor-zoom single"
                    *ngIf="!loading && data && data['gallery'].length"
                    [thumbImage]="cover['medium']"
                    [fullImage]="cover['large']"
                  ></ngx-image-zoom>
                </div>
              </div>
              <div *ngIf="data && !data['gallery']" class="w-100">
                <img class="w-100 cover" [src]="'assets/images/nofound.png'"/>
              </div>
            </div>
            <div
              class="col-4 p-0 inline-table border-left-solid border-top-solid border-rigth-solid background-solid border-booton-solid">
              <div class="w-100">
                <div *ngIf="!loading" class="product-shop p-4">
                  <div class="product-name">
                    <h2 class="font-weight-bold text-dark">
                      {{data['name']}}
                    </h2>
                  </div>
                  <!--product-name-->

                  <div class="price-block" *ngIf="variation.length">
                    <div class="price-box">
                      <h6 class="m-0 text-muted">
                        <del>{{selectedvariationName['price_regular'] |number:'1.2-2'}}</del>
                      </h6>
                      <h1 class="m-0">{{selectedvariationName['price_normal'] |number:'1.2-2'}}</h1>
                    </div>
                  </div>
                  <!--price-block-->
                  <p class="font-weight-normal text-muted mt-2 mb-0">Variaciones:</p>
                  <div class="list-variations">
                    <ng-select [items]="variation"
                               bindLabel="label"
                               [searchable]="false"
                               [clearable]="false"
                               placeholder="Select variation"
                               [(ngModel)]="selectedvariationName">
                      <ng-template ng-label-tmp let-item="item">
                        <img height="15" width="15" onError="this.src='assets/images/nofound.png'"
                             [src]="item.attacheds_small"/>
                        <b>&nbsp;{{item.label}}</b>
                      </ng-template>
                      <ng-template ng-option-tmp let-item="item" let-index="index">
                        <img height="15" width="15" onError="this.src='assets/images/nofound.png'"
                             [src]="item.attacheds_small"/>
                        <b>{{item.label | words: 5: '...'}}</b>
                      </ng-template>
                    </ng-select>
                  </div>
                  <div class="short-description text-dark mt-3">
                    <div class="mb-4">
                      <p class="text-muted mb-0">Informacion de la tienda:</p>
                      <h5 class="font-weight-600 mb-1">
                        {{data['shop_name'] | words: 15 : '...'}}
                      </h5>
                      <p class="m-0">
                        <fa name="map-marker"></fa> {{data['shop_address'] | words: 15 : '...'}}
                      </p>
                      <a [routerLink]="['/','store',data['shop_id'],data['shop_slug']]">
                        <fa name="bookmark"></fa> Ver más productos
                      </a>
                    </div>

                    <div class="alert alert-warning mt-4"
                         *ngIf="selectedvariationName &&selectedvariationName['observation']">
                      <fa name="exclamation-triangle"></fa>
                      <b class="ml-1">{{selectedvariationName['observation']}}</b>
                    </div>
                  </div>
                  <div class="text-center">
                    <button (click)="addProduct(data)" type="button" [disabled]="loading_save" title="Add to Cart"
                            class="btn btn-info btn-block">
                      <span *ngIf="!loading_save">Agregar al carrito</span>
                      <span *ngIf="loading_save">
                        <fa name="spinner" animation="spin"></fa>
                      </span>
                    </button>
                  </div>
                  <div class="text-center mt-2">
                    <button (click)="addProduct(data)"
                            [routerLink]="['/','shopping-cart']"
                            *ngIf="number_items"
                            type="button" [disabled]="loading_save" title="Add to Cart"
                            class="btn btn-primary btn-block">
                      <span *ngIf="!loading_save">Comprar</span>
                      <span *ngIf="loading_save">
                        <fa name="spinner" animation="spin"></fa>
                      </span>
                    </button>
                  </div>
                </div>
                <div class="product-shop p-4">
                  <ngx-content-loading
                    *ngIf="loading"
                    [width]="300"
                    [height]="450">
                    <svg:g ngx-rect width="150" height="10" y="10" x="0" rx="5" ry="5"></svg:g>
                    <svg:g ngx-rect width="90" height="10" y="40" x="0" rx="5" ry="5"></svg:g>
                    <svg:g ngx-rect width="210" height="10" y="70" x="0" rx="5" ry="5"></svg:g>
                    <svg:g ngx-rect width="240" height="10" y="100" x="0" rx="5" ry="5"></svg:g>
                  </ngx-content-loading>
                </div>
              </div>
            </div>
            <div class="col-8 inline-table  background-solid border-left-solid border-booton-solid">
              <app-gallery-single (callback)="changeCover($event)" [images]="data['gallery']"
                                  class="w-100"></app-gallery-single>
            </div>
            <div class="col-4 inline-table border-rigth-solid border-left-solid background-solid  p-4">

            </div>
            <div class="col-8 inline-table  background-solid border-left-solid
             border-rigth-solid text-dark p-4">
              <div class="container">
                <div class="row">
                  <div class="col-12 ">
                    <h2 class="font-weight-600 mb-2">Descripción</h2>
                    <p class="description text-justify">{{data.description}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container p-0">
      <app-box-featured-product id='offers'></app-box-featured-product>
    </div>
  </div>
</section>
