<section class="main-container main-container-fixed col2-right-layout mt-0 mb-4">
  <div class="page-content">
    <div class="container p-0">
      <div class="breadcrumbs mt-2 mb-4 mb-sm-0">
        <div class="container">
          <div class="row m-0">
            <div>
              <ul *ngIf="data && data['categories']">
                <li class="category1599">
                  <a [routerLink]="['/','home']" title="">Inicio</a> <span>&rsaquo; </span></li>
                <li @breadcrumbs *ngFor="let c of data['categories']" class="home">
                  <a [routerLink]="['/','category',c['id']+'-'+util.slug(c['name'])]" title="Ver más">{{c['name']}}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="inside-body2 mb-4">
        <div class="">
          <div class="row m-0">
            <div class="responsive-title">
              <h2 class="font-weight-bold text-dark mb-0">
                {{data['name']}}
              </h2>
              <ngx-stars [readonly]="true" initialStars="5"
                         customPadding="2px" color="#FFC400"></ngx-stars>
            </div>
            <div
              class="col-lg-8 col-sm-12 p-0 product-image inline-table border-booton-solid
               background-solid border-left-solid border-top-solid">
              <div *ngIf="selectedvariationName 
              && selectedvariationName['price_normal']
              && selectedvariationName['price_regular']"
                   class="ribbon ribbon-top-left"><span class="pulse">
                   <app-discount-number
                     *ngIf="selectedvariationName 
                     && selectedvariationName['price_normal']"
                     #discountChild
                     [decimals]="0"
                     [price_normal]="selectedvariationName['price_normal']"
                     [price_regular]="selectedvariationName['price_regular']">
                        </app-discount-number>%</span></div>
              <div class="w-100 p-2">
                <div class="h-100 min-height-500 gallery-product">
                  <ngx-content-loading
                    *ngIf="loading"
                    [width]="1000"
                    [height]="550">
                    <svg:g ngx-rect width="100%" height="100%" y="0" x="0" rx="5" ry="5"></svg:g>
                  </ngx-content-loading>
                  <ngx-image-zoom
                    class="w-100 cover cursor-zoom single"
                    *ngIf="!loading && data && data['gallery'].length"
                    [thumbImage]="cover['medium']"
                    [fullImage]="cover['large']">
                  </ngx-image-zoom>
                  <app-gallery-single
                    (callback)="changeCover($event)"
                    [images]="data['gallery']"
                    class="w-100 d-block mt-4">
                  </app-gallery-single>
                </div>
                <div class="gallery-product-responsive">
                  <ngx-gallery [options]="galleryOptions" [images]="data['gallery']"></ngx-gallery>
                </div>
              </div>
              <div *ngIf="data && !data['gallery']" class="w-100">
                <img class="w-100 cover" [src]="'assets/images/nofound.png'"/>
              </div>
            </div>
            <div @details
                 class="col-lg-4  col-sm-12 p-0 inline-table border-left-solid border-top-solid border-right-solid background-solid border-booton-solid">
              <div class="w-100">
                <div class="product-shop p-4" *ngIf="loading">
                  <ngx-content-loading
                    [width]="300"
                    [height]="450">
                    <svg:g ngx-rect width="150" height="10" y="10" x="0" rx="5" ry="5"></svg:g>
                    <svg:g ngx-rect width="90" height="10" y="40" x="0" rx="5" ry="5"></svg:g>
                    <svg:g ngx-rect width="210" height="10" y="70" x="0" rx="5" ry="5"></svg:g>
                    <svg:g ngx-rect width="240" height="10" y="100" x="0" rx="5" ry="5"></svg:g>
                  </ngx-content-loading>
                </div>

                <div *ngIf="!loading" class="product-shop p-4">
                  <div class="product-name">
                    <h2 class="font-weight-bold text-dark">
                      {{data['name']}}
                    </h2>
                    <ngx-stars [readonly]="true" initialStars="5"
                               customPadding="2px" color="#FFC400"></ngx-stars>
                  </div>
                  <div class="price-block" *ngIf="variation.length">
                    <div class="price-box">
                      <h6 class="m-0 text-muted" *ngIf="selectedvariationName['price_regular']>0">
                        <del>{{selectedvariationName['price_regular'] |number:'1.2-2'}}
                          {{"currency" | translate}}
                        </del>
                      </h6>
                      <h1 class="m-0">{{selectedvariationName['price_normal'] |number:'1.2-2'}}
                        {{"currency" | translate}}
                      </h1>
                      <div class="discount-text text-success"
                           *ngIf="selectedvariationName
                          && selectedvariationName['price_normal']
                          && selectedvariationName['price_regular']">
                        <app-discount-number
                          #discountChild
                          [decimals]="0"
                          [price_normal]="selectedvariationName['price_normal']"
                          [price_regular]="selectedvariationName['price_regular']">
                        </app-discount-number>
                        % <span [innerHTML]="'page.single.discount' | translate"></span>
                      </div>
                    </div>
                  </div>
                  <p *ngIf="variation && variation.length > 1"
                     class="font-weight-normal text-muted mt-2 mb-0"
                     [innerHTML]="'page.single.variations' | translate"></p>
                  <div class="list-variations" *ngIf="variation && variation.length > 1">
                    <ng-select [items]="variation"
                               bindLabel="label"
                               [searchable]="false"
                               [clearable]="false"
                               placeholder="Select variation"
                               [(ngModel)]="selectedvariationName">
                      <ng-template ng-label-tmp let-item="item">
                        <img height="15" width="15" onError="this.src='assets/images/nofound.png'"
                             [src]="item.attacheds_small"/>
                        <b>&nbsp;{{item.label}}</b>
                      </ng-template>
                      <ng-template ng-option-tmp let-item="item" let-index="index">
                        <img height="15" width="15" onError="this.src='assets/images/nofound.png'"
                             [src]="item.attacheds_small"/>
                        <b>{{item.label | words: 5: '...'}}</b>
                      </ng-template>
                    </ng-select>
                  </div>
                  <div class="short-description text-dark mt-2">
                    <div class="mb-2">
                      <p class="text-muted mb-0" [innerHTML]="'page.single.info_shop' |translate"></p>
                      <div class="p-2 info-shop">
                        <div class="d-flex mt-1 mb-2">
                          <img class="mr-2" [src]="data['image_cover_small']" [alt]="data['shop_name']">
                          <h5 class="font-weight-600 mb-1 mt-1">
                            {{data['shop_name'] | words: 15 : '...'}}
                          </h5>
                        </div>
                        <div class="mt-1">
                          <p class="m-0">
                            <fa name="map-marker"></fa>
                            {{data['shop_address'] | words: 15 : '...'}}
                          </p>
                          <a class="text-info" [routerLink]="['/','store',data['shop_id']+'-'+data['shop_slug']]">
                            <fa name="bookmark"></fa>
                            <span> {{"page.single.more_product_shop" | translate}}</span>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="mb-2">
                      <p class="text-muted mb-0" [innerHTML]="'page.single.shipping' | translate"></p>
                      <div class="p-2 info-shop">
                        <div class="mt-1">
                          <p class="m-0">
                            <fa name="truck"></fa>
                            <span> {{"page.single.shipping_time" |translate}}</span>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div>
                    <div class="text-center mt-4 d-block">
                      <button (click)="open(data)" type="button" [disabled]="loading_save" title="Add to Cart"
                              class="btn btn-info btn-block add-cart">
                        <span *ngIf="!loading_save">{{"page.single.add_car" |translate}}</span>
                        <span *ngIf="loading_save">
                        <fa name="spinner" animation="spin"></fa>
                      </span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 inline-table description-content background-solid border-left-solid
             border-right-solid text-dark p-4 border-booton-solid">
              <div class="container">
                <div class="row m-0">
                  <div class="col-12 p-0">
                    <h2 class="font-weight-600 mb-2">{{"page.single.description" | translate}}</h2>
                    <p class="description text-justify" [innerHTML]="data.description"></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container p-0">
      <app-box-featured-product id='offers'></app-box-featured-product>
    </div>
  </div>
  <div *ngIf="data && data.id" class="call-action-buy row m-0 container">
    <div class="d-flex">
        <div class="col-7 pt-1">
            <h6 class="m-0">
              {{selectedvariationName?.price_normal |number:'1.2-2'}} {{"currency" |translate}}
            </h6>
            <small *ngIf="selectedvariationName?.price_normal">
             <del> {{selectedvariationName?.price_regular |number:'1.2-2'}} {{"currency" |translate}}</del>
            </small>
          </div>
          <div class="col-5">
            <button (click)="open(data)"  type="button" class="btn btn-primary btn-block h-100">
              {{"page.single.buy" |translate}}
            </button>
          </div>
    </div>
  </div>
</section>
