.page-content {
  position: relative;
  top: 0px;
  left: 0px;
  width: calc(100% - 0px);
  overflow: auto;
  padding: 0 32px;
}

.inside-body2 {
  margin-top: 10px;
  background-color: #fff;
}

.description {
  font-size: .9rem;
  line-height: 1.6rem;
  letter-spacing: .02rem;
  color: #525252;
}

.breadcrumbs {
  padding: 10px;
  background: white;
  border: solid 1px #e8e8e8;
}

.product-shop {
  background-color: #fff;
}

.background-solid {
  background-color: #ffffff;
}

.border-right-solid {
  border-right: solid 1px #e8e8e8;
}

.border-left-solid {
  border-left: solid 1px #e8e8e8;
}

.border-booton-solid {
  border-bottom: solid 1px #e8e8e8;
}

.border-top-solid {
  border-top: solid 1px #e8e8e8;
}

.carbtn {
  width: 70%;
  margin-left: 3%;
  background-color: #ce0000;
}

.inline-table {
  display: flex;
}

.product-shop .social {
  float: inherit;
  text-align: center;
  margin-bottom: 10px;
}

.price-box {
  margin: 0;
  padding: 10px 0px;
}

.price {
  color: #cd0000;
  font-size: 30px !important;
}

.regular {
  font-size: 15px;
  text-decoration: line-through;
}

.margin-left-10 {
  margin-left: 5px;
}

.no-paddin {
  padding-left: 0px;
  padding-right: 0px;
}

.cover {
  object-fit: contain;
}

.placeholder-cover {
  background-color: whitesmoke;
}

.info-shop {
  box-shadow: 0 0 2px #e4e4e4;
}

.info-shop img {
  width: 32px;
  height: 32px;
  border-radius: 32px;
  object-fit: cover;
}

.discount-text {
  font-size: 16px;
}

@media screen 
  and (max-width: 360px) {
    .page-content{
      padding: 0px !important;
    }
    .breadcrumbs {
      margin-bottom: 0px !important;
      background-color: transparent;
      margin-top: 0px !important;
      border: 0;
      padding-bottom: .2rem;
      padding-top: .4rem;
    }
    .container {
      padding-left: 0;
      padding-right: 0;
    }

    .description p img{
      width: 100% !important;
    }

    .responsive-title{
      width: 100%;
      background: whitesmoke;
      padding: 0rem .4rem .7rem;
    }

    .product-name{
      display: none;
    }
}