<form [formGroup]="form" (submit)="saveData()">
  <div class="card block-dashboard border-0">
    <div class="card-header"><b>Datos de cuenta</b></div>
    <div class="col p-3 min-height-300">
      <div class="form-group">
        <label>Email</label>
        <input type="text" formControlName="email" class="form-control" [(ngModel)]="editform.email"
               placeholder="¿Como te llamas?">
      </div>

      <div class="form-group">
        <label>Código referido</label>
        <input type="text" formControlName="referer_code" class="form-control" [(ngModel)]="editform.referer_code"
               placeholder="¿Como te llamas?">
      </div>
      <div class="form-group">
        <label>Telefono</label>
        <input type="tel" formControlName="phone" [(ngModel)]="editform.phone" class="form-control"
               placeholder="Ingresa un numero de movil válido">
      </div>

<!--      <div class="form-group">-->
<!--        <label>Contraseña</label>-->
<!--        <input type="tel" formControlName="password" [(ngModel)]="editform.password" class="form-control"-->
<!--               placeholder="Ingresa un numero de movil válido">-->
<!--      </div>-->

    </div>
    <div class="card-footer">
      <button class="btn btn-default btn-sm" tabindex="0">Guardar</button>
    </div>
  </div>
</form>
