<form [formGroup]="form" (submit)="saveData()">
  <div class="card block-dashboard border-0">
    <div class="card-header"><b>Datos personales</b></div>
    <div class="col p-3 min-height-300">
      <app-avatar-upload [preview]="editform['avatar']" (callback)="success($event)"></app-avatar-upload>
      <div class="form-group">
        <label>Nombre</label>
        <input type="text" formControlName="name" class="form-control" [(ngModel)]="editform.name"
               placeholder="¿Como te llamas?">
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-default btn-sm" tabindex="0">Guardar</button>
    </div>
  </div>
</form>
