<!--container-->
<div class="content">
  <div id="tmg-slideshow" class="tmg-slideshow">
    <div class="container">
      <app-banner></app-banner>
    </div>
  </div>


  <!--<div id="top">
  <div class="container">
  <div class="row">
    <ul>
      <li>
        <div>
        <a href="#" data-scroll-goto="1">
          <img src="assets/images/speakers.png" alt="promotion-banner1">
        </a>
        </div>
      </li>
      <li>
       <div>
        <a href="#" data-scroll-goto="2">
          <img src="assets/images/schedule.png" alt="promotion-banner2">
        </a>
        </div>
      </li>
      <li>
       <div>
        <a href="#" data-scroll-goto="3">
          <img src="assets/images/details.png" alt="promotion-banner3">
        </a>
        </div>
      </li>
      <li>
       <div>
        <a href="#" data-scroll-goto="4">
          <img src="assets/images/sponsors.png" alt="promotion-banner4">
        </a>
        </div>
      </li>
      <li>
       <div>
        <a href="#" data-scroll-goto="5">
          <img src="assets/images/team.png" alt="promotion-banner5">
        </a>
        </div>
      </li>
      <li>
       <div>
        <a href="/register">
          <img src="assets/images/register.png" alt="promotion-banner6">
        </a>
        </div>
      </li>
    </ul>
    </div>
    </div>
  </div>-->

  <app-box-info></app-box-info>

  <!-- best Pro Slider -->
  <app-box-featured-product></app-box-featured-product>
  <!-- best Pro Slider -->


  <!--Category slider Start-->
  <app-box-shops></app-box-shops>
  <!--Category silder End-->

  <!-- best Pro Slider -->
  <app-box-featured-product></app-box-featured-product>
  <!-- best Pro Slider -->

  <!--Category slider Start-->
  <app-box-categories></app-box-categories>
  <!--Category silder End-->

  <app-box-blog></app-box-blog>

  <!-- Logo Brand Block -->
  <!--  <div class="brand-logo wow bounceInUp animated">-->
  <!--    <div class="container">-->
  <!--      <div class="row">-->

  <!--        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 testimonials-section">-->
  <!--          <div class="">-->
  <!--            <ul class="bxslider">-->
  <!--              <li>-->
  <!--                <div class="avatar"><img src="assets/images/member1.png" alt="Image"></div>-->
  <!--                <div class="testimonials"><em>"</em> Vtae sodales aliq uam morbi non sem lacus port mollis. Nunc condime-->
  <!--                  tum metus eud molest sed consectetuer.<em>"</em></div>-->
  <!--                <div class="clients_author">John Doe <span>Abc Company</span></div>-->
  <!--              </li>-->
  <!--              &lt;!&ndash;<li>&ndash;&gt;-->
  <!--              &lt;!&ndash;<div class="avatar"><img src="assets/images/member2.png" alt="Image"></div>&ndash;&gt;-->
  <!--              &lt;!&ndash;<div class="testimonials"><em>"</em> Vtae sodales aliq uam morbi non sem lacus port mollis. Nunc condime tum metus eud molest sed consectetuer.<em>"</em></div>&ndash;&gt;-->
  <!--              &lt;!&ndash;<div class="clients_author">Saraha Smith	<span>Datsun & Co</span>	</div>&ndash;&gt;-->
  <!--              &lt;!&ndash;</li>&ndash;&gt;-->
  <!--              &lt;!&ndash;<li>&ndash;&gt;-->
  <!--              &lt;!&ndash;<div class="avatar"><img src="assets/images/member3.png" alt="Image"></div>&ndash;&gt;-->
  <!--              &lt;!&ndash;<div class="testimonials"><em>"</em>Vtae sodales aliq uam morbi non sem lacus port mollis. Nunc condime tum metus eud molest sed consectetuer.<em>"</em></div>&ndash;&gt;-->
  <!--              &lt;!&ndash;<div class="clients_author">Stephen Doe	<span>Xperia Designs</span>	</div>&ndash;&gt;-->
  <!--              &lt;!&ndash;</li>&ndash;&gt;-->

  <!--            </ul>-->
  <!--          </div>-->
  <!--        </div>-->

  <!--        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 offer-slider">-->
  <!--          <div class="left-coloum-hot">-->
  <!--            <div class="deal_img"><img src="assets/images/hot_img.png" alt="">-->
  <!--            </div>-->
  <!--            <div class="deal_info">-->
  <!--              <h2><a href="index.html#">Wall Pendent Lamp</a></h2>-->
  <!--              <div class="starSeparator"></div>-->
  <!--              <p>Flipmart lighting store is updated regularly with offers.</p>-->
  <!--              <div class="rating">-->
  <!--                <div class="ratings">-->
  <!--                  <div class="rating-box">-->
  <!--                    <div class="rating" style="width:80%"></div>-->
  <!--                  </div>-->
  <!--                  <p class="rating-links"><a href="index.html#">1 Review(s)</a> <span class="separator">|</span> <a-->
  <!--                    href="index.html#">Add Review</a></p>-->
  <!--                </div>-->
  <!--              </div>-->


  <!--            </div>-->
  <!--          </div>-->
  <!--          <div class="box-timer">-->
  <!--            <div class="countbox_1 timer-grid"></div>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--      </div>-->


  <!--    </div>-->
  <!--  </div>-->
</div>

<app-box-news></app-box-news>


<!--<router-outlet></router-outlet>-->
