<!--container-->
<div class="content margin-main main-container-fixed" [ngClass]="{'offset-margin-video':(modeOffset)}">
  <div id="tmg-slideshow" class="tmg-slideshow">
    <div class="container">
      <app-banner></app-banner>
    </div>
  </div>
  <app-box-info></app-box-info>

  <!-- best Pro Slider -->
  <app-box-featured-product 
  class="container d-block p-0 mt-4 mb-4"
  [w]="'260px'"
  [items]="4"
  [limit]="5"
  [title]="'Productos destacados'">
</app-box-featured-product>
  <!-- best Pro Slider -->

  <!--Category slider Start-->
  <app-box-shops id='official-shops' class="mt-4 mb-4 d-block"></app-box-shops>
  <!--Category silder End-->

  <!-- best Pro Slider -->
  <app-box-featured-product 
  class="container d-block p-0 mt-4 mb-4"
  [w]="'260px'"
  [items]="4"
  [limit]="5"
  [title]="'Productos recomendados'">
</app-box-featured-product>
  <!-- best Pro Slider -->

  <!--Category slider Start-->
  <app-side-categories *ngIf="computer" [search]="false" id='myanchor' class="mt-4 mb-4 d-block">
  </app-side-categories>
  <app-box-categories *ngIf="mobile" id='myanchor' class="mt-4 mb-4 d-block"></app-box-categories>
  <!--Category silder End-->

<!--  <app-box-blog></app-box-blog>-->

</div>

<!--<app-box-news></app-box-news>-->


<!--<router-outlet></router-outlet>-->
