<section class="main-container col2-right-layout mt-0">
  <app-sidebar></app-sidebar>
  <div  [@fadeInOutTranslate] class="page-content pl-3 m-0 pr-0 row m-0">
    <div class="p-0 m-0 col-9">
      <div class="inside-body mb-4">
        <div class="pt-0">
          <div>
            <div [style.position]="'absolute'" [style.right]="'0px'">
              <button [routerLink]="['/','shop']" type="button" class="btn btn-link btn-sm">Volver</button>
            </div>
            <tabset #staticTabs>
              <tab heading="Producto" (selectTab)="loadTab('product')" id="tab1">
                <app-data-product
                  [id]="id"
                  *ngIf="data && tabs['product']"
                  [data]="data"
                  (callback)="callback_data_categories($event)"
                  class="row">
                </app-data-product>
                <app-data-product
                  [id]="id"
                  *ngIf="!data && tabs['product']"
                  (callback)="callback_data_categories($event)"
                  class="row">
                </app-data-product>
              </tab>
              <tab heading="Categorias" (selectTab)="loadTab('categories')">
                <app-data-categories-product
                  *ngIf="data"
                  [id]="id"
                  [data]="data"
                  (callback)="callback_data_variations($event)"
                  class="row">
                </app-data-categories-product>
              </tab>
              <tab heading="Galeria" (selectTab)="loadTab('gallery')">
                <app-data-gallery-product
                  *ngIf="data && tabs['gallery']"
                  [data]="data"
                  [id]="id">
                </app-data-gallery-product>
              </tab>
              <tab heading="Precios y Variaciones" (selectTab)="loadTab('variations')">
                <app-data-variations-product
                  *ngIf="id && tabs['variations']"
                  [id]="id"
                  class="row">
                </app-data-variations-product>
              </tab>

            </tabset>
          </div>
        </div>
      </div>
    </div>
    <app-preview-product class="col-3">
    </app-preview-product>
  </div>
</section>
