<section class="main-container col2-right-layout mt-0">
  <app-sidebar></app-sidebar>
  <div class="page-content">
    <div class="p-0 m-0">
      <div class="inside-body mb-4">
        <div class="pt-2">
          <div>
            <tabset #staticTabs>
              <tab heading="Producto" id="tab1">
                <app-data-product
                  [id]="id"
                  *ngIf="data"
                  [data]="data"
                  (callback)="callback_data_categories($event)"
                  class="row">
                </app-data-product>
                <app-data-product
                  [id]="id"
                  *ngIf="!data"
                  (callback)="callback_data_categories($event)"
                  class="row">
                </app-data-product>
              </tab>
              <tab heading="Categorias">
                <app-data-categories-product
                  *ngIf="data"
                  [id]="id"
                  [data]="data"
                  (callback)="callback_data_variations($event)"
                  class="row">
                </app-data-categories-product>
              </tab>
              <tab heading="Galeria">
                <app-data-gallery-product
                  *ngIf="data"
                  [data]="data"
                  [id]="id">
                </app-data-gallery-product>
              </tab>
              <tab heading="Variaciones">
                <app-data-variations-product
                  *ngIf="id"
                  [id]="id"
                  class="row">
                </app-data-variations-product>
              </tab>
            </tabset>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
