<div class="latest-blog wow bounceInUp animated animated container ">
  <!--exclude For version 6 -->
  <div class="new_title">
    <h2>Latest Blog</h2>
  </div>
  <!--blog-title-->
  <!--For version 1,2,3,4,5,6,8 -->

  <div class="blog_block">
    <div class="blog_block_inner d-flex">
      <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 blog-post">
        <div class="blog_inner">
          <div class="blog-img"><a href="http://themesground.com/flipmart-demo/V5/blog-detail.html"> <img
            src="assets/images/blog-img1.jpg" alt="blog image"> </a>
            <div class="mask"><a class="info" href="http://themesground.com/flipmart-demo/V5/blog-detail.html">Read
              More</a></div>
          </div>
          <!--blog-img-->
          <div class="blog-info">
            <div class="post-date">
              <time class="entry-date" datetime="2015-05-11T11:07:27+00:00"><span>19</span> <br> March</time>
            </div>
            <h3><a href="http://themesground.com/flipmart-demo/V5/blog-detail.html">Lorem ipsum dolor sit amet,
              consectetur adipiscing</a></h3>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada ...</p>
            <a class="readmore" href="http://themesground.com/flipmart-demo/V5/blog-detail.html">Read More</a></div>
        </div>
        <!--blog_inner-->
      </div>
      <!--col-lg-4 col-md-4 col-xs-12 col-sm-4-->
      <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 blog-post">
        <div class="blog_inner">
          <div class="blog-img"><a href="http://themesground.com/flipmart-demo/V5/blog-detail.html"> <img
            src="assets/images/blog-img2.jpg" alt="blog image"> </a>
            <div class="mask"><a class="info" href="http://themesground.com/flipmart-demo/V5/blog-detail.html">Read
              More</a></div>
          </div>
          <!--blog-img-->
          <div class="blog-info">
            <div class="post-date">
              <time class="entry-date" datetime="2015-05-11T11:07:27+00:00"><span>21</span> <br> March</time>
            </div>
            <h3><a href="http://themesground.com/flipmart-demo/V5/blog-detail.html">Lorem ipsum dolor sit amet,
              consectetur adipiscing</a></h3>

            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada ...</p>
            <a class="readmore" href="http://themesground.com/flipmart-demo/V5/blog-detail.html">Read More</a></div>
        </div>
        <!--blog_inner-->
      </div>
    </div>
  </div>


  <!--END For version 1,2,3,4,5,6,8 -->
  <!--exclude For version 6 -->
  <!--container-->
</div>
