<div class="page-heading mb-3" [style.backgroundImage]="'url('+data['image_header_large']+')'">
  <div class="breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="page-title col-sm-6">
          <img class="imgstore"
               [src]="data['image_cover_medium']">
        </div>
        <div class="col-sm-6">
        </div>
      </div>
    </div>
    <!--container-->
  </div>
</div>

<section class="main-container col2-left-layout bounceInUp animated">
  <div class="container">
    <div class="breadcrumbs">
      <div class="container">
        <div class="row">
          <div>
            <ul>
              <li class="home"><a [routerLink]="['/']">Home</a> <span>&rsaquo; </span></li>
              <li class="category1599"><a href="grid.html" title="">Women</a> <span>&rsaquo; </span></li>
              <li class="category1600"><a href="grid.html" title="">Handbags</a> <span>&rsaquo; </span></li>
              <li class="category1601"><strong>Retis lapen casen</strong></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-sm-3">
        <div class="mt-4">
          <h4 class="font-weight-600">{{data['name']}}</h4>
          <div class="text-dark">
            <ul class="styleno">
              <li>
                <span class="fontweight">Ordenar publicaciones</span>
              </li>
              <li>
                Más relevantes
              </li>
              <li>
                <span class="fontweight"> Categorías</span><br>
              </li>
              <li>
                Lorem ipsum dolor.
              </li>
              <span class="fontweight">Precio</span>
              <br>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, ullam.

              <li>
                <span class="fontweight">Detalles de la publicación</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-9 p-0">

        <app-listproduct
          class="mt-2"
          *ngIf="idparam" [id]="idparam">
        </app-listproduct>
      </div>
    </div>
  </div>
</section>
