<div class="CollectionGrid-container category-box">
  <div class="best-pro slider-items-products container">
    <div class="new_title">
      <h2>Categorías populares</h2>
    </div>
    <div class="CollectionGrid container">
        <owl-carousel
        #owlCategories
        *ngIf="data && data.length"
        [options]="optionsOws"
        [items]="data"
        [carouselClasses]="['owl-theme', 'sliding']">
        <div class="item cursor-pointer" *ngFor="let dat of data;let i = index">
            <a class="CollectionGrid-tile hover-overlay-light" href="index.html#">
                <div class="CollectionGrid-tileImage align-center">
                  <img class="item-img"  src="http://via.placeholder.com/640x640" alt="bags">
                </div>
                <div class="CollectionGrid-tileName js-dotdotdot">
                  Handbags
                </div>
              </a>
        </div>
        </owl-carousel>

    </div>
  </div>
