<div class="CollectionGrid-container category-box">
  <div class="best-pro slider-items-products container">
    <div class="new_title">
      <h2>{{"box_categories.title" | translate}}</h2>
    </div>
    <div class="CollectionGrid container">
      <owl-carousel
        #owlCategories
        *ngIf="data && data.length"
        [options]="optionsOws"
        [items]="data"
        [carouselClasses]="['owl-theme', 'sliding']">
        <div class="item cursor-pointer" *ngFor="let dat of data;let i = index">
          <div class="CollectionGrid-tile hover-overlay-light">
            <div class="CollectionGrid-tileImage align-center">
              <img class="item-img" [src]="dat['image_small']" alt="bags">
            </div>
            <div class="CollectionGrid-tileName js-dotdotdot">
              {{dat['name']}}
            </div>
          </div>
        </div>
      </owl-carousel>

    </div>
  </div>
</div>
