<section class="main-container col2-right-layout mt-0">
  <app-sidebar></app-sidebar>
  <div class="page-content">
    <div class="p-0">
      <div class="inside-body mb-4">
        <div class="pt-2">
          <div class="row">
            <div class="col-12">
              <div *ngIf="loading">
                <div class="timeline-item ">
                  <div class="animated-background" style="height: 40px">
                    <div class="background-masker header-top"></div>
                    <div class="background-masker header-left"></div>
                    <div class="background-masker header-right"></div>
                    <div class="background-masker header-bottom"></div>
                    <div class="background-masker subheader-left"></div>
                    <div class="background-masker subheader-right"></div>
                    <div class="background-masker subheader-bottom"></div>

                  </div>
                  <div class="animated-background mt-3" style="height: 40px">
                    <div class="background-masker header-top"></div>
                    <div class="background-masker header-left"></div>
                    <div class="background-masker header-right"></div>
                    <div class="background-masker header-bottom"></div>
                    <div class="background-masker subheader-left"></div>
                    <div class="background-masker subheader-right"></div>
                    <div class="background-masker subheader-bottom"></div>

                  </div>
                  <div class="animated-background mt-3" style="height: 40px">
                    <div class="background-masker header-top"></div>
                    <div class="background-masker header-left"></div>
                    <div class="background-masker header-right"></div>
                    <div class="background-masker header-bottom"></div>
                    <div class="background-masker subheader-left"></div>
                    <div class="background-masker subheader-right"></div>
                    <div class="background-masker subheader-bottom"></div>

                  </div>
                  <div class="animated-background mt-3" style="height: 40px">
                    <div class="background-masker header-top"></div>
                    <div class="background-masker header-left"></div>
                    <div class="background-masker header-right"></div>
                    <div class="background-masker header-bottom"></div>
                    <div class="background-masker subheader-left"></div>
                    <div class="background-masker subheader-right"></div>
                    <div class="background-masker subheader-bottom"></div>

                  </div>
                </div>
              </div>
              <div *ngIf="!loading" class="card block-dashboard border-0">
                <div class="col p-0 bg-table min-height-300">
                  <table *ngIf="data && data['data'].length" class="table table-shipment">
                    <tbody>
                    <tr *ngFor="let dat of data['data'];let i = index"
                        [routerLink]="['/','sales',dat['uuid']]"
                        class="list-table-item cursor-pointer">
                  
                      <td [style.width]="'35%'" [style.borderRight]="'1px solid #e4e4e4'">
                        <div>
                          <h6>
                            Pedido #({{dat['id']}})
                          </h6>
                        </div>
                        <div>
                          <span class="form-text text-color-gray">
                            <fa name="user"></fa>
                            {{dat['users_name']}}
                          </span>
                        </div>
                        <div>
                          <span class="form-text text-color-gray">
                            <fa name="phone"></fa>
                            {{dat['users_phone']}}
                          </span>
                        </div>
                        <div>
                          <span class="form-text text-color-gray">
                            <fa name="envelope"></fa>
                            {{dat['users_email']}}
                          </span>
                        </div>
                      </td>
                      <td [style.width]="'35%'" [style.borderRight]="'1px solid #e4e4e4'">
                        Lorem ipsum dolor.
                      </td>
                      <td class="text-right"  [style.width]="'20%'">
                        <span>
                          <h6>
                            <b>{{dat['amount'] |number:'1.2-2'}} {{"currency" | translate}}</b>
                          </h6>
                        </span>
                      </td>
                      <td class="text-right"[style.width]="'10%'">
                        <div [tooltip]="dat['status']">
                            <span class="badge p-1" 
                            [ngClass]="{'badge-success':(dat['status']==='success'),
                            'badge-danger':(dat['status']!=='success')}">
                              {{dat['status']}}
                            </span>  
                        </div>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                  <div *ngIf="data && !data['data'].length" class="text-center pb-4">
                    <img src="../../../../../assets/images/sale.svg"
                         class="mt-4"
                         width="100px" alt="">
                    <div class="mt-2">
                      <p class="text-muted p-4">Aun no tienes ventas</p>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
