<div class="main-container col2-right-layout">
  <div class="main container">
    <div class="row">
      <section class="col-main col-sm-9 wow bounceInUp animated animated" style="visibility: visible;">

        <ol class="one-page-checkout" id="checkoutSteps">
          <li class="section allow">
            <div class="step-title">
              <h3 class="one_page_heading">Dirección</h3>
            </div>
            <div id="checkout-step-billing" class="step a-item">

              <label>Seleccione una dirección de facturación de su libreta de direcciones o ingrese una nueva
                dirección.</label>


              <div *ngIf="data['data'] && !data['data'].length" class="text-center p-img-center">
                <img src="../../../../../../assets/images/location-gray.svg" width="100px" alt="">
                <p class="text-muted mt-3">Aun no has agregado ninguna direccion de envio</p>
              </div>
              <div *ngIf="data['data'] && data['data'].length">
                <ng-select [items]="data['data']"
                           bindLabel="state"
                           [ngModelOptions]="{standalone: true}"
                           [clearable]="false"
                           [clearOnBackspace]="false"
                           [searchable]="false"
                           [multiple]="false"
                           [virtualScroll]="true"
                           [closeOnSelect]="true"
                           (change)="selectOptions($event)"
                           placeholder="Buscar..."
                           [(ngModel)]="addreselect">
                  <!--<ng-template ng-label-tmp let-item="item">-->
                  <!--<img height="50" width="50"  onError="this.src='assets/images/nofound.png'" [src]="item.avatar"/>-->
                  <!--<b>&nbsp;{{item.name}}</b>-->
                  <!--</ng-template>-->
                  <ng-template ng-option-tmp let-item="item" let-index="index">
                    <div style="width: 10%">
                      <div>
                        <flag-icon country="{{item['country'] | lowercase}}"></flag-icon>
                      </div>
                    </div>
                    <div style="width: 90%">
                      {{item.state}}, {{item.country}}, {{item.address}}
                    </div>

                  </ng-template>
                </ng-select>
              </div>

              <div class=" text-right">
                <button *ngIf="data['data'] && !data['data'].length"
                        [disabled]="data['data'].length"
                        (click)="openaddres()"
                        class="btn btn-primary btn-sm" type="button">
                  <i aria-hidden="true" class="fa fa-plus" ng-reflect-klass="fa fa-plus"></i>
                </button>
              </div>
            </div>
            <div class="text-right">
              <button
                (click)="purchase()"
                type="button"
                class="btn btn-outline-primary btn-lg">
                Pagar
              </button>
            </div>
          </li>
          <li class="section allow">
            <div class="step-title">
              <h3 class="one_page_heading">Dirección</h3>
            </div>
            <div id="checkout-step-billing" class="step a-item">

              <label>Seleccione una dirección de facturación de su libreta de direcciones o ingrese una nueva
                dirección.</label>


              <div *ngIf="data['data'] && !data['data'].length" class="text-center p-img-center">
                <img src="../../../../../../assets/images/location-gray.svg" width="100px" alt="">
                <p class="text-muted mt-3">Aun no has agregado ninguna direccion de envio</p>
              </div>
              <div *ngIf="data['data'] && data['data'].length">
                <ng-select [items]="data['data']"
                           bindLabel="state"
                           [ngModelOptions]="{standalone: true}"
                           [clearable]="false"
                           [clearOnBackspace]="false"
                           [searchable]="false"
                           [multiple]="false"
                           [virtualScroll]="true"
                           [closeOnSelect]="true"
                           (change)="selectOptions($event)"
                           placeholder="Buscar..."
                           [(ngModel)]="addreselect">
                  <!--<ng-template ng-label-tmp let-item="item">-->
                  <!--<img height="50" width="50"  onError="this.src='assets/images/nofound.png'" [src]="item.avatar"/>-->
                  <!--<b>&nbsp;{{item.name}}</b>-->
                  <!--</ng-template>-->
                  <ng-template ng-option-tmp let-item="item" let-index="index">
                    <div style="width: 10%">
                      <div>
                        <flag-icon country="{{item['country'] | lowercase}}"></flag-icon>
                      </div>
                    </div>
                    <div style="width: 90%">
                      {{item.state}}, {{item.country}}, {{item.address}}
                    </div>

                  </ng-template>
                </ng-select>
              </div>

              <div class=" text-right">
                <button *ngIf="data['data'] && !data['data'].length"
                        [disabled]="data['data'].length"
                        (click)="openaddres()"
                        class="btn btn-primary btn-sm" type="button">
                  <i aria-hidden="true" class="fa fa-plus" ng-reflect-klass="fa fa-plus"></i>
                </button>
              </div>
            </div>
            <div class="text-right">
              <button
                (click)="purchase()"
                type="button"
                class="btn btn-outline-primary btn-lg">
                Pagar
              </button>
            </div>
          </li>
        </ol>

        <br>
      </section>
      <aside class="col-right sidebar col-sm-3 wow bounceInUp animated animated">
        <div id="checkout-progress-wrapper">
          <div class="block block-progress">
            <div class="block-title"> tu Checkout</div>
            <div class="block-content">
              <div>
                <div id="billing-progress-opcheckout">
                  <span> Billing Address</span>
                </div>
                <div id="shipping-progress-opcheckout">
                  <span> Shipping Address</span>
                </div>
                <div id="shipping_method-progress-opcheckout">
                  <span> Shipping Method</span>
                </div>
                <div id="payment-progress-opcheckout">
                  <span> Payment Method</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </aside>
      <!--col-right sidebar-->
    </div>
    <!--row-->
  </div>
  <!--main-container-inner-->
</div>
