<div class="main-container col1-layout wow bounceInUp animated animated">
  <app-side-bar-cart [step]="2"></app-side-bar-cart>
  <div class="main container container-offset text-dark">
    <div class="cart wow bounceInUp animated animated">
      <div class="new_title">
        <h2>Entrega</h2>
        <h6 *ngIf="editform && editform['id']" class="text-dark mt-2">Esta es tu última dirección registrada en
          Apatxee</h6>
      </div>
      <div class="table-responsive shopping-cart-tbl container  mt-4">
        <div *ngIf="loading">
          <ngx-content-loading
            [width]="1000"
            [height]="300">
            <svg:g ngx-rect width="800" height="10" y="10" x="0" rx="5" ry="5"></svg:g>
            <svg:g ngx-rect width="700" height="10" y="40" x="0" rx="5" ry="5"></svg:g>
            <svg:g ngx-rect width="600" height="10" y="70" x="0" rx="5" ry="5"></svg:g>
            <svg:g ngx-rect width="900" height="10" y="100" x="0" rx="5" ry="5"></svg:g>
          </ngx-content-loading>
        </div>
        <div *ngIf="!loading">
          <form [formGroup]="form" autocomplete="off" (submit)="saveData()">
            <div class="form-group col" *ngIf="editform && !editform['id']">
              <div>
                <label>Ingresa tu dirección</label>
                <div *ngIf="loading" class="loading-zip">
                  <fa name="spinner" animation="spin"></fa>
                </div>
                <input ngx-google-places-autocomplete
                       [disabled]="loading"
                       autocomplete="off"
                       class="form-control"
                       [ngModelOptions]="{standalone: true}"
                       [ngModel]="address" [options]='optionsPlaces' #placesRef="ngx-places"
                       placeholder="Ingresa una dirección de envio"
                       (onAddressChange)="handleAddressChange($event)"/>

              </div>
            </div>
            <div class="d-flex">
              <div class="col">
                <div *ngIf="editform" class="form-group">
                  <label>País</label>
                  <input type="text" class="form-control"
                         readonly
                         spellcheck="false" autocomplete="off"
                         [(ngModel)]="editform['country']"
                         formControlName="country"
                         placeholder="¿Cual es tu pais?">
                </div>
                <div *ngIf="editform" class="form-group">
                  <label>Provincia</label>
                  <input type="text" class="form-control"
                         [(ngModel)]="editform.state"
                         formControlName="state"
                         [readOnly]="editform && editform['id']"
                         spellcheck="false" autocomplete="off"
                         placeholder="¿Cual es tu provincia?">
                </div>
                <div *ngIf="editform" class="form-group">
                  <label>Distrito</label>
                  <input type="text" class="form-control"
                         [(ngModel)]="editform.district"
                         [readOnly]="editform && editform['id']"
                         spellcheck="false" autocomplete="off"
                         formControlName="district"
                         placeholder="¿Cual es tu distrito?">
                </div>
              </div>

              <div class="col">
                <div *ngIf="editform" class="form-group">
                  <label>Piso, Numero</label>
                  <input type="text" class="form-control"
                         [(ngModel)]="editform.address"
                         [readOnly]="editform && editform['id']"
                         spellcheck="false" autocomplete="off"
                         formControlName="address"
                         placeholder="¿Piso 2, #2-4?">
                </div>
                <div *ngIf="editform" class="form-group">
                  <label>Codigo postal</label>
                  <input type="text" class="form-control"
                         [(ngModel)]="editform.zip_code"
                         readonly
                         spellcheck="false" autocomplete="off"
                         formControlName="zip_code"
                         placeholder="¿Cual es tu codigo postañ?">
                </div>
                <div *ngIf="editform" class="form-group">
                  <label>Instrucciones</label>
                  <input type="text" class="form-control"
                         [(ngModel)]="editform.instructions"
                         [readOnly]="editform && editform['id']"
                         formControlName="instructions"
                         spellcheck="false" autocomplete="off"
                         placeholder="Toca 3 veces el timbre">
                </div>
                <div *ngIf="editform && editform['id']" class="form-group text-right mt-4 mb-0">
                  <button type="button" (click)="purchase()" class="btn btn-primary">Continuar</button>
                </div>
                <div *ngIf="editform && !editform['id']" class="form-group text-right mt-4 mb-0">
                  <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>
    <div class="text-center">
      <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, sit.</p>
    </div>
  </div>

</div>
