<div class="main-container col1-layout wow bounceInUp animated animated">
  <app-side-bar-cart [step]="2"></app-side-bar-cart>
  <div class="main text-dark col-md-6 col-lg-9 col-xl-9">
    <div @tijl class="cart wow bounceInUp animated animated pl-4 pr-4">
      <div class="new_title">
        <h2>Entrega</h2>
        <h6 *ngIf="editform && editform['id']" class="text-dark mt-2">Esta es tu última dirección registrada.</h6>
      </div>
      <div class="table-responsive shopping-cart-tbl container  mt-4">
        <div *ngIf="loading">
          <ngx-content-loading [width]="1000" [height]="300">
            <svg:g ngx-rect width="800" height="10" y="10" x="0" rx="5" ry="5"></svg:g>
            <svg:g ngx-rect width="700" height="10" y="40" x="0" rx="5" ry="5"></svg:g>
            <svg:g ngx-rect width="600" height="10" y="70" x="0" rx="5" ry="5"></svg:g>
            <svg:g ngx-rect width="900" height="10" y="100" x="0" rx="5" ry="5"></svg:g>
          </ngx-content-loading>
        </div>
        <div *ngIf="!loading">
          <div class="form-group col d-flex">
            <div>
              <ui-switch size="small" [(ngModel)]="staying">
              </ui-switch>
            </div>
            <span class="ml-2" *ngIf="staying" [innerHTML]="'global.staying' | translate"></span>
            <span class="ml-2" *ngIf="!staying" [innerHTML]="'global.not_staying' | translate"></span>
          </div>

          <form [formGroup]="form" autocomplete="off" (submit)="saveData()">
            <div *ngIf="staying" class="col mb-2">
              <ng-select [items]="ah_accommodations" bindLabel="name" class="select-create-category"
                placeholder="¿Cual es tu piso?" autofocus [clearable]="false" (ngModelChange)="emitPreview($event)"
                [ngModelOptions]="{standalone: true}" [(ngModel)]="selectAccommodation">
              </ng-select>
            </div>
            <div [hidden]="staying" class="form-group col" *ngIf="editform && !editform['id']">
              <div>
                <label>Ingresa tu dirección</label>
                <div *ngIf="loading" class="loading-zip">
                  <fa name="spinner" animation="spin"></fa>
                </div>
                <input ngx-google-places-autocomplete [disabled]="loading" autocomplete="off" class="form-control"
                  [ngModelOptions]="{standalone: true}" [ngModel]="address" [options]='optionsPlaces'
                  #placesRef="ngx-places" placeholder="Ingresa una dirección de envio"
                  (onAddressChange)="handleAddressChange($event)" />

              </div>
            </div>
            <div [hidden]="staying" class="d-flex">
              <div class="col">
                <div *ngIf="editform" [hidden]="true" class="form-group">
                  <label>País</label>
                  <input type="text" class="form-control" readonly spellcheck="false" autocomplete="off"
                    [(ngModel)]="editform['country']" formControlName="country" placeholder="¿Cual es tu pais?">
                </div>
                <div *ngIf="editform" class="form-group">
                  <label>Provincia</label>
                  <input type="text" class="form-control" [(ngModel)]="editform.state" formControlName="state"
                    [readOnly]="editform && editform['id']" spellcheck="false" autocomplete="off"
                    placeholder="¿Cual es tu provincia?">
                </div>
                <div *ngIf="editform" class="form-group">
                  <label>Distrito</label>
                  <input type="text" class="form-control" [(ngModel)]="editform.district"
                    [readOnly]="editform && editform['id']" spellcheck="false" autocomplete="off"
                    formControlName="district" placeholder="¿Cual es tu distrito?">
                </div>
              </div>

              <div class="col">
                <div *ngIf="editform" class="form-group">
                  <label>Piso, Numero</label>
                  <input type="text" class="form-control" [(ngModel)]="editform.address"
                    [readOnly]="editform && editform['id']" spellcheck="false" autocomplete="off"
                    formControlName="address" placeholder="¿Piso 2, #2-4?">
                </div>
                <div *ngIf="editform" [hidden]="true" class="form-group">
                  <label>Codigo postal</label>
                  <input type="text" class="form-control" [(ngModel)]="editform.zip_code" readonly spellcheck="false"
                    autocomplete="off" formControlName="zip_code" placeholder="¿Cual es tu codigo postañ?">
                </div>
              </div>
            </div>
            <div class="col">
              <div *ngIf="editform" class="form-group">
                <label>Instrucciones</label>
                <input type="text" class="form-control" [(ngModel)]="editform.instructions"
                  [readOnly]="editform && editform['id']" formControlName="instructions" spellcheck="false"
                  autocomplete="off" placeholder="Toca 3 veces el timbre">
              </div>
            </div>
            <div *ngIf="editform && !editform['id']" class="form-group text-right mt-4 mb-0">
              <button [disabled]="loading_save" type="submit" class="btn btn-primary">
                <span *ngIf="!loading_save">Guardar</span>
                <fa *ngIf="loading_save" name="spinner" animation="spin"></fa>
              </button>
            </div>
            <div *ngIf="editform && editform['id']" class="form-group text-right mt-4 mb-0">
              <button type="button" [routerLink]="['/','payment']" class="btn btn-primary">Continuar</button>
            </div>
          </form>
        </div>

      </div>
      <div class="text-center payment_sentence">
        <p class="text-muted" [innerHTML]="'global.payment_sentence' | translate"></p>
      </div>

      <div class="item-responsive">
        <div class="new_title_responsive mt-3 mb-3 ml-2 mr-2">
          <p>
            <b>{{"page.checkout.shipping" | translate}}</b>
          </p>
        </div>

        <div class="bg-white pb-3 pt-3">
          <div class="form-group col d-flex">
            <div>
              <ui-switch size="small" [(ngModel)]="staying">
              </ui-switch>
            </div>
            <span class="ml-2" *ngIf="staying" [innerHTML]="'global.staying' | translate"></span>
            <span class="ml-2" *ngIf="!staying" [innerHTML]="'global.not_staying' | translate"></span>
          </div>
          <div *ngIf="!loading">
            <form [formGroup]="form" autocomplete="off" (submit)="saveData()">
              <div *ngIf="staying" class="col mb-2">
                <ng-select [items]="ah_accommodations" bindLabel="name" class="select-create-category"
                  placeholder="¿Cual es tu piso?" autofocus [clearable]="false" (ngModelChange)="emitPreview($event)"
                  [ngModelOptions]="{standalone: true}" [(ngModel)]="selectAccommodation">
                </ng-select>
              </div>
              <div class="form-group col" [hidden]="staying" *ngIf="editform && !editform['id']">
                <div>
                  <label>Ingresa tu dirección</label>
                  <div *ngIf="loading" class="loading-zip">
                    <fa name="spinner" animation="spin"></fa>
                  </div>
                  <input ngx-google-places-autocomplete [disabled]="loading" autocomplete="off" class="form-control"
                    [ngModelOptions]="{standalone: true}" [ngModel]="address" [options]='optionsPlaces'
                    #placesRef="ngx-places" placeholder="Ingresa una dirección de envio"
                    (onAddressChange)="handleAddressChange($event)" />

                </div>
              </div>
              <div class="d-flex" [hidden]="staying">
                <div class="col">
                  <div *ngIf="editform" class="form-group">
                    <label>País</label>
                    <input type="text" class="form-control" readonly spellcheck="false" autocomplete="off"
                      [(ngModel)]="editform['country']" formControlName="country" placeholder="¿Cual es tu pais?">
                  </div>
                  <div *ngIf="editform" class="form-group">
                    <label>Provincia</label>
                    <input type="text" class="form-control" [(ngModel)]="editform.state" formControlName="state"
                      [readOnly]="editform && editform['id']" spellcheck="false" autocomplete="off"
                      placeholder="¿Cual es tu provincia?">
                  </div>
                  <div *ngIf="editform" class="form-group">
                    <label>Distrito</label>
                    <input type="text" class="form-control" [(ngModel)]="editform.district"
                      [readOnly]="editform && editform['id']" spellcheck="false" autocomplete="off"
                      formControlName="district" placeholder="¿Cual es tu distrito?">
                  </div>
                </div>

                <div class="col">
                  <div *ngIf="editform" class="form-group">
                    <label>Piso, Numero</label>
                    <input type="text" class="form-control" [(ngModel)]="editform.address"
                      [readOnly]="editform && editform['id']" spellcheck="false" autocomplete="off"
                      formControlName="address" placeholder="¿Piso 2, #2-4?">
                  </div>
                  <div *ngIf="editform" class="form-group">
                    <label>Codigo postal</label>
                    <input type="text" class="form-control" [(ngModel)]="editform.zip_code" readonly spellcheck="false"
                      autocomplete="off" formControlName="zip_code" placeholder="¿Cual es tu codigo postañ?">
                  </div>
                </div>
              </div>
              <div class="col">
                  <div *ngIf="editform" class="form-group">
                      <label>Instrucciones</label>
                      <input type="text" class="form-control" [(ngModel)]="editform.instructions"
                        [readOnly]="editform && editform['id']" formControlName="instructions" spellcheck="false"
                        autocomplete="off" placeholder="Toca 3 veces el timbre">
                    </div>
                    <div *ngIf="editform && !editform['id']" class="form-group text-right mt-4 mb-0">
                      <button [disabled]="loading_save" type="submit" class="btn btn-primary">
                        <span *ngIf="!loading_save">Guardar</span>
                        <fa *ngIf="loading_save" name="spinner" animation="spin"></fa>
                      </button>
                    </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- call to action responsive-->
  <div *ngIf="editform && editform['id']" class="call-action-buy row m-0  container">
    <div class="col-12 p-0">
      <button [routerLink]="['/','payment']" type="button" class="btn btn-primary btn-block">
        {{"page.single.buy" |translate}}
      </button>
      <div class="pl-0 pr-0 pt-1">
        <small>
          {{"global.payment_sentence" | translate}}
        </small>
      </div>
    </div>
  </div>
  <!-- end call to action-->
</div>