.title-content {
  font-weight: bold;
}

.block-dashboard {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  display: block;
  padding: 0;
  background-color: white;
}

.card-header, .card-footer {
  background-color: transparent !important;
}

.card {
  border: solid 1px #e8e8e8 !important;
  border-radius: 0px;
}
