.logo {
  padding-top: 10px;
  padding-left: 30px;
}

.fl-nav-menu-search {
  width: 75%;
}

.custom-select-search-item {
  width: 100%;
  margin-top: 10px;
}

.fl-nav-menu {
  width: 100%;
  height: 45px;
}

#nav > li > a {
  line-height: 45px;
  font-weight: normal;
  letter-spacing: 0px;
}

#nav > li {
  padding-right: 10px;
  padding-left: 10px;
}

#nav li.drop-menu:hover ul, #nav .level0-wrapper, #nav.classic ul.level0 {
  top: 45px;
}

#nav > li:hover > a, .vertnav-top li > a:hover {

}

.sign:hover span {
  text-decoration: underline;
}

.send-to {
  
  font-weight: 400 !important;
  color: #ce0100 !important;

  border-radius: 5px;
  font-size: 12px !important;
  letter-spacing: 0px !important;
}

.sign {
  
  font-weight: 400 !important;
  color: #ce0100 !important;
  border-radius: 5px;
}

.menu-account {
  width: 40% !important;
  left: 60% !important;
}

.menu-account-shopping{
  width: 30% !important;
  left: 70% !important;
}

.profile-image{
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 30px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.menu-account h5, .fl-links .no-js:hover .fl-nav-links .links a {
  color: black !important;
}

.fl-links .no-js:hover .fl-nav-links {
  background-color: white;
}

header {
  box-shadow: 0px 3px 8px -4px rgba(0, 0, 0, 0.15);
  border-bottom-width: 2px;
}

