/*MENU ICON*/
.wrapper-menu {
  display: inline-block;
  margin: 0px;
  position: relative;
  padding: .4rem .2rem;
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.wrapper-menu .main-item {
  width: 100%;
  height: 100%;
  position: relative;
}

.wrapper-menu .line {
  position: absolute;
  height: 1px;
  width: 100%;
  background: #2b2b2b;
  border-radius: 10px;
  transition: all cubic-bezier(0.25, 0.1, 0.28, 1.54) 0.32s;
}

.wrapper-menu .line01 {
  top: 19%;
}

.wrapper-menu .line02 {
  top: 49%;
}

.wrapper-menu .line03 {
  top: 79%;
}

.wrapper-menu .menu.close .line01 {
  transform: rotate(45deg);
  top: 49%;
}

.wrapper-menu .menu.close .line02, .menu.close .line03 {
  transform: rotate(-45deg);
  top: 49%;
}
.menu.close .line02{
  display: none;
}

/***/
.logo {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.fl-nav-menu-search {
  width: 100%;
}

.custom-select-search-item {
  width: 100%;
  margin-top: 10px;
}

.fl-nav-menu {
  width: 100%;
  height: 35px;
}

#nav > li > a {
  line-height: 30px;
  font-weight: normal;
  letter-spacing: 0px;
}

#nav > li {
  padding-right: 10px;
  padding-left: 10px;
}

#nav li.drop-menu:hover ul, #nav .level0-wrapper, #nav.classic ul.level0 {
  top: 45px;
}

#nav > li:hover > a, .vertnav-top li > a:hover {

}

.sign:hover span {
  color: #2b2b2b;
}

.send-to {

  font-weight: 400 !important;
  color: #ce0100 !important;

  border-radius: 5px;
  font-size: 12px !important;
  letter-spacing: 0px !important;
}

.sign {
  font-weight: 400 !important;
  border-radius: 5px;
  border: solid 1px rgba(43, 43, 43, 0.1);
  -webkit-transition: .1s ease-in-out;
  -moz-transition: .1s ease-in-out;
  -o-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

.sign:hover {
  color: #2b2b2b;
  border: solid 1px rgba(43, 43, 43, 0.5);
  -webkit-transition: .1s ease-in-out;
  -moz-transition: .1s ease-in-out;
  -o-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

.sign span {
  line-height: 25px;
  color: #2b2b2b;
  padding: 3px 10px !important;
}

.steps-shoping-cart {
  width: 100%;
  margin-left: 1rem;
  margin-right: 1rem;
}

.steps-shoping-cart ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  min-height: 64px;
}

.steps-shoping-cart ul li {
  width: 100%;
  border-right: solid 1px #efefef;
  text-align: center;
}

.steps-shoping-cart ul li:first-child {
  width: 100%;
  border-left: solid 1px #efefef;
  text-align: center;
}

.steps-shoping-cart ul li div {
  opacity: .5;
}

.is-active, .is-active div {
  opacity: 1 !important;
  font-weight: bold;
}

.border-solid-circle {
  border: solid 1px #e4e4e4;
  border-radius: 20px;
}

.menu-account {
  width: 40% !important;
  left: 60% !important;
}

.menu-account-shopping {
  width: 30% !important;
  left: 70% !important;
}

.profile-image {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 30px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.menu-account h5, .fl-links .no-js:hover .fl-nav-links .links a {
  color: black !important;
}

.fl-links .no-js:hover .fl-nav-links {
  background-color: white;
}

.icon-add-number {
  -webkit-animation: ring 1.5s ease;
  animation: ring 1.5s ease;

}

@-webkit-keyframes ring {
  0% {
    -webkit-transform: rotate(35deg);
  }
  12.5% {
    -webkit-transform: rotate(-30deg);
  }
  25% {
    -webkit-transform: rotate(25deg);
  }
  37.5% {
    -webkit-transform: rotate(-20deg);
  }
  50% {
    -webkit-transform: rotate(15deg);
  }
  62.5% {
    -webkit-transform: rotate(-10deg);
  }
  75% {
    -webkit-transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@keyframes ring {
  0% {
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
  }
  12.5% {
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
  25% {
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
  }
  37.5% {
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }
  50% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  62.5% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  75% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.button-shop {
  width: 120px;
  text-align: center;
  margin-top: .2rem;
  color: #212529
}

.button-shop small {
  color: #222;
}

ul.dropdown-menu.drop-menu-profile:before {
  content: " ";
  position: absolute;
  background: white;
  top: -5px;
  width: 15px;
  height: 15px;
  transform: rotate(45deg);
  left: 70px;
  border: solid 1px #e8e8e8;
}

ul.dropdown-menu.drop-menu-profile:after {
  content: " ";
  position: absolute;
  background: #ffffff;
  top: 0px;
  width: 110px;
  height: 16px;
  right: 0px;
}

ul.dropdown-menu.drop-menu-profile li {
  opacity: .7;
}

ul.dropdown-menu.drop-menu-profile li:hover {
  opacity: 1;
}

.icon-bell {
  position: absolute;
  background: rgb(236, 47, 77);
  right: -10px;
  top: -5px;
  width: 20px;
  height: 20px;
  color: white;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
  border-radius: 40px;
}

.header-container {
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.menu-shop-line:hover, .is-active {
  /*border-bottom: solid 3px #ce0000*/
}

.dropdown-menu.drop-menu-profile {
  top: 33px !important;
}

#nav > li.mega-menu-hover:hover {
  opacity: .7;
}

#nav > li.mega-menu-hover {
  -webkit-transition: .1s ease-in-out;
  -moz-transition: .1s ease-in-out;
  -o-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
  opacity: 1;
}

.point-shop {
  background: #ce0000;
  position: absolute;
  right: 42px;
  width: 10px;
  height: 10px;
  border-radius: 30px;
  margin-top: -5px;
}

.full-mode-header {
  margin-right: 2rem;
  margin-left: 2rem;
  min-height: 63px;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

header {
  box-shadow: 0px 3px 8px -4px rgba(0, 0, 0, 0.15);
  border-bottom-width: 2px;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.offset-margin-video {
  transform: translate(0, -70px);
  box-shadow: 0px 3px 8px -4px rgba(0, 0, 0, 0.15);
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom-width: 0px;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}


/*MOBIL*/
.header-mobile {
  min-height: 87px;
  position: fixed;
  width: 100%;
  top:0;
  z-index: 9999;
}

.header-mobile .first-nav {
  background-color: white;
  position: absolute;
  height: 60%;
  width: 100%;
  z-index: 999;
  border-bottom: solid 1px #f3f3f3;
}

.header-mobile .first-nav .block-logo {
  width: 15%;
  line-height: 1.6rem;
}

.block-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.header-mobile .first-nav .block-search {
  width: 63%;
  padding: .5rem .3rem .4rem .2rem;
}

.block-search .input-search {
  height: 2.3rem;
  font-size: .9rem;
  line-height: .9rem;
  padding: .2rem .4rem .2rem .4rem;
  background-color: transparent;
  border: 0;

}

.block-search .input-search:focus {
  border: 0;
}

.input-search::-webkit-input-placeholder,
.input-search:-moz-placeholder,
.input-search::-moz-placeholder,
.input-search:-ms-input-placeholder {
  font-size: .9rem;
}

.block-search .input-group {
  height: 2.23rem;
  background-color: #fcfcfc;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0);
  margin: 0;
}

.block-search .btn {
  background-color: transparent;
  border: 0;
  color: #dadada;
  height: 1.9rem;
  margin: 0;
  margin-top: .3rem;
}

.header-mobile .first-nav .block-menu {
  width: 9.25%;
  line-height: 2.3rem;
}

.block-menu img {
  width: 100%;
}

.header-mobile .first-nav .block-cart {
  line-height: 2.3rem;
  width: 9.25%;
}

.block-cart img {
  width: 100%
}

.header-mobile .second-nav {
  background-color: white;
  top: 60%;
  position: absolute;
  width: 100%;
  display: block;
  height: 2rem;
  z-index: 999;
  border-bottom: solid 1px #f1f1f1;
}

.header-mobile .overlay{
  background: rgba(34, 34, 34, 0.85);
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  display: none;
}


/*Responsive Menu*/
.menu-open-responsive {
  background: white;
  position: absolute;
  width: 100%;
  top: 3.3rem;
  z-index: 9999;
}

.menu-open-responsive .block-section{
  border-bottom: solid 1px #f3f3f3;
}

.menu-open-responsive .list-menu{
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-menu li{
  padding: .7rem 1rem;
}
.list-menu li:hover{
  font-weight: 600;
  background-color: #efefef;
}

.menu-open-responsive .responsive-profile-block{
  min-height: 6rem;
  border-bottom: solid 1px #f3f3f3;
}
.responsive-profile-block img{
  width: 50px;
  border-radius: 100px;
  height: 50px;
  object-fit: cover;
}
/*---*/
