<div *ngIf="computer">
  <header @tijl *ngIf="!header" [style.opacity]="(modeFocus) ? '.4' : '1'"
    [ngClass]="{'position-fixed':(subMenu), 'offset-margin-video':(modeOffset)}">
    <div id="header">
      <div class="header-container full-mode-header logo-full-mode-header">
        <div class="row m-0">
          <div class="d-flex justify-content-between w-100">
            <div class="logo">
              <a [routerLink]="['/']" title="Apatxee">
                <div><img src="assets/images/logo-apatxee.png" height="50" alt="Apatxee"></div>
              </a>
            </div>
            <div *ngIf="!fullMenu" class="fl-nav-menu-search">
              <div class="custom-select-search-item">
                <app-search class="custom-select-search-item"></app-search>
              </div>
              <small *ngIf="location">
                <span class="cursor-pointer" (click)="openZip()">
                  <fa name="map-marker"></fa>
                  Enviar a <b>{{location['name']}}</b> {{location['zip_code']}}
                </span>
              </small>
            </div>
            <div *ngIf="fullMenu" class="steps-shoping-cart">
              <ul>
                <li class="p-2 cursor-pointer">
                  <div [routerLink]="['/','shopping-cart']" [routerLinkActive]="['is-active']">
                    <img class="mega-menu-hover" src="../../../../../assets/images/shopping-cart.svg" width="25px"
                      alt="">
                    <div>Carro</div>
                  </div>
                </li>
                <li class="p-2 cursor-pointer">
                  <div [routerLink]="['/','checkout']" [routerLinkActive]="['is-active']">
                    <img class="mega-menu-hover" src="../../../../../assets/images/location.svg" width="25px" alt="">
                    <div>Entrega</div>
                  </div>
                </li>
                <li class="p-2 cursor-pointer">
                  <div [routerLink]="['/','payment']" [routerLinkActive]="['is-active']">
                    <img class="mega-menu-hover" src="../../../../../assets/images/credit-card.svg" width="25px" alt="">
                    <div>Pago</div>
                  </div>
                </li>
                <li class="p-2 cursor-pointer">
                  <div>
                    <img class="mega-menu-hover" src="../../../../../assets/images/scooter-2b2b2b.svg" width="25px"
                      alt="">
                    <div>Confirmacion</div>
                  </div>
                </li>
              </ul>
            </div>

            <div class="menu-shop-line ml-2 mr-2 pt-2 pb-0 pl-2 pr-2 btn-group" dropdown
              [routerLinkActive]="['is-active']" *ngIf="!fullMenu && user_data">
              <div class="button-shop cursor-pointer" dropdownToggle>
                <span class="point-shop pulse"></span>
                <img src="../../../../../assets/images/shop.svg" width="30px" alt="">
                <div>
                  <span>Mi comercio</span>
                </div>
              </div>
              <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
                <app-shot-code-shop>
                </app-shot-code-shop>
              </ul>
            </div>

            <div class="menu-shop-line ml-2 mr-2 pb-0 pl-2 pr-2 btn-group" [routerLinkActive]="['is-active']"
              *ngIf="fullMenu && user_data">
              <div class="button-shop cursor-pointer pt-1">
                <div>
                  <img src="../../../../../assets/images/visa.svg" class="mr-2 border-solid-circle" width="30px" alt="">
                  <img src="../../../../../assets/images/mastercard.svg" class="mr-2 border-solid-circle" width="30px"
                    alt="">
                  <img src="../../../../../assets/images/discover.svg" class="mr-2 border-solid-circle" width="30px"
                    alt="">
                </div>
                <div class="p-1">
                  <small>Pago seguro</small>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="!subMenu" class="fl-nav-menu mt-2 mb-1">

            <nav>
              <div class="mm-toggle-wrap">
                <div class="mm-toggle"><i class="icon-align-justify"></i><span class="mm-label">Menu</span></div>
              </div>
              <div class="nav-inner">
                <!-- BEGIN NAV -->
                <ul id="nav" class="hidden-xs">
                  <li class="mega-menu mega-menu-hover" (click)="openCategory()">
                    <a class="level-top">
                      <span class="cursor-pointer">{{"menu.categories" | translate}}</span>
                    </a>

                  </li>

                  <li class="mega-menu mega-menu-hover">
                    <a [routerLink]="['/','search']" [queryParams]="{filters: 'products.featured,!=,not'}"
                      class="level-top">
                      <span class="cursor-pointer">{{"menu.product_features" | translate}}</span>
                    </a>

                  </li>

                  <li class="mega-menu mega-menu-hover">
                    <a (click)="scrollTop('official-shops')" lass="level-top">
                      <span class="cursor-pointer">{{"menu.shops" | translate}}</span>
                    </a>

                  </li>
                  <li class="mega-menu mega-menu-hover">
                    <a routerLink="/shop" class="level-top">
                      <span class="cursor-pointer">{{"menu.sell" | translate}}</span>
                    </a>
                  </li>
                  <li *ngIf="!user_data" class="mega-menu mega-menu-hover float-right d-flex">
                    <a routerLink="/login" class="level-top sign">
                      <span>
                        {{"menu.signup" | translate}} / {{"menu.signin" | translate}}
                      </span>
                    </a>
                  </li>

                  <li *ngIf="user_data" class="mega-menu float-right d-flex pr-2 pl-0">
                    <a [routerLink]="['/','shopping-cart']" class="level-top cursor-pointer">
                      <span class="pr-0">
                        <img class="mega-menu-hover" src="../../../../../assets/images/shopping-cart.svg" width="25px"
                          alt="">
                        <span class="icon-bell pulse" [ngClass]="{'icon-add-number':(animationBell)}"
                          *ngIf="number_items"><b>{{number_items}}</b></span>
                      </span>
                    </a>
                    <div class="level0-wrapper fl-custom-tabmenu menu-account-shopping">

                    </div>
                  </li>

                  <li *ngIf="user_data" class="mega-menu cursor-pointer float-right d-flex pr-0 btn-group" dropdown>
                    <div class="level-top" dropdownToggle>
                      <span class="p-0">
                        <img [src]="user_data['avatar']" width="30" class="profile-image" height="30"
                          [alt]="user_data['name']" />
                      </span>
                      <span class="pl-2 pr-1"><b>{{user_data['name'] | words : 2 :  '' }}</b></span>
                    </div>
                    <ul *dropdownMenu class="dropdown-menu drop-menu-profile dropdown-menu-right pt-0 pb-0" role="menu">
                      <li role="menuitem">
                        <a class="dropdown-item pl-3" [routerLink]="['/','purchases']">
                          <img src="../../../../../assets/images/menu-shopping-bag.svg" width="14px" alt="">
                          Mis compras
                        </a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item pl-3" [routerLink]="['/','sales']">
                          <img src="../../../../../assets/images/menu-sale.svg" width="14px" alt="">
                          Mis ventas
                        </a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item pl-3" [routerLink]="['/','logout']">
                          <img src="../../../../../assets/images/menu-logout.svg" width="14px" alt="">
                          Salir
                        </a>
                      </li>
                      <li class="divider dropdown-divider m-0 p-0"></li>
                      <li role="menuitem">
                        <a class="dropdown-item pl-3" [routerLink]="['/','profile']">Ver más</a>
                      </li>
                    </ul>
                  </li>
                </ul>
                <!--nav-->
              </div>
            </nav>
          </div>
          <!--row-->
        </div>
      </div>
    </div>
  </header>
</div>

<div class="header-mobile" *ngIf="mobile">
  <div class="first-nav d-flex justify-content-between">
    <div class="block-logo p-1" [routerLink]="['/']" title="Apatxee">
      <img src="../../../../../assets/images/apatxee-logo-sqaure.png" alt="Apatxee">
    </div>
    <div class="block-search">
      <form [formGroup]="form" (ngSubmit)="searchMobile($event)">
        <div class="input-group">
          <div class="input-group-prepend">
            <button class="btn btn-outline-secondary" type="button">
              <fa name="search"></fa>
            </button>
          </div>
          <input type="text" formControlName="src" class="form-control input-search" placeholder="Estoy buscando..." aria-label=""
            aria-describedby="basic-addon1">
        </div>
      </form>
    </div>
    <div class="block-menu p-2">
      <img class="mega-menu-hover" src="../../../../../assets/images/menu-button.svg" alt="">
    </div>
    <div class="block-cart p-2">
      <img class="mega-menu-hover" src="../../../../../assets/images/shopping-cart.svg" alt="">
    </div>
  </div>
  <div class="second-nav p-2">
    <small *ngIf="location">
      <span class="cursor-pointer" (click)="openZip()">
        <fa name="map-marker"></fa>
        Enviar a <b>{{location['name']}}</b> {{location['zip_code']}}
      </span>
    </small>
  </div>
</div>

<div *ngIf="tablet">
  es_tablet
</div>