<div *ngIf="computer">
  <div *ngIf="time_exp_promo" class="d-block text-center p-2 text-white promo-block">
    {{"promo.block" | translate}} <i><span timeago [date]="time_exp_promo" [live]="live"></span></i>
  </div>
  <header @tijl *ngIf="!header" [style.opacity]="(modeFocus) ? '.4' : '1'"
          [ngClass]="{'position-fixed':(subMenu), 'offset-margin-video':(modeOffset)}">
    <div id="header">
      <div class="header-container header-pc full-mode-header logo-full-mode-header">
        <div class="row m-0">
          <div class="d-flex first-nav justify-content-between w-100">
            <div class="logo">
              <a [routerLink]="['/']" title="Alterhome Shop">
                <div><img src="assets/images/mochinewwhite.svg" height="50" alt="Alterhome Shop"></div>
              </a>
            </div>
            <div *ngIf="!fullMenu" class="fl-nav-menu-search">
              <div class="custom-select-search-item">
                <app-search class="custom-select-search-item"></app-search>
              </div>
              <small *ngIf="location">
                <span class="cursor-pointer text-secondary" (click)="openZip()">
                  <fa name="home"></fa>
                  Enviar a piso <b>{{location['name']}}</b> {{location['zip_code']}}
                </span>
              </small>
            </div>
            <div *ngIf="fullMenu" class="steps-shoping-cart">
              <ul>
                <li class="p-2 cursor-pointer"  [routerLink]="['/','shopping-cart']" [routerLinkActive]="['is-active']">
                  <div>
                    <img class="mega-menu-hover" src="../../../../../assets/images/shopping-cart.svg" width="25px"
                         alt="">
                    <div>Carro</div>
                  </div>
                </li>
                <li class="p-2 cursor-pointer" [routerLink]="['/','checkout']" [routerLinkActive]="['is-active']">
                  <div>
                    <img class="mega-menu-hover" src="../../../../../assets/images/location.svg" width="25px" alt="">
                    <div>Entrega</div>
                  </div>
                </li>
                <li class="p-2 cursor-pointer" [routerLink]="['/','payment']" [routerLinkActive]="['is-active']">
                  <div>
                    <img class="mega-menu-hover" src="../../../../../assets/images/credit-card.svg" width="25px" alt="">
                    <div>Pago</div>
                  </div>
                </li>
                <li class="p-2 cursor-pointer">
                  <div>
                    <img class="mega-menu-hover" src="../../../../../assets/images/scooter-2b2b2b.svg" width="25px"
                         alt="">
                    <div>Confirmacion</div>
                  </div>
                </li>
              </ul>
            </div>

            <!--            <div class="menu-shop-line ml-2 mr-2 pt-2 pb-0 pl-2 pr-2 btn-group" dropdown-->
            <!--                 [routerLinkActive]="['is-active']" *ngIf="!fullMenu && user_data">-->
            <!--              <div class="button-shop cursor-pointer" dropdownToggle>-->
            <!--                <span class="point-shop pulse"></span>-->
            <!--                <img src="../../../../../assets/images/shop.svg" width="30px" alt="">-->
            <!--                <div>-->
            <!--                  <span>Mi comercio</span>-->
            <!--                </div>-->
            <!--              </div>-->
            <!--              <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">-->
            <!--                <app-shot-code-shop>-->
            <!--                </app-shot-code-shop>-->
            <!--              </ul>-->
            <!--            </div>-->

            <div class="menu-shop-line ml-2 mr-2 pb-0 pl-2 pr-2 btn-group" [routerLinkActive]="['is-active']"
                 *ngIf="fullMenu && user_data">
              <div class="button-shop cursor-pointer pt-1">
                <div>
                  <img src="../../../../../assets/images/visa.svg" class="mr-2 border-solid-circle" width="30px" alt="">
                  <img src="../../../../../assets/images/mastercard.svg" class="mr-2 border-solid-circle" width="30px"
                       alt="">
                  <img src="../../../../../assets/images/discover.svg" class="mr-2 border-solid-circle" width="30px"
                       alt="">
                </div>
                <div class="p-1">
                  <small class="text-white">Pago seguro</small>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="!subMenu" class="fl-nav-menu mt-2 mb-0">

            <nav>
              <div class="mm-toggle-wrap">
                <div class="mm-toggle"><i class="icon-align-justify"></i><span class="mm-label">Menu</span></div>
              </div>
              <div class="nav-inner">
                <!-- BEGIN NAV -->
                <ul id="nav" class="hidden-xs">
                  <li class="mega-menu mega-menu-hover" [routerLink]="['/','categories']">
                    <a class="level-top">
                      <span class="cursor-pointer">{{"menu.categories" | translate}}</span>
                    </a>
                  </li>

                  <li class="mega-menu mega-menu-hover">
                    <a [routerLink]="['/','search']" [queryParams]="{filters: 'products.featured,!=,not'}"
                       class="level-top">
                      <span class="cursor-pointer">{{"menu.product_features" | translate}}</span>
                    </a>
                  </li>

                  <li class="mega-menu mega-menu-hover">
                    <a [routerLink]="['/','search']" class="level-top">
                      <span class="cursor-pointer">{{"menu.shops" | translate}}</span>
                    </a>
                  </li>

                  <li class="mega-menu mega-menu-hover">
                    <a [routerLink]="['/','search']" [queryParams]="{order: 'rand'}"
                       class="level-top">
                      <span class="cursor-pointer">{{"menu.special.travel" | translate}}</span>
                    </a>
                  </li>
                  <li *ngIf="!user_data" class="mega-menu mega-menu-hover float-right d-flex">
                    <a routerLink="/login" class="level-top sign">
                      <span>
                        {{"menu.signup" | translate}} / {{"menu.signin" | translate}}
                      </span>
                    </a>
                  </li>

                  <li *ngIf="user_data" class="mega-menu float-right d-flex pr-2 pl-0">
                    <a [routerLink]="['/','shopping-cart']" class="level-top cursor-pointer">
                      <span class="pr-0">
                        <img class="mega-menu-hover" src="../../../../../assets/images/shopping-cart.svg" width="25px"
                             alt="">
                        <span class="icon-bell pulse" [ngClass]="{'icon-add-number':(animationBell)}"
                              *ngIf="number_items"><b>{{number_items}}</b></span>
                      </span>
                    </a>
                    <div class="level0-wrapper fl-custom-tabmenu menu-account-shopping">

                    </div>
                  </li>

                  <li *ngIf="user_data" class="mega-menu cursor-pointer float-right d-flex pr-0 btn-group" dropdown>
                    <div class="level-top" dropdownToggle>
                      <span class="p-0">
                        <img [src]="user_data['avatar']" width="30" class="profile-image" height="30"
                             [alt]="user_data['name']"/>
                      </span>
                      <span class="pl-2 pr-1"><b>{{user_data['name'] | words : 2 :  '' }}</b></span>
                    </div>
                    <ul *dropdownMenu class="dropdown-menu drop-menu-profile dropdown-menu-right pt-0 pb-0" role="menu">
                      <li role="menuitem">
                        <a class="dropdown-item pl-3" [routerLink]="['/','purchases']">
                          <img src="../../../../../assets/images/menu-shopping-bag.svg" width="14px" alt="">
                          {{"menu.my.purchases" | translate}}
                        </a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item pl-3" [routerLink]="['/','sales']">
                          <img src="../../../../../assets/images/menu-sale.svg" width="14px" alt="">
                          {{"menu.my.sell" | translate}}
                        </a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item pl-3" [routerLink]="['/','logout']">
                          <img src="../../../../../assets/images/menu-logout.svg" width="14px" alt="">
                          {{"menu.my.logout" | translate}}
                        </a>
                      </li>
                      <li class="divider dropdown-divider m-0 p-0"></li>
                      <li role="menuitem">
                        <a class="dropdown-item pl-3"
                           [routerLink]="['/','profile']">{{"menu.my.settings" | translate}}</a>
                      </li>
                    </ul>
                  </li>
                </ul>
                <!--nav-->
              </div>
            </nav>
          </div>
          <!--row-->
        </div>
      </div>
    </div>
  </header>
</div>
<div class="header-mobile" [ngClass]="{'hide-toggle': !isVisible}" *ngIf="!computer">
  <div *ngIf="time_exp_promo" class="d-block text-center p-2 text-white promo-block">
    {{"promo.block" | translate}} <i><span timeago [date]="time_exp_promo" [live]="live"></span></i>
  </div>
  <div class="overlay" (click)="menuResponsive = false" [style.display]="(menuResponsive) ? 'block' : 'none'"></div>
  <div class="first-nav d-flex justify-content-between">
    <div class="block-logo pl-1 pr-1 pt-2 pb-2" (click)="menuResponsive = false"
         [routerLink]="['/']" title="Apatxee">
      <img src="../../../../../assets/images/logo-mochileros-square.png" alt="Apatxee">
    </div>
    <div class="block-search">
      <form [formGroup]="form" (ngSubmit)="searchMobile($event)">
        <div class="input-group">
          <div class="input-group-prepend">
            <button class="btn btn-outline-secondary" type="button">
              <fa name="search"></fa>
            </button>
          </div>
          <input type="text" formControlName="src" class="form-control input-search" placeholder="{{'menu.search.input' | translate}}"
                 aria-label=""
                 aria-describedby="basic-addon1">
        </div>
      </form>
    </div>
    <div class="block-menu pl-1 pr-1 pt-2 pb-2">
      <div class="wrapper-menu" (click)="menuResponsive = !menuResponsive">
        <div class="main-item menu" [ngClass]="{'close':(menuResponsive)}">
          <span class="line line01"></span>
          <span class="line line02"></span>
          <span class="line line03"></span>
        </div>
      </div>
    </div>
    <div class="block-cart pt-2 pb-2" [routerLink]="['/','shopping-cart']">
      <img class="mega-menu-hover" src="../../../../../assets/images/shopping-bag-white.svg" alt="">
    </div>
  </div>
  <div class="menu-open-responsive" [@animationOption2]="menuResponsive ? 'open': 'close'" *ngIf="menuResponsive">
    <div class="responsive-profile-block pt-2 pr-2 pl-2 pb-4">
      <div class="col-12 pt-2 pr-0 pl-0 row m-0">
        <div class="col-3 p-0 text-center" (click)="menuResponsive = false" [routerLink]="['/','profile']">
          <img
            [src]="(user_data)? user_data['avatar'] :'../../../../../assets/images/blank-profile-picture.png'"
            width="40px" alt="">
        </div>
        <div class="col-9 p-0">
          <div>
            <b>{{"menu.hello" | translate}}</b>
          </div>
          <div>
            <small>{{"page.auth.login.subtitle" |translate}}</small>
          </div>
        </div>
      </div>
      <div *ngIf="!user_data" class="d-flex justify-content-between row m-0 pt-3 pl-0 pr-0">
        <div class="col-6">
          <button type="button" (click)="menuResponsive = false" routerLink="/login"
                  class="btn btn-sm btn-primary btn-block"> {{"menu.signup" | translate}}
          </button>
        </div>
        <div class="col-6">
          <button type="button" (click)="menuResponsive = false" routerLink="/login"
                  class="btn btn-sm btn-default btn-block">
            {{"menu.signin" | translate}}
          </button>
        </div>
      </div>
    </div>
    <div class="block-section pr-0 pl-0">
      <ul class="list-menu list-menu pt-2 pb-2">
        <li *ngIf="user_data" (click)="menuResponsive = false" [routerLink]="['/','purchases']">
          <div class="d-flex">
            <div>
              <img class="mega-menu-hover" src="../../../../../assets/images/menu-sale.svg" width="20px" alt="">
            </div>
            <div class="ml-4">
              <span class="cursor-pointer">{{"menu.my.purchases" | translate}}</span>
            </div>
          </div>
        </li>
        <li (click)="menuResponsive = false" [routerLink]="['/','search']"
            [queryParams]="{filters: 'products.featured,!=,not'}">
          <div class="d-flex">
            <div>
              <img class="mega-menu-hover" src="../../../../../assets/images/discount.svg" width="20px" alt="">
            </div>
            <div class="ml-4">
              <span class="cursor-pointer">{{"menu.product_features" | translate}}</span>
            </div>
          </div>
        </li>
        <li (click)="menuResponsive = false" [routerLink]="['/','search']" [queryParams]="{order: 'rand'}">
          <div class="d-flex">
            <div>
              <img class="mega-menu-hover" src="../../../../../assets/images/discount.svg" width="20px" alt="">
            </div>
            <div class="ml-4">
              <span class="cursor-pointer">{{"menu.special.travel" | translate}}</span>
            </div>
          </div>
        </li>
        <li (click)="menuResponsive = false" [routerLink]="['/','categories']">
          <div class="d-flex">
            <div>
              <img class="mega-menu-hover" src="../../../../../assets/images/menu-sale.svg" width="20px" alt="">
            </div>
            <div class="ml-4">
              <span class="cursor-pointer">{{"menu.categories" | translate}}</span>
            </div>
          </div>
        </li>
        <li *ngIf="user_data" (click)="menuResponsive = false" [routerLink]="['/','logout']">
          <div class="d-flex">
            <div>
              <img class="mega-menu-hover" src="../../../../../assets/images/menu-logout.svg" width="20px" alt="">
            </div>
            <div class="ml-4">
              <span class="cursor-pointer">{{"menu.logout" | translate}}</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="block-section pr-0 pl-0">
      <ul class="list-menu list-menu pt-2 pb-2">
        <li (click)="menuResponsive = false">
          <div class="d-flex">
            <div>
              <img class="mega-menu-hover" src="../../../../../assets/images/menu-help.svg" width="20px" alt="">
            </div>
            <div class="ml-4">
              <span class="cursor-pointer">{{"menu.help" | translate}}</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
