<div id="drop-menu"></div>
<app-header></app-header>
<router-outlet></router-outlet>
<ngx-loading-bar></ngx-loading-bar>
<app-footer></app-footer>

<!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>-->
<!--<script type="text/javascript">-->
<!--  var dthen1 = new Date("12/25/17 11:59:00 PM");-->
<!--  start = "05/03/15 03:02:11 AM";-->
<!--  start_date = Date.parse(start);-->
<!--  var dnow1 = new Date(start_date);-->
<!--  if (CountStepper > 0)-->
<!--    ddiff = new Date((dnow1) - (dthen1));-->
<!--  else-->
<!--    ddiff = new Date((dthen1) - (dnow1));-->
<!--  gsecs1 = Math.floor(ddiff.valueOf() / 1000);-->

<!--  var iid1 = "countbox_1";-->
<!--  CountBack_slider(gsecs1, "countbox_1", 1);-->

<!--  var dthen1 = new Date("12/12/17 11:59:00 PM");-->
<!--  start = "01/20/16 03:02:11 AM";-->
<!--  start_date = Date.parse(start);-->
<!--  var dnow1 = new Date(start_date);-->
<!--  if (CountStepper > 0)-->
<!--    ddiff = new Date((dnow1) - (dthen1));-->
<!--  else-->
<!--    ddiff = new Date((dthen1) - (dnow1));-->
<!--  gsecs1 = Math.floor(ddiff.valueOf() / 1000);-->

<!--  var iid1 = "countbox_2";-->
<!--  CountBack_slider(gsecs1, "countbox_2", 1);-->
<!--</script>-->
<!--<script type="text/javascript">-->
<!--  jQuery(document).ready(function(){-->
<!--    jQuery('#thm-rev-slider').show().revolution({-->
<!--      dottedOverlay: 'none',-->
<!--      delay: 5000,-->
<!--      startwidth: 0,-->
<!--      startheight:820,-->

<!--      hideThumbs: 200,-->
<!--      thumbWidth: 200,-->
<!--      thumbHeight: 50,-->
<!--      thumbAmount: 2,-->

<!--      navigationType: 'thumb',-->
<!--      navigationArrows: 'solo',-->
<!--      navigationStyle: 'round',-->

<!--      touchenabled: 'on',-->
<!--      onHoverStop: 'on',-->

<!--      swipe_velocity: 0.7,-->
<!--      swipe_min_touches: 1,-->
<!--      swipe_max_touches: 1,-->
<!--      drag_block_vertical: false,-->

<!--      spinner: 'spinner0',-->
<!--      keyboardNavigation: 'off',-->

<!--      navigationHAlign: 'center',-->
<!--      navigationVAlign: 'bottom',-->
<!--      navigationHOffset: 0,-->
<!--      navigationVOffset: 20,-->

<!--      soloArrowLeftHalign: 'left',-->
<!--      soloArrowLeftValign: 'center',-->
<!--      soloArrowLeftHOffset: 20,-->
<!--      soloArrowLeftVOffset: 0,-->

<!--      soloArrowRightHalign: 'right',-->
<!--      soloArrowRightValign: 'center',-->
<!--      soloArrowRightHOffset: 20,-->
<!--      soloArrowRightVOffset: 0,-->

<!--      shadow: 0,-->
<!--      fullWidth: 'on',-->
<!--      fullScreen: 'on',-->

<!--      stopLoop: 'off',-->
<!--      stopAfterLoops: -1,-->
<!--      stopAtSlide: -1,-->

<!--      shuffle: 'off',-->

<!--      autoHeight: 'on',-->
<!--      forceFullWidth: 'off',-->
<!--      fullScreenAlignForce: 'off',-->
<!--      minFullScreenHeight: 0,-->
<!--      hideNavDelayOnMobile: 1500,-->

<!--      hideThumbsOnMobile: 'off',-->
<!--      hideBulletsOnMobile: 'off',-->
<!--      hideArrowsOnMobile: 'off',-->
<!--      hideThumbsUnderResolution: 0,-->

<!--      hideSliderAtLimit: 0,-->
<!--      hideCaptionAtLimit: 0,-->
<!--      hideAllCaptionAtLilmit: 0,-->
<!--      startWithSlide: 0,-->
<!--      fullScreenOffsetContainer: ''-->
<!--    });-->
<!--  });-->
<!--</script>-->
