.bar-item-total {
  background-color: #ce0000;
}

.image-item {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.border-bottom-item {
  border-bottom: solid 1px #f3f3f3;
}

.border-bottom-item:last-child {
  border: 0px !important;
}

.price-font {
  font-size: 14px;
  font-weight: 600;
}
