<section class=" wow bounceInUp animated CollectionGrid-container">
  <div class="best-pro slider-items-products container">
    <div class="new_title">
      <h2>Mega ofertas</h2>
    </div>

    <div id="best-seller" class="product-flexslider hidden-buttons">
      <div class="slider-items slider-width-col4 products-grid">
        <owl-carousel
          #owlFeatured
          *ngIf="data && data.length"
          [options]="optionsOws"
          [items]="data"
          [carouselClasses]="['owl-theme', 'sliding']">
          <div class="item cursor-pointer" *ngFor="let dat of data;let i = index">
            <div class="item">
              <div class="item-inner">
                <div class="item-img">
                  <div class="item-img-info">
                      <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
                    <div class="item-box-hover">
                      <div class="box-inner">

                   
                        <div class="add_cart mt-1 mr-1">
                          <button class="button btn-cart" type="button"><span>Add to Cart</span></button>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
                <div class="item-info">
                  <div class="info-inner">
                    <div class="item-title mb-0">
                      <a href="http://themesground.com/flipmart-demo/V5/product-detail.html"
                                               title="Retis lapen casen">{{dat['name']}}</a>
                          
                     </div>
                     <div>
                       <a class="text-muted" href="#">
                          {{dat['shop_name']}}
                       </a>
                     </div>
                     <div class="item-content">
                        <div class="rating">
                          <div class="ratings">
                            <div class="rating-box">
                              <div class="rating" style="width:80%"></div>
                            </div>
                            <p class="rating-links"><a href="index.html#">1 Review(s)</a> <span class="separator">|</span>
                              <a href="index.html#">Add Review</a></p>
                          </div>
                        </div>
                     
  
                      </div>
                    <div *ngIf="dat['variations'] && (dat['variations']['length']>1)">
                      <span class="item-price-amount">Desde 100.00 <span class="euro-sign">€</span></span>
                    </div>
                    <div *ngIf="dat['variations'] && (dat['variations']['length']===1)">
                        <span class="item-price-amount">100.00 <span class="euro-sign">€</span></span>
                    </div>

                    <div *ngIf="dat['variations'] && (dat['variations']['length']===0)">
                        <span class="item-price-amount-unavailable text-muted"> 
                            <fa name="exclamation-circle"></fa>
                         No disponible</span>
                    </div>
                
                  </div>
                </div>
              </div>
            </div>
          </div>
        </owl-carousel>
      </div>
    </div>
  </div>
</section>
