.product-image img {
  width: 100%;
  height: 300px;
}

.item-box-hover {
  z-index: 9999 !important;
  height: 42px;
}

.item-price {
  z-index: 9999 !important;
  height: 40px;
}

.item-title {
  padding-top: 0px !important;
}

.item-title a {
  font-weight: 600 !important;
}

.item-price-avalible-on {
  font-size: 14px;
  font-weight: 600;
}

.item-price-amount {
  font-size: 16px;
  font-weight: 600;
}

.item-price-amount-unavailable {
  font-size: 14px;
  font-weight: 500;
  opacity: .4;
}

.item-price-amount-unavailable:hover {
  opacity: 1;
}

.products-grid .item .item-inner .item-img .item-box-hover .box-inner .add_cart button.button {
  margin-right: 0px !important;
}

.btn-cart:before {
  padding: 5px 10px !important;
  border-radius: 3px;
}
.item:hover .item-inner{
  /*transform: translateY(1em);*/
  -webkit-transition: -webkit-transform .3s ease-out;
}
.item:hover .item-img{
  transform: translateY(2em);
  -webkit-transition: -webkit-transform .3s ease-out;
}
.item:hover #info-box{
  /*display: none;*/
  -webkit-transition: -webkit-transform .3s ease-out;
}
.item .box-buttons-top-product #btn-car{
  display: none;
  position: absolute;
  z-index: 9;
  margin-left: 10px;
}
.item:hover .box-buttons-top-product #btn-car{
  display: block;
  -webkit-transition: -webkit-transform .3s ease-out;
}

.item:hover .bubble-shipping{

}

.bubble-shipping{
  width: 35px;
  height: 35px;
  position: absolute;
  right: 10px;
  margin-top: -30px;
  border-radius: 30px;
  border: solid 1px #e6e6e6;
  background-image: url("../../../../../../assets/images/delivery-truck-green.svg");
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
  background-color: white;
  z-index: 9999;
}

.btn-add-cart-shopping{
  border: solid 1px #e4e4e4;
  padding: .3rem .5rem .3rem .5rem;
}
.btn-add-cart-shopping:hover{
  background-color: whitesmoke;
  transform: scale(1.1);
}

.euro-sign {
  font-size: 18px
}

.item-info {
  min-height: 90px;
}

.time-ago-string {
  display: inline-block;
}

.time-ago-string:first-letter {
  text-transform: capitalize;
}

.price-regular .item-price-amount, .price-regular .euro-sign {
  font-size: 12px;
}

.price-regular {
  margin-left: 5px;
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: line-through;
  color: #b5b5b5;
}

.ngx-gallery-icon .a {
  color: red !important;
}
.timeline-item{
  max-width: 100%;
  min-height: 300px;
}
.CollectionGrid-tile{
  padding: 0 0 0 0;
  width: 25%;
}

.not-results{
  background: white;
  height: 200px;
  text-align: center;
  border: 1px solid #e8e8e8;
}

.not-results .title{
  font-size: 1rem;
}

@media screen 
  and (max-width: 450px) {

      .new_title h2 {
        padding: 0 0 0 .6rem !important;
        font-size: 1rem;
        font-weight: 400;
        color: gray;
      }
      #best-seller .owl-item .item{
        margin-top: 0px !important;
      }


      .name-product{
        display: none;
      }

      .item:hover .item-img{
        transform: translateY(0em) !important;
        -webkit-transition: -webkit-transform .3s ease-out;
      }

      .name-shop{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
  }