.product-image img {
  width: 100%;
  height: 300px;
}

.item-box-hover {
  z-index: 9999 !important;
  height: 42px;
}

.item-price {
  z-index: 9999 !important;
  height: 40px;
}

.item-title {
  padding-top: 0px !important;
}

.item-title a {
  font-weight: 600 !important;
}

.item-price-avalible-on {
  font-size: 14px;
  font-weight: 600;
}

.item-price-amount {
  font-size: 16px;
  font-weight: 600;
}

.item-price-amount-unavailable {
  font-size: 18px;
  font-weight: 500;
  opacity: .4;
}

.item-price-amount-unavailable:hover {
  opacity: 1;
}

.products-grid .item .item-inner .item-img .item-box-hover .box-inner .add_cart button.button {
  margin-right: 0px !important;
}

.btn-cart:before {
  padding: 11px 12px !important;
  border-radius: 20px;
}

.euro-sign {
  font-size: 18px
}

.item-info {
  min-height: 90px;
}

.time-ago-string {
  display: inline-block;
}

.time-ago-string:first-letter {
  text-transform: capitalize;
}

.price-regular .item-price-amount, .price-regular .euro-sign {
  font-size: 12px;
}

.price-regular {
  margin-left: 5px;
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: line-through;
  color: #b5b5b5;
}

.ngx-gallery-icon .a {
  color: red !important;
}
.timeline-item{
  max-width: 100%;
  min-height: 300px;
}
.CollectionGrid-tile{
  padding: 0 0 0 0;
  width: 25%;
}
