<section *ngIf="data.length" class=" wow bounceInUp animated CollectionGrid-container">
  <div class="best-pro slider-items-products container">
    <div class="new_title">
      <h2>Mega ofertas</h2>
    </div>

    <div id="best-seller" class="product-flexslider hidden-buttons">
      <div class="slider-items slider-width-col4 products-grid">
        <owl-carousel
          #owlFeatured
          *ngIf="data && data.length"
          [options]="optionsOws"
          [items]="data"
          [carouselClasses]="['owl-theme', 'sliding']">
          <div class="item cursor-pointer" *ngFor="let dat of data;let i = index">
            <div class="item">
              <div class="item-inner">
                <div class="item-img">
                  <div class="item-img-info">
                      <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
                    <div class="item-box-hover">
                      <div class="box-inner">

                   
                        <div 
                        *ngIf="dat['variations'] && (dat['variations']['length']>0)"
                        class="add_cart mt-1 mr-1">
                          <button class="button btn-cart" type="button"><span>Add to Cart</span></button>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
                <div class="item-info">
                  <div class="info-inner">
                    <div class="item-title mb-0">
                      <a href="http://themesground.com/flipmart-demo/V5/product-detail.html"
                                               title="Retis lapen casen">{{dat['name']}}</a>
                          
                     </div>
                     <div>
                       <a class="text-muted" href="#">
                          {{dat['shop_name']}}
                       </a>
                     </div>
              
                     <div class="item-content d-flex">
                        <ngx-stars [readonly]="true" initialStars="{{dat['score_shop']['score']}}"
                        customPadding="2px" color="#FFC400"></ngx-stars>
                        <span class="text-muted">({{dat['score_shop']['count']}})</span>
                      </div>
                    <div *ngIf="dat['is_available'] && ( dat['is_available']['isAvailable']!==false)">
                        <div class="d-flex"
                        *ngIf="dat['variations'] && (dat['variations']['length']>1)">
                              <div class="price-normal">
                                  <span class="item-price-amount">Desde 
                                      {{dat['variations']['item'][0]['price_normal'] |number:'1.2-2'}} 
                                      <span class="euro-sign">€</span></span>
                              </div>
                              <div class="price-regular">
                                  <span class="item-price-amount text-muted"> 
                                      {{dat['variations']['item'][0]['price_regular'] |number:'1.2-2'}} 
                                      </span>
                              </div>
                          </div>

                          <div class="d-flex"
                          *ngIf="dat['variations'] && (dat['variations']['length']===1)">
                                <div class="price-normal">
                                    <span class="item-price-amount">
                                        {{dat['variations']['item'][0]['price_normal'] |number:'1.2-2'}} 
                                        <span class="euro-sign">€</span></span>
                                </div>
                                <div class="price-regular">
                                    <span class="item-price-amount text-muted"> 
                                        {{dat['variations']['item'][0]['price_regular'] |number:'1.2-2'}} 
                                        </span>
                                </div>
                          </div>
      
                          <div *ngIf="dat['variations'] && (dat['variations']['length']===0)">
                              <span class="item-price-amount-unavailable text-muted"> 
                                  <fa name="history"></fa>
                               No stock</span>
                          </div>
                    </div>
          
                    <div *ngIf="dat['is_available'] && ( dat['is_available']['isAvailable']===false)">
                        <div *ngIf="dat['is_available']['nextOpen']">
                    
                            <div>
                              <span 
                              tooltip="Disponible"
                              class="item-price-avalible-on text-success"> 
                                  <fa name="hourglass" animation="spin" rotate="180" class="mr-1"></fa>
                                  <span class="time-ago-string" timeago 
                                  [date]="timeAgoNext(dat['is_available']['minutes'])"></span>
                    
                              </span>
                            </div>
                        </div>
                        <div *ngIf="!dat['is_available']['nextOpen']">
                            <span class="item-price-amount-unavailable text-muted"> 
                                <fa name="history"></fa>
                             No disponible</span>
                        </div>

                    </div>
                
                  </div>
                </div>
              </div>
            </div>
          </div>
        </owl-carousel>
      </div>
    </div>
  </div>
</section>
