<div class="sidebar-ecommerce">
  <div class="inside">
    <ul>
      <li>
        <div class="btn btn-default btn-block">
          <div>
            <fa name="list" size="2x"></fa>
          </div>
          <div>
            <span class="font-weight-bold">Productos</span>
          </div>
        </div>
      </li>
      <li>
        <div class="btn btn-default btn-block">
          <div>
            <fa name="shopping-cart" size="2x"></fa>
          </div>
          <div>
            <span class="font-weight-bold">Tiendas</span>
          </div>
        </div>
      </li>
      <li>
        <div class="btn btn-default btn-block">
          <div>
            <fa name="shopping-basket" size="2x"></fa>
          </div>
          <div>
            <span class="font-weight-bold">Pedidos</span>
          </div>
        </div>
      </li>
      <li>
        <div class="btn btn-default btn-block">
          <div>
            <fa name="hashtag" size="2x"></fa>
          </div>
          <div>
            <span class="font-weight-bold">Transaciones</span>
          </div>
        </div>
      </li>
      <li>
        <div class="btn btn-default btn-block">
          <div>
            <fa name="motorcycle" size="2x"></fa>
          </div>
          <div>
            <span class="font-weight-bold">Envios</span>
          </div>
        </div>
      </li>
      <li>
        <div class="btn btn-default btn-block">
          <div>
            <fa name="map-pin" size="2x"></fa>
          </div>
          <div>
            <span class="font-weight-bold">Direcciones</span>
          </div>
        </div>
      </li>

    </ul>
  </div>
</div>
