<div class="sidebar-ecommerce" [style.opacity]="(modeFocus)? '.4': '1'">
  <div class="inside d-flex flex-column justify-content-between h-100">
    <ul class="pl-0 pr-0">
      <li [routerLink]="['/','purchases']" [routerLinkActive]="['is-active']">
        <div class="btn btn-default btn-block border-0 pt-2 pb-2">
          <div>
            <img class="line-item-menu"
                 src="../../../../../../assets/images/menu-shopping-bag.svg"
                 width="20px" alt="">
          </div>
          <div>
            <span class="font-weight-bold">
              <span>Compras</span>
            </span>
          </div>
        </div>
      </li>
      <li [routerLink]="['/','sales']" [routerLinkActive]="['is-active']">
        <div class="btn btn-default btn-block border-0 pt-2 pb-2">
          <div>
            <img class="line-item-menu"
                 src="../../../../../../assets/images/menu-sale.svg"
                 width="20px" alt="">
          </div>
          <div>
            <span class="font-weight-bold">
              <span>Ventas</span>
            </span>
          </div>
        </div>
      </li>
      <li [routerLink]="['/','profile']" [routerLinkActive]="['is-active']">
        <div class="btn btn-default btn-block border-0 pt-2 pb-2">
          <div>
            <img class="line-item-menu"
                 src="../../../../../../assets/images/menu-settings.svg"
                 width="20px" alt="">
          </div>
          <div>
            <span class="font-weight-bold">Ajustes</span>
          </div>
        </div>
      </li>
      <li>
        <div class="btn btn-default btn-block border-0 pt-2 pb-2">
          <div>
            <img class="line-item-menu"
                 src="../../../../../../assets/images/menu-help.svg"
                 width="20px" alt="">
          </div>
          <div>
            <span class="font-weight-bold">Ayuda</span>
          </div>
        </div>
      </li>
      <li [routerLink]="['/','logout']" [routerLinkActive]="['is-active']">
        <div class="btn btn-default btn-block border-0 pt-2 pb-2">
          <div>
            <img class="line-item-menu"
                 src="../../../../../../assets/images/menu-logout.svg"
                 width="20px" alt="">
          </div>
          <div>
            <span class="font-weight-bold">Salir</span>
          </div>
        </div>
      </li>
    </ul>
    <div class="cursor-pointer text-center p-2 mb-4">
      <img
        [routerLink]="['/','profile']"
        class="img-profile-radius"
        [src]="data['avatar']" width="50px"
        height="50px" alt="">
    </div>
  </div>
</div>
