<div class="sidebar-ecommerce">
  <div class="inside">
    <ul>
      <li class="mb-4 first-item">
        <div class="cursor-pointer">
          <img
            [routerLink]="['/','dashboard']"
            class="img-profile-radius"
            [src]="data['avatar']" width="50px"
            height="50px" alt="">
        </div>

        <div tooltip="Cambiar menu" placement="right" (click)="switch()" *ngIf="type"
             class="icon-setting cursor-pointer">
          <fa [name]="(type==='shop') ? 'toggle-on' : 'toggle-off'"></fa>
        </div>
      </li>

      <li [routerLink]="['/',(type==='shop')? 'sales' : 'purchases']">
        <div class="btn btn-default btn-block border-0">
          <div>
            <fa name="shopping-basket" size="2x"></fa>

          </div>
          <div>
            <span class="font-weight-bold">
              <span *ngIf="type==='shop'">Ventas</span>
              <span *ngIf="type==='user'">Compras</span>
            </span>
          </div>
        </div>
      </li>
      <li *ngIf="type === 'shop'" [routerLink]="['/','products']">
        <div class="btn btn-default btn-block border-0">
          <div>
            <fa name="inbox" size="2x"></fa>
          </div>
          <div>
            <span class="font-weight-bold">Productos</span>
          </div>
        </div>
      </li>
      <li *ngIf="type === 'shop'" [routerLink]="['/','transactions']">
        <div class="btn btn-default btn-block border-0">
          <div>
            <fa name="hashtag" size="2x"></fa>
          </div>
          <div>
            <span class="font-weight-bold">Transaciones</span>
          </div>
        </div>
      </li>
      <li *ngIf="type === 'shop'" [routerLink]="['/','shop']">
        <div class="btn btn-default btn-block border-0">
          <div>
            <fa name="shopping-cart" size="2x"></fa>
          </div>
          <div>
            <span class="font-weight-bold">Tienda</span>
          </div>
        </div>
      </li>
      <li [routerLink]="['/','profile']">
        <div class="btn btn-default btn-block border-0">
          <div>
            <fa name="cogs" size="2x"></fa>
          </div>
          <div>
            <span class="font-weight-bold">Ajustes</span>
          </div>
        </div>
      </li>
      <li>
        <div class="btn btn-default btn-block border-0">
          <div>
            <fa name="question-circle" size="2x"></fa>
          </div>
          <div>
            <span class="font-weight-bold">Ayuda</span>
          </div>
        </div>
      </li>
      <li [routerLink]="['/','logout']">
        <div class="btn btn-default btn-block border-0">
          <div>
            <fa name="sign-in" size="2x"></fa>
          </div>
          <div>
            <span class="font-weight-bold">Salir</span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
