<ng-select [items]="datafilter"
           bindLabel="name"
           bindValue="id"
           #select
           (search)="search($event)"
           [ngModelOptions]="{standalone: true}"
           [clearable]="true"
           [openOnEnter]="false"
           [clearOnBackspace]="false"
           [searchable]="true"
           [multiple]="false"
           [virtualScroll]="true"
           [closeOnSelect]="false"
           (change)="selectOptions($event)"
           (keydown.enter)="srcSend($event);select.close()"
           placeholder="Buscar..."
           [ngModel]="src">

  <ng-template ng-option-tmp let-item="item" let-index="index">
    <div style="width: 10%">
      <div *ngIf="item.variations.item[0]">
        <img height="50" width="50" onError="this.src='assets/images/nofound.png'"
             [src]="item.variations.item[0].attacheds_small"/>
      </div>
    </div>
    <div style="width: 90%">
      {{item.name}} <br>
      <div itemprop="aggregateRating" itemscope="">
        <div class="rating">
          <div class="ratings">
            <div class="rating-box">
              <div class="rating" style="width:50%"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </ng-template>
</ng-select>
