.page-content{
  position: absolute;
  left: 90px;
  top: 66px;
  /*height: calc(100vh - 66px);*/
  width: calc(100% - 90px);
  overflow: auto;
  /*background: #f5f5f5;*/
  padding: 0 32px;
}
.inside-body{
  margin-top: 80px;
}
