.page-content{
  position: absolute;
  left: 90px;
  top: 66px;
  /*height: calc(100vh - 66px);*/
  width: calc(100% - 90px);
  overflow: auto;
  /*background: #f5f5f5;*/
  padding: 0 32px;
}
.inside-body{
  margin-top: 25px;
}
.title-content{
  font-weight: bold;
}
.block-dashboard{
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  display: block;
  padding: 0;
  background-color: white;
}