.card-header, .card-footer {
  background-color: transparent !important;
}

.card {
  border: 0px !important;
}

.letter-spacing-1{
  letter-spacing: 1px !important;
}

.opacity-05{
  opacity: .5;
}
.card-footer {
  border-top: 0px solid rgba(0,0,0,.125);
}
.timeline-item{
  min-height: 405px;
  margin: 0;
}