<section class="main-container  col2-right-layout mt-0">
  <app-sidebar></app-sidebar>
  <div class="page-content">
    <div class="container p-0">
      <div class="inside-body mb-4">

        <div *ngIf="!id">
          <div class="row" *ngIf="!cif_flag">
            <div class="col-8 offset-2">
              <div class="mt-4">
                <h3><b>Comienza a vender</b></h3>
                <p class="mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia repellat velit,
                  expedita dolores
                  maxime dolor. Mollitia atque sed nihil necessitatibus minus unde odit culpa accusamus alias,
                  reprehenderit repudiandae, distinctio accusantium.</p>

              </div>

              <div class="d-flex">
                <div class="col-12 p-0 mt-4">
                  <app-shop-cif (callback)="cif_callback($event)" class="block-dashboard mb-2"></app-shop-cif>
                </div>
              </div>
            </div>

          </div>

          <div class="row" *ngIf="cif_flag">
            <div class="col-12">
              <app-info-shop [data_inside]="data_inside" class="block-dashboard mb-2 col-12 p-0">
              </app-info-shop>
            </div>

          </div>
        </div>
        <div *ngIf="id">
          <tabset>
            <tab heading="Informacion" id="tab1">
              <div class="row">
                <div class="col-12">
                  <app-info-shop
                    [data_inside]="data_inside"
                    [id]="id" class="block-dashboard mb-2 col-12 p-0">
                  </app-info-shop>
                </div>

              </div>
            </tab>
            <tab heading="Horario">
              <div class="row">
                <div class="col-8 offset-2">
                  <app-schedules-shop
                    [id]="id" class="block-dashboard mb-2 col-12 p-0">
                  </app-schedules-shop>
                </div>
              </div>
            </tab>
          </tabset>
        </div>
      </div>
    </div>

  </div>
</section>
