<div class="col-12">
  <app-loading-apatxee *ngIf="loading_save"></app-loading-apatxee>
  <div *ngIf="loading" class="card block-dashboard border-0">
    <div class="timeline-item ">
      <div class="animated-background" style="height: 40px">
        <div class="background-masker header-top"></div>
        <div class="background-masker header-left"></div>
        <div class="background-masker header-right"></div>
        <div class="background-masker header-bottom"></div>
        <div class="background-masker subheader-left"></div>
        <div class="background-masker subheader-right"></div>
        <div class="background-masker subheader-bottom"></div>

      </div>
      <div class="animated-background mt-3" style="height: 40px">
        <div class="background-masker header-top"></div>
        <div class="background-masker header-left"></div>
        <div class="background-masker header-right"></div>
        <div class="background-masker header-bottom"></div>
        <div class="background-masker subheader-left"></div>
        <div class="background-masker subheader-right"></div>
        <div class="background-masker subheader-bottom"></div>

      </div>
      <div class="animated-background mt-3" style="height: 40px">
        <div class="background-masker header-top"></div>
        <div class="background-masker header-left"></div>
        <div class="background-masker header-right"></div>
        <div class="background-masker header-bottom"></div>
        <div class="background-masker subheader-left"></div>
        <div class="background-masker subheader-right"></div>
        <div class="background-masker subheader-bottom"></div>

      </div>
      <div class="animated-background mt-3" style="height: 40px">
        <div class="background-masker header-top"></div>
        <div class="background-masker header-left"></div>
        <div class="background-masker header-right"></div>
        <div class="background-masker header-bottom"></div>
        <div class="background-masker subheader-left"></div>
        <div class="background-masker subheader-right"></div>
        <div class="background-masker subheader-bottom"></div>

      </div>
    </div>
  </div>
  <div *ngIf="!loading" class="card block-dashboard border-0">
    <form [formGroup]="form" (submit)="save()">
      <div class="col p-3">
        <div class="form-group">
          <label>{{"page.create.product.name" | translate}}</label>
          <input type="text" formControlName="name" (ngModelChange)="emitPreview($event)" class="form-control"
                 [(ngModel)]="editform.name"
                 [placeholder]="'page.create.product.name.label' | translate">

        </div>

        <div class="form-group" [hidden]="true">
          <label>Tienda</label>
          <ng-select
            [items]="list_shops"
            [multiple]="false"
            [closeOnSelect]="true"
            [searchable]="false"
            [clearable]="false"
            class="select-create-product"
            [ngModelOptions]="{standalone: true}"
            bindLabel="name"
            placeholder=""
            [(ngModel)]="select_shop">
          </ng-select>
          <small class="text-muted mt-2 ml-2 mr-2">Lorem, ipsum dolor sit amet consectetur adipisicing
            elit.
            Sequi,
            tenetur.
          </small>
        </div>
        <div class="form-group">
          <label>{{"page.create.product.short_description" | translate}}</label>
          <textarea type="text" (ngModelChange)="emitPreview($event)" formControlName="short_description"
                    class="form-control"  rows="4" [placeholder]="'page.create.product.short_description.label' | translate"
                    [(ngModel)]="editform.short_description"
          ></textarea>


        </div>
        <div class="form-group">
          <label>{{"page.create.product.description" | translate}}</label>
          <quill-editor [(ngModel)]="editform.description"
          (ngModelChange)="emitPreview($event)" formControlName="description">
          </quill-editor>

        </div>
      </div>
      <div class="card-footer text-right">
        <button class="btn btn-primary btn-sm" [disabled]="loading_save" tabindex="0">
          <fa *ngIf="!loading_save" name="save"></fa>
          <fa *ngIf="loading_save" name="spinner" animation="spin"></fa>
        </button>
      </div>
    </form>
  </div>
</div>
