.fondoface {
  background-color: #4267b2!important;
  color: #ffffff!important;
}
.fondogoole {
  background-color: #df4b37!important;
  color: #ffffff!important;
}
.page-heading{
  background-color: #ce0100 !important;
  height: 300px;
  /*ce0100*/
}
.block-login{
  background: white;
  min-height: 300px;
  border-radius: 5px;
}

.main-container{
  min-height: 100px;
}

.back-button{
  font-size: 12px;
}

.btn-facebook{
  background-color: #3b5998;
  color:white;
}
.btn-facebook:hover{
  border-color: #5873aa !important;
}
.btn-google{
  background-color: #D44638;
  color:white;
}
.btn-google:hover{
  border-color: #B23121 !important;
}
