<section class="main-container col2-right-layout mt-0">
  <app-sidebar></app-sidebar>
  <div class="page-content pl-3 pr-3">
    <div class="p-0">
      <div class="inside-body mb-4 mt-3">
        <div class="p-0">
          <div class="row m-0">
            <div class="col-12 p-0">
              <div *ngIf="loading">
                <div class="timeline-item ">
                  <div class="animated-background" style="height: 40px">
                    <div class="background-masker header-top"></div>
                    <div class="background-masker header-left"></div>
                    <div class="background-masker header-right"></div>
                    <div class="background-masker header-bottom"></div>
                    <div class="background-masker subheader-left"></div>
                    <div class="background-masker subheader-right"></div>
                    <div class="background-masker subheader-bottom"></div>

                  </div>
                  <div class="animated-background mt-3" style="height: 40px">
                    <div class="background-masker header-top"></div>
                    <div class="background-masker header-left"></div>
                    <div class="background-masker header-right"></div>
                    <div class="background-masker header-bottom"></div>
                    <div class="background-masker subheader-left"></div>
                    <div class="background-masker subheader-right"></div>
                    <div class="background-masker subheader-bottom"></div>

                  </div>
                  <div class="animated-background mt-3" style="height: 40px">
                    <div class="background-masker header-top"></div>
                    <div class="background-masker header-left"></div>
                    <div class="background-masker header-right"></div>
                    <div class="background-masker header-bottom"></div>
                    <div class="background-masker subheader-left"></div>
                    <div class="background-masker subheader-right"></div>
                    <div class="background-masker subheader-bottom"></div>

                  </div>
                  <div class="animated-background mt-3" style="height: 40px">
                    <div class="background-masker header-top"></div>
                    <div class="background-masker header-left"></div>
                    <div class="background-masker header-right"></div>
                    <div class="background-masker header-bottom"></div>
                    <div class="background-masker subheader-left"></div>
                    <div class="background-masker subheader-right"></div>
                    <div class="background-masker subheader-bottom"></div>

                  </div>
                </div>
              </div>
              <div *ngIf="!loading" class="card block-dashboard border-0">
                <div class="col p-0 bg-table min-height-300">
                  <input class="form-control bg-transparent mb-2" type="text" name="search" [(ngModel)]="searchText"
                         autocomplete="off"
                         [placeholder]="'inside.menu.search.input' | translate">

                  <table *ngIf="data && data['data'].length" class="table table-shipment">
                    <tbody>
                    <tr *ngFor="let dat of data['data']  | filter:searchText ;let i = index"
                        [routerLink]="['/','purchases',dat['uuid']]"
                        class="list-table-item cursor-pointer">

                      <td [style.width]="'30%'" [style.borderRight]="'1px dashed #e4e4e4'">
                        <div class="d-flex justify-content-between flex-row-reverse">
                          <small class="text-muted">
                            Fecha {{ dat['created_at'] | date }}
                          </small>
                          <small>
                            Orden No. {{dat['id']}}
                          </small>
                        </div>
                        <div class="d-flex">
                          <div class="p-2">
                            <img width="40px" height="40px" style="border-radius:3px"
                                 [src]="dat['logo_brand']" alt="">
                          </div>
                          <div class="ml-2">
                            <div>
                              <span class="form-text text-color-gray">
                                <fa name="tag"></fa>
                                {{dat['shops_name']}}
                              </span>
                            </div>
                            <div>
                              <span class="form-text text-color-gray">
                                <fa name="phone"></fa>
                                {{dat['shops_mobil']}} / {{dat['shops_fixed']}}
                              </span>
                            </div>
                          </div>
                        </div>
                      </td>
                      <td [style.width]="'50%'" class="p-0 list-detail-products" [style.borderRight]="'1px dashed #e4e4e4'">
                        <ul class="list-unstyled m-0 list-items">
                          <li *ngFor="let i of dat.list?.detail" class="pl-3 pr-3 pt-1 pb-1 form-text text-color-gray d-flex justify-content-between">
                            <span>{{i['product_label']}}</span>
                            <span>{{i['product_amount'] |number:'1.2-2'}} {{"currency" | translate}}</span>
                          </li>
                        </ul>
                      </td>
                      <td class="text-right" [style.width]="'15%'">
                        <div [tooltip]="dat['status']" class="mb-1">
                              <span class="badge p-1" [ngClass]="{'badge-success':(dat['status']==='success'),
                                'badge-danger':(dat['status']!=='success')}">
                                <span *ngIf="dat['status']==='success'">Pagado</span>
                                <span *ngIf="dat['status']!=='success'">Esperando pago</span>
                              </span>
                        </div>
                        <span>Total</span>
                        <h6 class="m-0">
                          {{dat['amount'] |number:'1.2-2'}} {{"currency" | translate}}
                        </h6>
                        <p class="text-muted m-0">
                          {{dat['amount_shipping'] |number:'1.2-2'}} {{"currency" | translate}}
                        </p>
                      </td>

                    </tr>
                    </tbody>
                  </table>
                  <div *ngIf="data && !data['data'].length" class="text-center pb-4">
                    <img src="../../../../../assets/images/paper-bag.svg" class="mt-4" width="100px" alt="">
                    <div class="mt-2">
                      <p class="text-muted p-4">¿Sin compras? ¡No hay problema! Explora Apatxee y encuentra productos
                        increíbles</p>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
