.img-profile-drag img {
  width: 135px !important;
  height: 135px !important;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 100px;
  border: solid 1px #e2e2e2;
  margin-bottom: 30px;
  margin-top: 5px;
}


.img-profile-drag-profile img {
  width: 135px !important;
  height: 135px !important;
  margin-bottom: 30px;
  margin-top: 5px;
  opacity: .3;
}
