<div class="card block-dashboard border-0">
  <div class="card-header">
    <b>{{"page.shop.create.header" | translate}}</b>
  </div>
  <div class="col p-3">
    <form [formGroup]="form">
      <div class="form-group">

        <input type="text" class="form-control" formControlName="cif" [(ngModel)]="editform.cif"
          placeholder="B12345678">
        <small class="text-muted">{{"page.shop.create.label" | translate}}</small>
      </div>

    </form>

  </div>
  <div class="card-footer text-right">
    <button type="button" (click)="validate()" [disabled]="data && data.length"
     class="btn btn-primary btn-sm" tabindex="0">
     Validar
    </button>
  </div>
</div>
