<div *ngIf="loading">
    <div class="timeline-item">
      <div class="animated-background" style="height: 40px">
        <div class="background-masker header-top"></div>
        <div class="background-masker header-left"></div>
        <div class="background-masker header-right"></div>
        <div class="background-masker header-bottom"></div>
        <div class="background-masker subheader-left"></div>
        <div class="background-masker subheader-right"></div>
        <div class="background-masker subheader-bottom"></div>

      </div>
      <div class="animated-background mt-3" style="height: 40px">
        <div class="background-masker header-top"></div>
        <div class="background-masker header-left"></div>
        <div class="background-masker header-right"></div>
        <div class="background-masker header-bottom"></div>
        <div class="background-masker subheader-left"></div>
        <div class="background-masker subheader-right"></div>
        <div class="background-masker subheader-bottom"></div>

      </div>
    </div>
  </div>
<div *ngIf="!loading" class="block-dashboard p-2">
  <div class="d-flex cursor-pointer" *ngFor="let dat of data; let indice = index">
    <div class="col-3 pl-0">
      <img class="img-cover-shop" src="https://picsum.photos/200" alt="">
    </div>
    <div class="col-9">
      <div>
          <h5><b>{{dat['name']}}</b></h5>
          <p>{{dat['email_corporate']}}.</p>
          <p class="text-muted">{{dat['address']}}</p>
      </div>
   <div class="text-right">
     <button 
     [routerLink]="['/','shop','edit',dat['id']]"
     class="btn btn-outline-seconday btn-sm">
       Ver
     </button>
   </div>
    </div>
  </div>
</div>