<div class="box-info border-color">
  <div class="container">
    <div class="row">
      <div class="our-features-box wow bounceInUp animated animated">
        <div class="container">
          <ul>
            <li>
              <div class="feature-box free-shipping">
                <div class="icon-return icon-main"></div>
                <div>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos esse explicabo nemo nisi pariatur porro quasi sint sit sunt ullam!
                </div>
              </div>
            </li>
            <li>
              <div class="feature-box free-shipping">
                <div class="icon-return icon-main"></div>
                <div>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos esse explicabo nemo nisi pariatur porro quasi sint sit sunt ullam!
                </div>
              </div>
            </li>
            <li>
              <div class="feature-box free-shipping">
                <div class="icon-return icon-main"></div>
                <div>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos esse explicabo nemo nisi pariatur porro quasi sint sit sunt ullam!
                </div>
              </div>
            </li>
            <li>
              <div class="feature-box free-shipping">
                <div class="icon-return icon-main"></div>
                <div>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos esse explicabo nemo nisi pariatur porro quasi sint sit sunt ullam!
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--row-->
  </div>
  <!--container-->
</div>
