<div class="box-info border-color">
  <div class="container">
    <div class="row">
      <div class="our-features-box wow bounceInUp animated animated">
        <div class="container mb-3 row mt-0 ml-0 mr-0">
          <div @tijl class="col-lg-3 col-xs-12 col-md-6 mb-4 text-center">
            <img class="m-3" src="../../../../../../assets/images/ah_peopel_bag.svg"
                 width="60" [alt]="'box_info.first' | translate">
            <div [innerHTML]="'box_info.first' | translate"></div>
          </div>
          <div @tijl class="col-lg-3 col-xs-12 col-md-6 mb-4 text-center">
            <img class="m-3" src="../../../../../../assets/images/ah_people_couch.svg"
                 width="60" [alt]="'box_info.second' | translate">
            <div [innerHTML]="'box_info.second' | translate"></div>
          </div>
          <div @tijl class="col-lg-3 col-xs-12 col-md-6  mb-4 text-center">
            <img class="m-3" src="../../../../../../assets/images/ah_website_exclusive.svg"
                 width="60" [alt]="'box_info.third' | translate">
            <div [innerHTML]="'box_info.third' | translate"></div>
          </div>
          <div @tijl class="col-lg-3 col-xs-12 col-md-6  mb-4 text-center">
            <img class="m-3" src="../../../../../../assets/images/ah_payment.svg"
                 width="60" [alt]="'box_info.forth' | translate">
            <div [innerHTML]="'box_info.forth' | translate"></div>
          </div>
          <!--          <ul>-->
          <!--            <li>-->
          <!--              <div class="feature-box free-shipping">-->
          <!--                <img src="../../../../../../assets/images/grocery.svg" width="50"  alt="">-->
          <!--                <div>-->
          <!--                    {{"box_info.first" | translate}}-->
          <!--                </div>-->
          <!--              </div>-->
          <!--            </li>-->
          <!--            <li>-->
          <!--              <div class="feature-box free-shipping">-->
          <!--                <img src="../../../../../../assets/images/grocery.svg" width="50"  alt="">-->
          <!--                <div>-->
          <!--                  {{"box_info.second" | translate}}-->
          <!--                </div>-->
          <!--              </div>-->
          <!--            </li>-->
          <!--            <li>-->
          <!--              <div class="feature-box free-shipping">-->
          <!--                <img src="../../../../../../assets/images/grocery.svg" width="50"  alt="">-->
          <!--                <div>-->
          <!--                  {{"box_info.third" | translate}}-->
          <!--                </div>-->
          <!--              </div>-->
          <!--            </li>-->
          <!--            <li>-->
          <!--              <div class="feature-box free-shipping">-->
          <!--                <img src="../../../../../../assets/images/grocery.svg" width="50"  alt="">-->
          <!--                <div>-->
          <!--                  {{"box_info.forth" | translate}}-->
          <!--                </div>-->
          <!--              </div>-->
          <!--            </li>-->
          <!--          </ul>-->
        </div>
      </div>
    </div>
    <!--row-->
  </div>
  <!--container-->
</div>
