<section class="main-container  col2-right-layout mt-0">
  <app-sidebar></app-sidebar>

  <div class="page-content">
    <div class="container p-0">
      <div class="inside-body mb-4">
        <tabset>
          <tab *ngFor="let dat of data_shops; let indice = index" [heading]="dat['name'] | slice:0:16" [id]="dat['id']">
              <div class="container p-0">
                  <div class="row pb-2">
                    <div class="col-4 pr-0">
                        <app-dashboard-total class="block-dashboard min-height-300">
                        </app-dashboard-total>
                    </div>
                    <div class="col-4 pr-0">
                        <app-dashboard-total class="block-dashboard min-height-300">
                        </app-dashboard-total>
                    </div>
                    <div class="col-4 pr-0">
                        <app-dashboard-total class="block-dashboard min-height-300">
                        </app-dashboard-total>
                    </div>
                    <div class="col-12 mt-3">
                        <app-dashboard-total class="block-dashboard min-height-300">
                        </app-dashboard-total>
                    </div>
                  </div>
                </div>
          
          </tab>
        </tabset>
      </div>
    </div>

  </div>
</section>