<accordion [isAnimated]="true">
  <div *ngFor="let cat of filters | keyvalue">
    <accordion-group
      *ngIf="cat['key'] !== 'product_attr'"
      [isOpen]="true" [heading]="cat['key'] | translate">
      <div>
        <ul>
          <li *ngFor="let c of cat['value']">
            <p-checkbox shape="round" color="primary"
                        (click)="selectOption(c)"
                        outline="true" plain="true" animation="smooth">
              {{c['name']}}
            </p-checkbox>
          </li>
        </ul>
      </div>
    </accordion-group>
  </div>
  <div *ngFor="let cat of filters['product_attr'] | keyvalue">
    <accordion-group
      [isOpen]="true" [heading]="cat['key'] | translate">
      <div>
        <ul>
          <li *ngFor="let c of cat['value']">
            <p-checkbox
              (click)="selectAttr(c)"
              shape="round" color="primary" outline="true" plain="true" animation="smooth">
              {{c['value']}}
            </p-checkbox>
          </li>
        </ul>
      </div>
    </accordion-group>
  </div>
</accordion>
