<accordion [isAnimated]="true">
    <accordion-group [isOpen]="true" heading="Categorías">
      <div>
      <ul>
        <li>
            <p-checkbox shape="round" color="primary" outline="true" plain="true" animation="smooth">
                Default
              </p-checkbox>
        </li>
        <li>
            <p-checkbox shape="round" color="primary" outline="true" plain="true" animation="smooth">
                Default
              </p-checkbox>
        </li>
        <li>
            <p-checkbox shape="round" color="primary" outline="true" plain="true" animation="smooth">
                Default
              </p-checkbox>
        </li>
      </ul>
      </div>
    </accordion-group>
    <accordion-group [isOpen]="true"  heading="Color">
      <p>Some content</p>
    </accordion-group>
    <accordion-group [isOpen]="true"  heading="Numero">
      <p>Some content</p>
    </accordion-group>
    <accordion-group [isOpen]="true"  heading="Another group">
      <p>Some content</p>
    </accordion-group>
  </accordion>