.title-content {
  font-weight: bold;
}

.block-dashboard {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  display: block;
  padding: 0;
  background-color: white;
}

.timeline-item {
  max-width: 100%;
}

.card-header, .card-footer {
  background-color: transparent !important;
}

.card {
  border: solid 1px #e8e8e8 !important;
  border-radius: 0px;
}

.block-dashboard {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  display: block;
  padding: 0;
  background-color: white;
}

.table td, .table th {
  border: 0px
}

.img-contain {
  object-fit: contain;
}

.list-table-item {
  background-color: white;
  box-shadow: 0px 0px 5px #f1f1f1
}

.bg-table {
  background: #fbfbfb;
}

.image-bran {
  width: 60px;
  height: 60px;
  object-fit: contain;
  border: solid 1px #e8e8e8;
  border-radius: 3px;
}

.item-image {
  width: 60px;
  height: 60px;
  background-color: #f7f7f7;
  border-radius: 3px;
}

.image-td {
  width: 100px;
}

.list-table-item:hover {
  -webkit-transition: .1s ease-in-out;
  -moz-transition: .1s ease-in-out;
  -o-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
  border-left: solid 5px #2980b9;
  background-color: rgba(244, 94, 59, 0.03)
}

.list-table-item.active {
  border-left: solid 5px #2980b9;
  -webkit-transition: .1s ease-in-out;
  -moz-transition: .1s ease-in-out;
  -o-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
  background-color: rgba(244, 94, 59, 0.15);
}
