<div class="col-12">
  <div *ngIf="loading">
    <div class="timeline-item ">
      <div class="animated-background" style="height: 40px">
        <div class="background-masker header-top"></div>
        <div class="background-masker header-left"></div>
        <div class="background-masker header-right"></div>
        <div class="background-masker header-bottom"></div>
        <div class="background-masker subheader-left"></div>
        <div class="background-masker subheader-right"></div>
        <div class="background-masker subheader-bottom"></div>

      </div>
      <div class="animated-background mt-3" style="height: 40px">
        <div class="background-masker header-top"></div>
        <div class="background-masker header-left"></div>
        <div class="background-masker header-right"></div>
        <div class="background-masker header-bottom"></div>
        <div class="background-masker subheader-left"></div>
        <div class="background-masker subheader-right"></div>
        <div class="background-masker subheader-bottom"></div>

      </div>
      <div class="animated-background mt-3" style="height: 40px">
        <div class="background-masker header-top"></div>
        <div class="background-masker header-left"></div>
        <div class="background-masker header-right"></div>
        <div class="background-masker header-bottom"></div>
        <div class="background-masker subheader-left"></div>
        <div class="background-masker subheader-right"></div>
        <div class="background-masker subheader-bottom"></div>

      </div>
      <div class="animated-background mt-3" style="height: 40px">
        <div class="background-masker header-top"></div>
        <div class="background-masker header-left"></div>
        <div class="background-masker header-right"></div>
        <div class="background-masker header-bottom"></div>
        <div class="background-masker subheader-left"></div>
        <div class="background-masker subheader-right"></div>
        <div class="background-masker subheader-bottom"></div>

      </div>
    </div>
  </div>

  <div *ngIf="!loading">
    <!--    <div class="text-right">-->
    <!--      <button class="btn btn-primary btn-sm mb-2"-->
    <!--              [routerLink]="['/','products','create']">-->
    <!--        Agregar producto-->
    <!--      </button>-->
    <!--    </div>-->
    <div class="alert alert-warning" *ngIf="user_data && !user_data['confirmed']">
      Debes verificar tu <a class="text-info" routerLink="/profile">numero movil.</a> de lo contrario tus productos no
      seran visibles.
    </div>
    <div class="card block-dashboard border-0">
      <div class="col p-0 bg-table min-height-300">
        <table *ngIf="data && data['data'].length" class="table table-shipment">
          <thead>
          <tr class="d-none">
            <th scope="col" [style.width]="'100px'"></th>
            <th scope="col"></th>
            <th scope="col" class="text-center" [style.width]="'150px'"></th>
          </tr>
          </thead>
          <tbody>
          <tr class="list-table-item cursor-pointer active">
            <td class="image-td">

            </td>
            <td>
              <div>
                <h6 class="font-weight-600">Añadir producto</h6>
              </div>
              <span class="text-muted form-text">Comienza a generar dinero
            </span>
            </td>
            <td class="align-middle text-right">
              <button class="btn btn-lg btn-primary" [routerLink]="['/','products','create']">
                <fa name="plus"></fa>
              </button>

            </td>
          </tr>
          <tr *ngFor="let dat of data?.data;let i = index"
              class="list-table-item cursor-pointer">
            <td class="image-td">
              <img
                *ngIf="dat['cover_image']"
                [src]="dat['cover_image']['small']"
                class="image-bran"
                alt="">
              <div *ngIf="!dat['cover_image']" class="item-image">
              </div>
            </td>
            <td>
              <div>
                <span class="font-weight-600">{{dat['name'] | truncate : 70 :  '...'}}</span>
              </div>
              <span class="text-muted form-text">
            <span class="badge mr-1"
                  [ngClass]="{
                'badge-success':(dat['variations']['length'] > 0),
                'badge-danger':(dat['variations']['length'] < 1)}">
                <span *ngIf="(dat['variations']['length'] > 0)">
                  <fa name="check"></fa>
                </span>
                <span *ngIf="(dat['variations']['length'] < 1)">
                   <fa name="times"></fa>
                </span>
              </span>
              <b>{{dat['variations']['length']}}</b> variaciones
            </span>
            </td>
            <td class="align-middle text-right">
              <a target="_blank"
                [routerLink]="['/','single',utils.slug(dat['name'])+'-'+dat['id']]"
                class="btn btn-link btn-sm mr-1">
                <fa name="eye"></fa>
              </a>
              <button
                [routerLink]="['/','products','edit',dat['id']]"
                class="btn btn-link btn-sm mr-1">
                <fa name="edit"></fa>
              </button>
              <button class="btn btn-link btn-sm" (click)="deleteProduct(dat['id'], i)">
                <fa name="trash"></fa>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
        <div *ngIf="data && !data['data'].length" class="text-center p-4 cursor-pointer"
             [routerLink]="['/','products','create']">
          <img src="../../../../../assets/images/new-product.svg"
               class="mt-4"
               width="100px" alt="">
          <div class="mt-2">
            <p ><span class="text-muted">Aun no tienes productos</span> <br> <b>Agregar</b></p>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
