<div class="modal-content">
  <div class="modal-header">
    <div *ngIf="!loading_save">
      <h6 class="modal-title" *ngIf="!error">
        <fa name="check-circle" class="text-success"></fa>
        Item agregado
      </h6>
      <h6 class="modal-title" *ngIf="error">
        <fa name="exclamation" class="text-danger"></fa>
        {{error | translate}}
      </h6>
    </div>

    <button type="button" class="close" data-dismiss="modal" (click)="bsModalRef.hide()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div *ngIf="!finish" class="modal-body product_image">
    <div class="col-12 p-0 row m-0">
      <h6 class="mb-2 font-weight-600">{{data?.name}}</h6>
      <p class="mb-2">{{data?.short_description |words:12 }}</p>
    </div>
    <div class="block-qty mt-4 mb-4">
      <label>Cantidad</label>
      <owl-carousel
        #owlElement
        *ngIf="qty_list?.length" [options]="owlOption"
        [items]="qty_list"
        [carouselClasses]="['owl-theme', 'row', 'sliding']">
        <div class="item text-center" *ngFor="let a of qty_list;let i = index">
          <h1 [attr.data-index]="a">{{a}}</h1>
        </div>
      </owl-carousel>
    </div>

  </div>
  <div *ngIf="finish" class="modal-body">
    <div *ngIf="loading_save" class="best-pro slider-items-products container">
      <div class="CollectionGrid container min-height-300">
        <div class="CollectionGrid-tile hover-overlay-light">
          <div class="timeline-item">
            <div class="animated-background" style="height: 150px">
            </div>
            <div class="animated-background mt-3" style="height: 40px">
              <div class="background-masker header-top"></div>
              <div class="background-masker header-left"></div>
              <div class="background-masker header-right"></div>
              <div class="background-masker header-bottom"></div>
              <div class="background-masker subheader-left"></div>
              <div class="background-masker subheader-right"></div>
              <div class="background-masker subheader-bottom"></div>

            </div>
          </div>
        </div>
        <div class="CollectionGrid-tile hover-overlay-light">
          <div class="timeline-item">
            <div class="animated-background" style="height: 150px">
            </div>
            <div class="animated-background mt-3" style="height: 40px">
              <div class="background-masker header-top"></div>
              <div class="background-masker header-left"></div>
              <div class="background-masker header-right"></div>
              <div class="background-masker header-bottom"></div>
              <div class="background-masker subheader-left"></div>
              <div class="background-masker subheader-right"></div>
              <div class="background-masker subheader-bottom"></div>

            </div>
          </div>
        </div>
        <div class="CollectionGrid-tile hover-overlay-light">
          <div class="timeline-item">
            <div class="animated-background" style="height: 150px">
            </div>
            <div class="animated-background mt-3" style="height: 40px">
              <div class="background-masker header-top"></div>
              <div class="background-masker header-left"></div>
              <div class="background-masker header-right"></div>
              <div class="background-masker header-bottom"></div>
              <div class="background-masker subheader-left"></div>
              <div class="background-masker subheader-right"></div>
              <div class="background-masker subheader-bottom"></div>

            </div>
          </div>
        </div>
        <div class="CollectionGrid-tile hover-overlay-light">
          <div class="timeline-item">
            <div class="animated-background" style="height: 150px">
            </div>
            <div class="animated-background mt-3" style="height: 40px">
              <div class="background-masker header-top"></div>
              <div class="background-masker header-left"></div>
              <div class="background-masker header-right"></div>
              <div class="background-masker header-bottom"></div>
              <div class="background-masker subheader-left"></div>
              <div class="background-masker subheader-right"></div>
              <div class="background-masker subheader-bottom"></div>

            </div>
          </div>
        </div>

        <div class="CollectionGrid-tile hover-overlay-light">
          <div class="timeline-item">
            <div class="animated-background" style="height: 150px">
            </div>
            <div class="animated-background mt-3" style="height: 40px">
              <div class="background-masker header-top"></div>
              <div class="background-masker header-left"></div>
              <div class="background-masker header-right"></div>
              <div class="background-masker header-bottom"></div>
              <div class="background-masker subheader-left"></div>
              <div class="background-masker subheader-right"></div>
              <div class="background-masker subheader-bottom"></div>

            </div>
          </div>
        </div>

      </div>
    </div>
    <div *ngIf="!loading_save">
      <app-block-login
        *ngIf="error === 'not_session'"
        [redirect]="false"
        class="block-login-modal"
        [modalPadding]="'p-0'">
      </app-block-login>
      <div class="container" *ngIf="error === 'user_not_confirmed'">
        <div class="row pt-2 pb-2">
          <div class="col-6 text-center">
            <img src="../../../../../assets/images/message-on-phone.svg" height="70px" alt="">
          </div>
          <div class="col-6 text-center text-muted">
            <p [innerHTML]="'modal.cart.shopping.not_confirmed' |translate"></p>
          </div>
        </div>
      </div>
      <div class="container" *ngIf="error === 'not_available'">
        <div class="row pt-2 pb-2">
          <div class="col-6 text-center">
            <img src="../../../../../assets/images/calendar.svg" height="70px" alt="">
          </div>
          <div class="col-6 text-center text-muted">
            <p [innerHTML]="'modal.cart.shopping.not_available' |translate"></p>
          </div>
        </div>
      </div>
      <div class="container" *ngIf="error === 'not_allowed_is_my_product'">
        <div class="row pt-2 pb-2">
          <div class="col-6 text-center">
            <img src="../../../../../assets/images/remove-friend.svg" height="70px" alt="">
          </div>
          <div class="col-6 text-center text-muted">
            <p [innerHTML]="'modal.cart.shopping.not_allowed_is_my_product' |translate"></p>
          </div>
        </div>
      </div>
      <div *ngIf="!error">
        <div>
          <span class="text-muted">Otros productos de interes</span>
        </div>
        <app-box-featured-product w="200px" h="220px" id='offers'>
        </app-box-featured-product>
        <div class="text-center">
          <button class="btn-outline-secondary btn" type="buttom" (click)="bsModalRef.hide()">Continuar</button>
          <button class="btn-outline-primary btn ml-4" (click)="bsModalRef.hide()" [routerLink]="['/','shopping-cart']">
            Finalizar compra
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer" *ngIf="!finish">
    <div class="container d-flex justify-content-between">
      <div class="text-center">
        <button type="button" class="btn btn-default">
          Cancelar
        </button>
      </div>
      <div class="text-center">
        <button type="button" (click)="addProduct()" class="btn btn-primary">
          Continuar
        </button>
      </div>
    </div>
  </div>
</div>
