footer .footer-inner {
  background-color: #000000;
}

footer .tab-float {
  background: white;
  position: fixed;
  bottom: 0;
  z-index: 9;
  padding: .7rem;
  border-top-right-radius: 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  -webkit-transition: .1s ease-in-out;
  -moz-transition: .1s ease-in-out;
  -o-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

footer .footer-line {
  background: white;
  padding: .6rem;
  position: fixed;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, .15);
  z-index: 9;
  bottom: 0;
  width: 100%;
  -webkit-transition: .1s ease-in-out;
  -moz-transition: .1s ease-in-out;
  -o-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

footer .list-ul {
  list-style: none;
  display: inline-flex;
}

footer .list-ul li {
  margin-left: .5rem;
  margin-right: .5rem;
}

footer a {
  color: gray;
}

footer .brand {
  font-size: 100%;
  font-weight: 600;
}
