<footer *ngIf="!footer">
  <div class="tab-float cursor-pointer box-copyright" (click)="showSwitch()" [style.marginBottom]="(show) ? '35px' : ''">
    {{"footer.label.tap" |translate}}
    <span class="ml-2">
      <fa [name]="(show) ? 'angle-down' : 'angle-up'" size="lg"></fa>
    </span>
  </div>
  <div class="tab-float-right cursor-pointer box-languages" (click)="showSwitchLanguage()"
    [style.marginBottom]="(showLanguage) ? '35px' : ''">
    {{"footer.label.language" |translate}} <flag-icon country="{{flagLanguage}}"></flag-icon>
    <span class="ml-2">
      <fa [name]="(showLanguage) ? 'angle-down' : 'angle-up'" size="lg"></fa>
    </span>
  </div>
  <div class="footer-line text-center" *ngIf="show">
    <div>
      <ul class="list-ul">
        <li>
          <span class="brand"><b>{{"footer.main.name" | translate}}</b></span>
        </li>
        <li *ngFor="let c of data">
          <a target="_blank" [routerLink]="['/','blog',c['id'],util.slug(c['title'])]">{{c['title']}}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-line text-center" *ngIf="showLanguage">
    <div>
      <ul class="list-ul">
        <li (click)="chooseLanguage('es','es')" class="cursor-pointer">
          {{"footer.item.language.es" | translate}} <flag-icon country="es"></flag-icon>
        </li>
        <li (click)="chooseLanguage('en','us')" class="cursor-pointer">
          {{"footer.item.language.en" | translate}} <flag-icon country="us"></flag-icon>
        </li>
      </ul>
    </div>
  </div>
</footer>
