<footer *ngIf="!footer">
  <div class="tab-float cursor-pointer"
       (click)="showSwitch()"
       [style.marginBottom]="(show) ? '35px' : ''">{{"footer.label.tap" |translate}}
    <span class="ml-2">
    <fa [name]="(show) ? 'angle-down' : 'angle-up'" size="lg"></fa>
  </span>
  </div>
  <div class="footer-line text-center" *ngIf="show">
    <div>
      <ul class="list-ul">
        <li>
          <span class="brand"><b>Apatxee on time 2019</b></span>
        </li>
        <li *ngFor="let c of data">
          <a [routerLink]="['/','blog',c['id'],util.slug(c['title'])]">{{c['title']}}</a>
        </li>
      </ul>
    </div>
  </div>
</footer>

